Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support

Create meeting notes sig-economics #28 (#944)
  sig-economics/meetings/028-2025-06-11.md
Owners: @akash-network/sig-economics

Update 005-2025-05-28.md
  wg-events/meeting-2025/005-2025-05-28.md
Owners: @akash-network/community-global

wg meeting notes #5 (#947)
  wg-events/meeting-2025/005-2025-05-28.md
Owners: @akash-network/community-global

update readme table
  sig-community/README.md
  sig-design/README.md
  sig-documentation/README.md
  sig-economics/README.md
  sig-support/README.md
  sig-support/meetings/045-2025-06-18.md
  wg-events/README.md
Owners: @akash-network/sig-community, @akash-network/community-global, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-support

Update steering committee README.md
  committee-steering/README.md
Owners: @akash-network/community-global

meeting notes sig-analytics #17
  sig-analytics/meetings/017-2025-02-20.md
Owners: @akash-network/sig-analytics

meeting notes Sig Client #21
  sig-clients/meetings/021-2025-07-01.md
Owners: @akash-network/sig-clients

Meeting notes sig-providers #30
  sig-providers/meetings/030-2025-07-2.md
Owners: @akash-network/sig-providers

meeting notes Sig-Docs #17
  sig-documentation/meetings/017-2025-06-25.md
Owners: @akash-network/sig-documentation

meeting notes steering committee #29
  committee-steering/meetings/029-2025-07-03.md
Owners: @akash-network/community-global

update readme table-June (#958)
  sig-community/README.md
  sig-design/README.md
  sig-documentation/README.md
  sig-economics/README.md
  sig-support/README.md
  sig-support/meetings/045-2025-06-18.md
  wg-events/README.md
Owners: @akash-network/sig-community, @akash-network/community-global, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-support

Update 017-2025-02-20.md
  sig-analytics/meetings/017-2025-02-20.md
Owners: @akash-network/sig-analytics

meeting notes sig-analytics #17 (#963)
  sig-analytics/meetings/017-2025-02-20.md
Owners: @akash-network/sig-analytics

Update 021-2025-07-01.md
  sig-clients/meetings/021-2025-07-01.md
Owners: @akash-network/sig-clients

meeting notes Sig Client #21 (#965)
  sig-clients/meetings/021-2025-07-01.md
Owners: @akash-network/sig-clients

Update 029-2025-07-03.md
  committee-steering/meetings/029-2025-07-03.md
Owners: @akash-network/community-global

meeting notes steering committee #29 (#968)
  committee-steering/meetings/029-2025-07-03.md
Owners: @akash-network/community-global

Update 017-2025-06-25.md
  sig-documentation/meetings/017-2025-06-25.md
Owners: @akash-network/sig-documentation

meeting notes Sig-Docs #17 (#967)
  sig-documentation/meetings/017-2025-06-25.md
Owners: @akash-network/sig-documentation

Update 030-2025-07-2.md
  sig-providers/meetings/030-2025-07-2.md
Owners: @akash-network/sig-providers

Meeting notes sig-providers #30 (#966)
  sig-providers/meetings/030-2025-07-2.md
Owners: @akash-network/sig-providers

update readme table
  sig-analytics/README.md
  sig-analytics/meetings/017-2025-07-02.md
  sig-clients/README.md
  sig-clients/meetings/021-2025-07-01.md
  sig-community/README.md
  sig-documentation/README.md
  sig-providers/README.md
Owners: @akash-network/sig-analytics, @akash-network/sig-clients, @akash-network/sig-community, @akash-network/sig-documentation, @akash-network/sig-providers

Update sig-design README.md
  sig-design/README.md
Owners: @akash-network/community-global

Update sig-economics README.md
  sig-economics/README.md
Owners: @akash-network/sig-economics

update readme table
  sig-analytics/README.md
  sig-design/README.md
  sig-documentation/README.md
  sig-support/README.md
Owners: @akash-network/sig-analytics, @akash-network/community-global, @akash-network/sig-documentation, @akash-network/sig-support

Update README.md
  community-pool-spend-reporting/README.md
Owners: @akash-network/community-global

meeting notes sig-design #29
  sig-economics/meetings/029-2025-07-09.md
Owners: @akash-network/sig-economics

meeting notes sig community #29
  sig-community/meetings/029-2025-07-8.md
Owners: @akash-network/sig-community

Update Readme for Proposals to Date July 2025 (#970)
  community-pool-spend-reporting/README.md
Owners: @akash-network/community-global

update readme table (#969)
  sig-analytics/README.md
  sig-analytics/meetings/017-2025-07-02.md
  sig-clients/README.md
  sig-clients/meetings/021-2025-07-01.md
  sig-community/README.md
  sig-design/README.md
  sig-documentation/README.md
  sig-providers/README.md
  sig-support/README.md
Owners: @akash-network/sig-analytics, @akash-network/sig-clients, @akash-network/sig-community, @akash-network/community-global, @akash-network/sig-documentation, @akash-network/sig-providers, @akash-network/sig-support

Update README.md
  community-pool-spend-reporting/README.md
Owners: @akash-network/community-global

Update README.md (#975)
  community-pool-spend-reporting/README.md
Owners: @akash-network/community-global

meeting notes sig-chain #28
  sig-chain/meetings/028-2025-07-08.md
Owners: @akash-network/sig-chain

Update 028-2025-07-08.md
  sig-chain/meetings/028-2025-07-08.md
Owners: @akash-network/sig-chain

meeting notes sig-chain #28 (#976)
  sig-chain/meetings/028-2025-07-08.md
Owners: @akash-network/sig-chain

meeting notes sig-design #28
  sig-design/meetings/028-2025-07-9.md
Owners: @akash-network/community-global

Update 028-2025-07-9.md
  sig-design/meetings/028-2025-07-9.md
Owners: @akash-network/community-global

meeting notes sig-support #46
  sig-support/meetings/046-2025-07-16.md
Owners: @akash-network/sig-support

meeting notes sig-Providers #31
  sig-providers/meetings/031-2025-07-23.md
Owners: @akash-network/sig-providers

meeting notes WG-events #4
  wg-events/meeting-2025/004-2025-04-16.md
Owners: @akash-network/community-global
