Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

update readme table
  sig-community/README.md
Owners: @akash-network/sig-community

Update readme table (#187)
  sig-community/README.md
Owners: @akash-network/sig-community

Update readme table (#186)
  sig-design/README.md
Owners: @akash-network/community-global

update readme table (#185)
  sig-education/README.md
Owners: @akash-network/sig-education

Sig-clientsUpdate 004-2023-04-19.md
  sig-clients/meetings/004-2023-04-19.md
Owners: @akash-network/sig-clients

Sig-clientsUpdate 004-2023-04-19.md (#188)
  sig-clients/meetings/004-2023-04-19.md
Owners: @akash-network/sig-clients

sig-docs: 004-2023-04-25.md
  sig-documentation/meetings/004-2023-04-25.md
Owners: @akash-network/sig-documentation

add notes
  sig-documentation/meetings/004-2023-04-25.md
Owners: @akash-network/sig-documentation

add notes (#191)
  sig-documentation/meetings/004-2023-04-25.md
Owners: @akash-network/sig-documentation

sig-docs 004-2023-04-25
  sig-documentation/meetings/004-2023-04-25.md
Owners: @akash-network/sig-documentation

sig-analytics readme updates
  sig-analytics/README.md
Owners: @akash-network/sig-analytics

sig-provider 004-2023-04-26.md meeting
  sig-providers/meetings/004-2023-04-26.md
Owners: @akash-network/sig-providers

sig-provider: 004-2023-04-26.md
  sig-providers/meetings/004-2023-04-26.md
Owners: @akash-network/sig-providers

sig-support: 007-2023-04-26.md
  sig-support/meetings/007-2023-04-26.md
Owners: @akash-network/sig-support

sig-support: 007-2023-04-26.md
  sig-support/meetings/007-2023-04-26.md
Owners: @akash-network/sig-support

Update 004-2023-04-26.md
  sig-providers/meetings/004-2023-04-26.md
Owners: @akash-network/sig-providers

Update 004-2023-04-26.md (#195)
  sig-providers/meetings/004-2023-04-26.md
Owners: @akash-network/sig-providers

sig-provider 004-2023-04-26.md meeting (#193)
  sig-providers/meetings/004-2023-04-26.md
Owners: @akash-network/sig-providers

update sig-support 007-2023-04-26.md
  sig-support/meetings/007-2023-04-26.md
Owners: @akash-network/sig-support

update GPU Community Insider Testnet.md
  wg-gpu/GPU Community Insider Testnet Providers.md
Owners: @akash-network/community-global

updated notes sig-analytics/003-2023-04-13.md
  sig-analytics/meetings/003-2023-04-13.md
Owners: @akash-network/sig-analytics

update sig-design 004-2023-04-12.md
  sig-design/meetings/004-2023-04-12.md
Owners: @akash-network/community-global

steering-committee readme updates
  committee-steering/README.md
Owners: @akash-network/community-global

sig-support readme updates
  sig-support/README.md
Owners: @akash-network/sig-support

cg-list README update
  cg-list/README.md
Owners: @akash-network/community-global

Create wg-events meeting#2 notes.
  wg-events/meetings/wg-events-002-2023-04-14.md
Owners: @akash-network/community-global

Fix date for Meeting 4 in sig-clients Readme
  sig-clients/README.md
Owners: @akash-network/sig-clients

Fix date for Meeting 4 in sig-clients readme (#199)
  sig-clients/README.md
Owners: @akash-network/sig-clients

Create wg-events meeting#2 notes. (#198)
  wg-events/meetings/wg-events-002-2023-04-14.md
Owners: @akash-network/community-global

sig-docs 004-2023-04-25.md video recording
  sig-documentation/meetings/004-2023-04-25.md
Owners: @akash-network/sig-documentation

Create wg-hackathon meeting #2 notes.
  wg-akash-hackathon/meetings/002-2023-04-21.md
Owners: @akash-network/community-global

Create wg-hackathon meeting #2 notes. (#200)
  wg-akash-hackathon/meetings/002-2023-04-21.md
Owners: @akash-network/community-global

sig-analytics: 003-04-13.md
  sig-analytics/meetings/003-2023-04-13.md
Owners: @akash-network/sig-analytics

sig-design 004-2023-04-12.md
  sig-design/meetings/004-2023-04-12.md
Owners: @akash-network/community-global

sig-support: 006-2023-04-12.md updates
  sig-support/meetings/006-2023-04-12.md
Owners: @akash-network/sig-support

sig-chain 003-2023-04-04.md
  sig-chain/meetings/003-2023-04-04.md
Owners: @akash-network/sig-chain

sig-chain readme
  sig-chain/README.md
Owners: @akash-network/sig-chain

update GPU Community Insider Testnet Readme
  wg-gpu/GPU Community Insider Testnet Providers.md
Owners: @akash-network/community-global

sig-chain: 004-2023-05-02.md created
  sig-chain/meetings/004-2023-05-02.md
Owners: @akash-network/sig-chain

sig-chain 004-2023-05-02.md
  sig-chain/meetings/004-2023-05-02.md
Owners: @akash-network/sig-chain

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support
