Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

meeting notes sig analytics #18
  sig-analytics/meetings/018-2026-02-26.md
Owners: @akash-network/sig-analytics

Add meeting recording link to February 4, 2026 entry
  sig-economics/meetings/034-2026-02-04.md
Owners: @akash-network/sig-economics

meeting notes sig-economics #34 (#1212)
  sig-economics/meetings/034-2026-02-04.md
Owners: @akash-network/sig-economics

Add recording link for meeting on February 18, 2026
  sig-support/meetings/053-2026-02-18.md
Owners: @akash-network/sig-support

meeting notes sig-support #53 (#1214)
  sig-support/meetings/053-2026-02-18.md
Owners: @akash-network/sig-support

Add recording link for meeting on February 17, 2026
  sig-chain/meetings/032-2026-02-17.md
Owners: @akash-network/sig-chain

meeting notes sig-chain #32 (#1215)
  sig-chain/meetings/032-2026-02-17.md
Owners: @akash-network/sig-chain

Update 036-2026-02-10.md
  sig-community/meetings/036-2026-02-10.md
Owners: @akash-network/sig-community

sig community meeeting notes #36 (#1211)
  sig-community/meetings/036-2026-02-10.md
Owners: @akash-network/sig-community

meeting notes Steering Committee #37
  committee-steering/meetings/037-2026-02-26.md
Owners: @akash-network/community-global

meeting notes sig design #31
  sig-design/meetings/031-2026-02-18.md
Owners: @akash-network/community-global

Update 031-2026-02-18.md
  sig-design/meetings/031-2026-02-18.md
Owners: @akash-network/community-global

Add recording link for meeting on February 25, 2026
  sig-providers/meetings/037-2026-02-25.md
Owners: @akash-network/sig-providers

meeting notes sig-providers #37 (#1226)
  sig-providers/meetings/037-2026-02-25.md
Owners: @akash-network/sig-providers

Update meeting recording link in markdown file
  sig-clients/meetings/025-2026-02-24.md
Owners: @akash-network/sig-clients

meeting notes sig-client #25 (#1223)
  sig-clients/meetings/025-2026-02-24.md
Owners: @akash-network/sig-clients

Add recording link for meeting on February 18, 2026
  sig-design/meetings/031-2026-02-18.md
Owners: @akash-network/community-global

meeting notes sig design #31 (#1232)
  sig-design/meetings/031-2026-02-18.md
Owners: @akash-network/community-global

Update meeting recording link for February 26, 2026
  committee-steering/meetings/037-2026-02-26.md
Owners: @akash-network/community-global

meeting notes Steering Committee #37 (#1230)
  committee-steering/meetings/037-2026-02-26.md
Owners: @akash-network/community-global

Add recording link for meeting on February 26, 2026
  sig-analytics/meetings/018-2026-02-26.md
Owners: @akash-network/sig-analytics

meeting notes sig analytics #18 (#1227)
  sig-analytics/meetings/018-2026-02-26.md
Owners: @akash-network/sig-analytics

update readme table
  committee-steering/README.md
  committee-steering/meetings/036-2026-01-29.md
  sig-analytics/README.md
  sig-chain/README.md
  sig-clients/README.md
  sig-community/README.md
  sig-design/README.md
  sig-economics/README.md
  sig-economics/meetings/034-2026-02-04.md
  sig-providers/README.md
  sig-providers/meetings/037-2026-02-25.md
  sig-support/README.md
Owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-clients, @akash-network/sig-community, @akash-network/sig-economics, @akash-network/sig-providers, @akash-network/sig-support

Update assign-on-label.yaml
  .github/workflows/assign-on-label.yaml
Owners: @akash-network/community-global

Create meeting notes we-website 2026-02-12.md
  wg-akash-website/meetings/2026-02-12.md
Owners: @akash-network/community-global

Update 2026-02-12.md
  wg-akash-website/meetings/2026-02-12.md
Owners: @akash-network/community-global

update readme table (#1235)
  committee-steering/README.md
  committee-steering/meetings/036-2026-01-29.md
  sig-analytics/README.md
  sig-chain/README.md
  sig-clients/README.md
  sig-community/README.md
  sig-design/README.md
  sig-economics/README.md
  sig-economics/meetings/034-2026-02-04.md
  sig-providers/README.md
  sig-providers/meetings/037-2026-02-25.md
  sig-support/README.md
Owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-clients, @akash-network/sig-community, @akash-network/sig-economics, @akash-network/sig-providers, @akash-network/sig-support

Revise meeting dates and add new entries
  committee-steering/README.md
Owners: @akash-network/community-global

feat: update audit
  .github/ISSUE_TEMPLATE/-provider-audit--template.md
  .github/ISSUE_TEMPLATE/provider-audit-request.md
  audit/README.md
  audit/standalone-audit.sdl.yaml
Owners: @akash-network/community-global

feat: update audit (#1252)
  .github/ISSUE_TEMPLATE/-provider-audit--template.md
  .github/ISSUE_TEMPLATE/provider-audit-request.md
  audit/README.md
  audit/standalone-audit.sdl.yaml
Owners: @akash-network/community-global

Meeting notes wg-website 2026-02-12.md (#1243)
  wg-akash-website/meetings/2026-02-12.md
Owners: @akash-network/community-global

meeting notes wg-website-August 14 (#1126)
  wg-akash-website/meetings/2025-08-14.md
Owners: @akash-network/community-global

wg website February 20th-2025 (#1119)
  wg-akash-website/2025-02-20.md
Owners: @akash-network/community-global

Create meeting notes for zealy #18 (#764)
  wg-zealy/meetings/018-2024-09-16.md
Owners: @akash-network/community-global

chore: bump version
  audit/standalone-audit.sdl.yaml
Owners: @akash-network/community-global

chore: update SDL
  audit/standalone-audit.sdl.yaml
Owners: @akash-network/community-global

meeting notes sig-community #37
  sig-community/meetings/037-2026-03-10.md
Owners: @akash-network/sig-community

meeting notes sig-design £#32
  sig-design/meetings/032-2026-03-18.md
Owners: @akash-network/community-global

meeting notes sig-design #33
  sig-chain/meetings/033-2026-03-10.md
Owners: @akash-network/sig-chain

meeting notes sig-economics #35
  sig-economics/meetings/035-2026-03-11.md
Owners: @akash-network/sig-economics

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support
