Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

meeting notes sig-chain-April (#1418)
  sig-chain/meetings/034-2026-04-21.md
Owners: @akash-network/sig-chain

Add recording link for meeting on July 23, 2026
  sig-economics/meetings/039-2026-07-23.md
Owners: @akash-network/sig-economics

meeting notes sig-economics #39 (#1473)
  sig-economics/meetings/039-2026-07-23.md
Owners: @akash-network/sig-economics

Add recording link to meeting details
  sig-clients/meetings/026-2026-04-21.md
Owners: @akash-network/sig-clients

meeting notes sig-client #26 (#1380)
  sig-clients/meetings/026-2026-04-21.md
Owners: @akash-network/sig-clients

meeting notes wg-website July 16,2026
  wg-akash-website/meetings/2026-07-16.md
Owners: @akash-network/community-global

meeting notes sig-design #34
  sig-design/meetings/034-2026-07-22.md
Owners: @akash-network/community-global

Update and rename 041-2026-07-14.md to 041-2026-07-09.md
  sig-community/meetings/041-2026-07-09.md
Owners: @akash-network/sig-community

meeting notes steering committee #41
  committee-steering/meetings/041-2026-07-09.md
Owners: @akash-network/community-global

meeting notes steering committee #41 (#1490)
  committee-steering/meetings/041-2026-07-09.md
Owners: @akash-network/community-global

meeting notes sig-design #34 (#1476)
  sig-design/meetings/034-2026-07-22.md
Owners: @akash-network/community-global

meeting notes wg-website July 16,2026 (#1475)
  wg-akash-website/meetings/2026-07-16.md
Owners: @akash-network/community-global

meeting notes signed analytics #19
  sig-analytics/meetings/019-2026-07-30.md
Owners: @akash-network/sig-analytics

meeting notes signed analytics #19 (#1491)
  sig-analytics/meetings/019-2026-07-30.md
Owners: @akash-network/sig-analytics

meeting notes sig-support #58 (#1474)
  sig-support/meetings/058-2026-07-15.md
Owners: @akash-network/sig-support

meeting notes sig-community #41 (#1472)
  sig-community/meetings/041-2026-07-09.md
Owners: @akash-network/sig-community

update readme table
  committee-steering/README.md
  committee-steering/meetings/040-2026-06-04.md
  sig-analytics/README.md
  sig-chain/README.md
  sig-clients/README.md
  sig-clients/meetings/026-2026-04-21.md
  sig-community/README.md
  sig-community/meetings/041-2026-07-14.md
  sig-design/README.md
  sig-economics/README.md
  sig-providers/README.md
  sig-support/README.md
Owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-clients, @akash-network/sig-community, @akash-network/sig-economics, @akash-network/sig-providers, @akash-network/sig-support

meeting notes sig-support #60
  sig-support/meetings/060-2026-09-16.md
Owners: @akash-network/sig-support

Add meeting notes for SIG Chain Meeting #38
  sig-chain/meetings/038-2026-09-10.md
Owners: @akash-network/sig-chain

Meeting notes for SIG Community Meeting #43
  sig-community/meetings/043-2026-09-08.md
Owners: @akash-network/sig-community

Add meeting notes for Steering Committee #43
  committee-steering/meetings/043-2026-09-03.md
Owners: @akash-network/community-global

Update meeting notes for wg-website, September 24th, 2026
  wg-akash-website/meetings/2026-09-24.md
Owners: @akash-network/community-global

wg website, September 10, 2026 meeting notes
  wg-akash-website/meetings/2026-09-10.md
Owners: @akash-network/community-global

Update meeting schedule in README.md
  committee-steering/README.md
Owners: @akash-network/community-global

update readme table
  committee-steering/README.md
  sig-analytics/README.md
  sig-chain/README.md
  sig-clients/README.md
  sig-community/README.md
  sig-design/README.md
  sig-economics/README.md
  sig-providers/README.md
  sig-support/README.md
  tream --prune
  wg-akash-website/README.md
Owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-clients, @akash-network/sig-community, @akash-network/sig-economics, @akash-network/sig-providers, @akash-network/sig-support

Update meeting recording link for August 26, 2026
  sig-economics/meetings/040-2026-08-26.md
Owners: @akash-network/sig-economics

meeting notes SIG Economics #40 (#1520)
  sig-economics/meetings/040-2026-08-26.md
Owners: @akash-network/sig-economics

Update meeting schedule in README.md
  sig-economics/README.md
Owners: @akash-network/sig-economics

Update meeting schedule in README.md
  sig-economics/README.md
Owners: @akash-network/sig-economics

meeting notes sig-support #59 (#1505)
  sig-support/meetings/059-2026-08-19.md
Owners: @akash-network/sig-support

meeting notes sig-client #28 (#1506)
  sig-clients/meetings/028-2026-08-20.md
Owners: @akash-network/sig-clients

meeting notes sig-Chain #37 (#1511)
  sig-chain/meetings/037-2026-07-28.md
Owners: @akash-network/sig-chain

meeting details wg-website August 27, 2026 (#1519)
  wg-akash-website/meetings/2026-08-27.md
Owners: @akash-network/community-global

meeting notes SIg-providers #43 (#1521)
  sig-providers/meetings/043-2026-08-26.md
Owners: @akash-network/sig-providers

meeting notes sig-support #60 (#1528)
  sig-support/meetings/060-2026-09-16.md
Owners: @akash-network/sig-support

Add meeting notes for SIG Chain Meeting #38 (#1529)
  sig-chain/meetings/038-2026-09-10.md
Owners: @akash-network/sig-chain

Meeting notes for SIG Community Meeting #43 (#1533)
  sig-community/meetings/043-2026-09-08.md
Owners: @akash-network/sig-community

wg website, September 10, 2026 meeting notes (#1537)
  wg-akash-website/meetings/2026-09-10.md
Owners: @akash-network/community-global

Update meeting notes for wg-website, September 24th, 2026 (#1535)
  wg-akash-website/meetings/2026-09-24.md
Owners: @akash-network/community-global

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support
