Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support

Update README table for sig-community
  sig-community/README.md
Owners: @akash-network/sig-community

Create wg-website meeting notes #13
  wg-akash-website/meetings/013-2023-10-19.md
Owners: @akash-network/community-global

sig-docs Create 008-2023-09-26.md (#314)
  sig-documentation/meetings/008-2023-09-26.md
Owners: @akash-network/sig-documentation

sig-chain Create 009-2023-10-10.md (#325)
  sig-chain/meetings/009-2023-10-10.md
Owners: @akash-network/sig-chain

sig-clients Create 009-2023-09-20.md (#348)
  sig-clients/meetings/009-2023-09-20.md
  sig-clients/meetings/010-2023-10-18.md
Owners: @akash-network/sig-clients

sig-support Create 019-2023-10-11.md (#326)
  sig-support/meetings/019-2023-10-11.md
Owners: @akash-network/sig-support

sig-support Update README.md
  sig-support/README.md
Owners: @akash-network/sig-support

sig-support Create 020-2023-10-25.md
  sig-support/meetings/020-2023-10-25.md
Owners: @akash-network/sig-support

sig-providers Create 010-2023-10-25.md
  sig-providers/meetings/010-2023-10-25.md
Owners: @akash-network/sig-providers

sig-providers Update 010-2023-10-25.md
  sig-providers/meetings/010-2023-10-25.md
Owners: @akash-network/sig-providers

Create meeting notes for sig-community #8
  sig-community/meetings/008-2023-10-10.md
Owners: @akash-network/sig-community

Update 008-2023-10-10.md
  sig-community/meetings/008-2023-10-10.md
Owners: @akash-network/sig-community

steering committee Update README.md
  committee-steering/README.md
Owners: @akash-network/community-global

sig-chain Update README.md
  sig-chain/README.md
Owners: @akash-network/sig-chain

Create meeting notes for wg-website #11
  wg-akash-website/meetings/011-2023-09-14.md
Owners: @akash-network/community-global

Create meeting notes for wg-Akash-website #14
  wg-akash-website/meetings/014-2023-10-26.md
Owners: @akash-network/community-global

Update Sig-Clients README table
  sig-clients/README.md
Owners: @akash-network/sig-clients

Create meeting notes for sig-design #8
  sig-design/meetings/008-2023-08-09.md
Owners: @akash-network/community-global

Update 008-2023-08-09.md
  sig-design/meetings/008-2023-08-09.md
Owners: @akash-network/community-global

Rename 008-2023-09-26.md to 009-2023-09-26.md
  sig-documentation/meetings/009-2023-09-26.md
Owners: @akash-network/sig-documentation

Update sig-docs README table
  sig-documentation/README.md
Owners: @akash-network/sig-documentation

Rename 008-2023-09-26.md to 009-2023-09-26.md (#365)
  sig-documentation/meetings/009-2023-09-26.md
Owners: @akash-network/sig-documentation

Update 013-2023-10-19.md
  wg-akash-website/meetings/013-2023-10-19.md
Owners: @akash-network/community-global

Create wg-website meeting notes #13 (#354)
  wg-akash-website/meetings/013-2023-10-19.md
Owners: @akash-network/community-global

Update 008-2023-08-09.md
  sig-design/meetings/008-2023-08-09.md
Owners: @akash-network/community-global

Create meeting notes for sig-design #8 (#364)
  sig-design/meetings/008-2023-08-09.md
Owners: @akash-network/community-global

Update 008-2023-10-10.md
  sig-community/meetings/008-2023-10-10.md
Owners: @akash-network/sig-community

Update 020-2023-10-25.md
  sig-support/meetings/020-2023-10-25.md
Owners: @akash-network/sig-support

Update 010-2023-10-25.md
  sig-providers/meetings/010-2023-10-25.md
Owners: @akash-network/sig-providers

Update wg-website README table (#352)
  wg-akash-website/README.md
Owners: @akash-network/community-global

Update 010-2023-10-18.md
  sig-clients/meetings/010-2023-10-18.md
Owners: @akash-network/sig-clients

Update README.md
  sig-clients/README.md
Owners: @akash-network/sig-clients

Update Sig-Clients README table (#363)
  sig-clients/README.md
Owners: @akash-network/sig-clients

Update 011-2023-09-14.md
  wg-akash-website/meetings/011-2023-09-14.md
Owners: @akash-network/community-global

Create meeting notes for wg-website #11 (#360)
  wg-akash-website/meetings/011-2023-09-14.md
Owners: @akash-network/community-global

Update README table for sig-community (#353)
  sig-community/README.md
Owners: @akash-network/sig-community

Update sig-docs README table (#366)
  sig-documentation/README.md
Owners: @akash-network/sig-documentation

Update 008-2023-08-16.md
  sig-clients/meetings/008-2023-08-16.md
Owners: @akash-network/sig-clients

Create meeting notes for sig-Clients #8 (#351)
  sig-clients/meetings/008-2023-08-16.md
Owners: @akash-network/sig-clients

Update 014-2023-10-26.md
  wg-akash-website/meetings/014-2023-10-26.md
Owners: @akash-network/community-global
