Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

Update 015-2024-03-13.md
  sig-design/meetings/015-2024-03-13.md
Owners: @akash-network/community-global

sig-design Update README.md
  sig-design/README.md
Owners: @akash-network/community-global

Update 015-2024-03-26.md
  sig-documentation/meetings/015-2024-03-26.md
Owners: @akash-network/sig-documentation

steering committee Update 014-2024-03-28.md
  committee-steering/meetings/014-2024-03-28.md
Owners: @akash-network/community-global

steering commitee- Create 015-2024-05-02.md
  committee-steering/meetings/015-2024-05-02.md
Owners: @akash-network/community-global

Create meeting notes for sig-chain #14
  sig-chain/meetings/014-2024-03-12.md
Owners: @akash-network/sig-chain

Create meeting notes for Sig-Chain #15
  sig-chain/meetings/015-2024-04-09.md
Owners: @akash-network/sig-chain

Create meeting notes for Sig-Design #16
  sig-design/meetings/016-2024-05-08.md
Owners: @akash-network/community-global

Create meeting notes for sig-support #33
  sig-support/meetings/033-2024-05-15.md
Owners: @akash-network/sig-support

Update 015-2024-04-09.md
  sig-chain/meetings/015-2024-04-09.md
Owners: @akash-network/sig-chain

sig-chain Update 014-2024-03-12.md
  sig-chain/meetings/014-2024-03-12.md
Owners: @akash-network/sig-chain

Create meeting notes for sig-chain #14 (#585)
  sig-chain/meetings/014-2024-03-12.md
Owners: @akash-network/sig-chain

Update 015-2024-04-09.md
  sig-chain/meetings/015-2024-04-09.md
Owners: @akash-network/sig-chain

Create meeting notes for Sig-Chain #15 (#586)
  sig-chain/meetings/015-2024-04-09.md
Owners: @akash-network/sig-chain

steering commitee Update 015-2024-05-02.md
  committee-steering/meetings/015-2024-05-02.md
Owners: @akash-network/community-global

Update 016-2024-05-08.md
  sig-design/meetings/016-2024-05-08.md
Owners: @akash-network/community-global

Update 016-2024-05-01.md
  sig-economics/meetings/016-2024-05-01.md
Owners: @akash-network/sig-economics

Create meeting notes for sig-economics #16 (#578)
  sig-economics/meetings/016-2024-05-01.md
Owners: @akash-network/sig-economics

Update 015-2024-03-26.md
  sig-documentation/meetings/015-2024-03-26.md
Owners: @akash-network/sig-documentation

Create meeting notes for sig docs #15 (#564)
  sig-documentation/meetings/015-2024-03-26.md
Owners: @akash-network/sig-documentation

steering committee Update README.md
  committee-steering/README.md
Owners: @akash-network/community-global

Update README.md
  committee-steering/README.md
Owners: @akash-network/community-global

Update 033-2024-05-15.md
  sig-support/meetings/033-2024-05-15.md
Owners: @akash-network/sig-support

Update 033-2024-05-15.md
  sig-support/meetings/033-2024-05-15.md
Owners: @akash-network/sig-support

Create meeting notes for sig-support #33 (#588)
  sig-support/meetings/033-2024-05-15.md
Owners: @akash-network/sig-support

Update 015-2024-03-13.md
  sig-design/meetings/015-2024-03-13.md
Owners: @akash-network/community-global

Create meeting notes for Sig-Design #15 (#566)
  sig-design/meetings/015-2024-03-13.md
Owners: @akash-network/community-global

Update 016-2024-05-08.md
  sig-design/meetings/016-2024-05-08.md
Owners: @akash-network/community-global

Create meeting notes for Sig-Design #16 (#587)
  sig-design/meetings/016-2024-05-08.md
Owners: @akash-network/community-global

Update 032-2024-05-01.md
  sig-support/meetings/032-2024-05-01.md
Owners: @akash-network/sig-support

Create meeting notes for sig-support #32 (#579)
  sig-support/meetings/032-2024-05-01.md
Owners: @akash-network/sig-support

Update 029-2024-04-04.md
  wg-akash-website/meetings/029-2024-04-04.md
Owners: @akash-network/community-global

Create meeting notes for wg-website #29 (#581)
  wg-akash-website/meetings/029-2024-04-04.md
Owners: @akash-network/community-global

Create meeting notes for Sig-providers #15
  sig-providers/meetings/015-2024-03-27.md
Owners: @akash-network/sig-providers

Create meeting notes for sig providers #16
  sig-providers/meetings/016-2024-04-24.md
Owners: @akash-network/sig-providers

Update 011-2024-04-15.md
  wg-zealy/meetings/011-2024-04-15.md
Owners: @akash-network/community-global

Update 015-2024-03-27.md
  sig-providers/meetings/015-2024-03-27.md
Owners: @akash-network/sig-providers

Update 016-2024-04-24.md
  sig-providers/meetings/016-2024-04-24.md
Owners: @akash-network/sig-providers

Update 016-2024-04-24.md
  sig-providers/meetings/016-2024-04-24.md
Owners: @akash-network/sig-providers

Create meeting notes for wg-zealy #12
  wg-zealy/meetings/012-2024-04-29.md
Owners: @akash-network/community-global

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support
