Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support

sig-clients: 003-2023-03-15.md
  sig-clients/meetings/003-2023-03-15.md
Owners: @akash-network/sig-clients

sig-clients: 003-2023-03-15.md
  sig-clients/meetings/003-2023-03-15.md
Owners: @akash-network/sig-clients

sig-economics; update README
  sig-economics/README.md
Owners: @akash-network/sig-economics

sig-economics; update meeting #3 link
  sig-economics/meetings/003-2023-04-05.md
Owners: @akash-network/sig-economics

sig-economics: update README & meeting #3 link (#172)
  sig-economics/README.md
  sig-economics/meetings/003-2023-04-05.md
Owners: @akash-network/sig-economics

sig-support 006-2023-04-12,md
  sig-support/meetings/006-2023-04-12.md
Owners: @akash-network/sig-support

sig-analytics 003-2023-04-13,md
  sig-analytics/meetings/003-2023-04-13.md
Owners: @akash-network/sig-analytics

Add new template for Akash GPU Testnet
  .github/ISSUE_TEMPLATE/akash-wg-gpu-testnet-md.md
Owners: @akash-network/community-global

Add new template for Akash GPU Testnet (#173)
  .github/ISSUE_TEMPLATE/akash-wg-gpu-testnet-md.md
Owners: @akash-network/community-global

sig-support 006-2023-04-12.md
  sig-support/meetings/006-2023-04-12.md
Owners: @akash-network/sig-support

wg-akash-website 004-2023-04-19.md
  wg-akash-website/meetings/004-2023-04-19.md
Owners: @akash-network/community-global

wg-akash-website: 004-2023-04-19.md
  wg-akash-website/meetings/004-2023-04-19.md
Owners: @akash-network/community-global

create meeting1 notes and structure
  wg-events/README.md
  wg-events/meetings/wg-events-001-2023-02-17.md
Owners: @akash-network/community-global

wg-events-2023: 001-2023-02-01.md
  wg-events/meetings/wg-events-001-2023-02-17.md
Owners: @akash-network/community-global

Main (#178)
  wg-events/README.md
  wg-events/meetings/wg-events-001-2023-02-17.md
Owners: @akash-network/community-global

sig-chain: 003-2023-04-04.md
  sig-chain/meetings/003-2023-04-04.md
Owners: @akash-network/sig-chain

sig-clients: 004-2023-04-19.md
  sig-clients/meetings/004-2023-04-19.md
Owners: @akash-network/sig-clients

Chore: update sig-clients for providers
  sig-clients/README.md
Owners: @akash-network/sig-clients

Chore: Fix heading for praetor
  sig-clients/praetor/README.md
Owners: @akash-network/sig-clients

sig-clients/ 004-2023-04-19.md
  sig-clients/meetings/004-2023-04-19.md
Owners: @akash-network/sig-clients

chore: add jigar and deval as leads for praetor
  sig-clients/README.md
Owners: @akash-network/sig-clients

sig-chain 003-2023-04-04.md (#155)
  sig-chain/meetings/003-2023-04-04.md
Owners: @akash-network/sig-chain

Anilmurty/sig clients/provider clients update (#180)
  sig-clients/README.md
  sig-clients/praetor/README.md
Owners: @akash-network/sig-clients

sig-clients: 004-2023-04-19.md updates
  sig-clients/meetings/004-2023-04-19.md
Owners: @akash-network/sig-clients

sig-clients 004-2023-04-19.md
  sig-clients/meetings/004-2023-04-19.md
Owners: @akash-network/sig-clients

sig-support 006-2023-04-12.md
  sig-support/meetings/006-2023-04-12.md
Owners: @akash-network/sig-support

sig-clients 004-2023-04-19.md
  sig-clients/meetings/004-2023-04-19.md
Owners: @akash-network/sig-clients

update 006-2023-04-12.md
  sig-support/meetings/006-2023-04-12.md
Owners: @akash-network/sig-support

sig-clients Readme
  sig-clients/README.md
Owners: @akash-network/sig-clients

sig-clients 003-03-15.md
  sig-clients/meetings/003-2023-03-15.md
Owners: @akash-network/sig-clients

Create sig-education meeting3 notes
  sig-education/meetings/003-2023-04-11.md
Owners: @akash-network/sig-education

sig-education 003-2023-04-11.md
  sig-education/meetings/003-2023-04-11.md
Owners: @akash-network/sig-education

Create sig-education meeting3 notes (#182)
  sig-education/meetings/003-2023-04-11.md
Owners: @akash-network/sig-education

sig-clients: 004-2023-04-19.md (#179)
  sig-clients/meetings/004-2023-04-19.md
Owners: @akash-network/sig-clients

sig-support: 006-2023-04-12.md (#167)
  sig-support/meetings/006-2023-04-12.md
Owners: @akash-network/sig-support

sig-clients Readme (#181)
  sig-clients/README.md
Owners: @akash-network/sig-clients

Update README.md
  wg-gpu/README.md
Owners: @akash-network/community-global

wg-gpu: GPU Testnet Providers.md created.
  wg-gpu/GPU Testnet Providers.md
Owners: @akash-network/community-global

update readme table
  sig-education/README.md
Owners: @akash-network/sig-education

Update readme table
  sig-design/README.md
Owners: @akash-network/community-global
