Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

Update 013-2023-07-19.md
  sig-support/meetings/013-2023-07-19.md
Owners: @akash-network/sig-support

Update 006-2023-07-12.md
  sig-analytics/meetings/006-2023-07-12.md
Owners: @akash-network/sig-analytics

Update 007-2023-07-26.md
  sig-providers/meetings/007-2023-07-26.md
Owners: @akash-network/sig-providers

sig-providers: Update 007-2023-07-26.md
  sig-providers/meetings/007-2023-07-26.md
Owners: @akash-network/sig-providers

committee-steering/ Create 006-2023-06-29.md (#259)
  committee-steering/meetings/006-2023-06-29.md
Owners: @akash-network/community-global

sig-support Create 013-2023-07-19.md (#274)
  sig-support/meetings/013-2023-07-19.md
Owners: @akash-network/sig-support

sig-providers: Create 007-2023-07-26.md (#281)
  sig-providers/meetings/007-2023-07-26.md
Owners: @akash-network/sig-providers

Update README.md
  projects-list/README.md
Owners: @akash-network/community-global

Update README.md
  projects-list/README.md
Owners: @akash-network/community-global

Update Projects List to reflect current state (#283)
  projects-list/README.md
Owners: @akash-network/community-global

committee-steering Update README.md (#282)
  committee-steering/README.md
Owners: @akash-network/community-global

committee-steering: Create 007-2023-07-27.md
  committee-steering/meetings/007-2023-07-27.md
Owners: @akash-network/community-global

Update 007-2023-07-27.md
  committee-steering/meetings/007-2023-07-27.md
Owners: @akash-network/community-global

Update 007-2023-07-27.md
  committee-steering/meetings/007-2023-07-27.md
Owners: @akash-network/community-global

initial version
  product-strategy/cloudmos-console-product-strategy.md
  product-strategy/web3-web2-devs.png
Owners: @akash-network/community-global

Proposed Cloudmos-Console Product Strategy (#285)
  product-strategy/cloudmos-console-product-strategy.md
  product-strategy/web3-web2-devs.png
Owners: @akash-network/community-global

sig-chain: Rename 006-07-11.md to 006-2023-07-11.md
  sig-chain/meetings/006-2023-07-11.md
Owners: @akash-network/sig-chain

sig-chain Create 007-2023-08-01.md
  sig-chain/meetings/007-2023-08-01.md
Owners: @akash-network/sig-chain

sig-chain: Update README.md
  sig-chain/README.md
Owners: @akash-network/sig-chain

Update 007-2023-08-01.md
  sig-chain/meetings/007-2023-08-01.md
Owners: @akash-network/sig-chain

Update 007-2023-08-01.md
  sig-chain/meetings/007-2023-08-01.md
Owners: @akash-network/sig-chain

Update 007-2023-07-19.md
  sig-clients/meetings/007-2023-07-19.md
Owners: @akash-network/sig-clients

sig-supportCreate 014-2023-08-02.md
  sig-support/meetings/014-2023-08-02.md
Owners: @akash-network/sig-support

Update 014-2023-08-02.md
  sig-support/meetings/014-2023-08-02.md
Owners: @akash-network/sig-support

sig-economics Create 007-2023-08-02.md
  sig-economics/meetings/007-2023-08-02.md
Owners: @akash-network/sig-economics

Update 007-2023-08-02.md
  sig-economics/meetings/007-2023-08-02.md
Owners: @akash-network/sig-economics

sig-economics: Update 007-2023-08-02.md
  sig-economics/meetings/007-2023-08-02.md
Owners: @akash-network/sig-economics

sig-support Update 014-2023-08-02.md
  sig-support/meetings/014-2023-08-02.md
Owners: @akash-network/sig-support

sig-chain Update 007-2023-08-01.md
  sig-chain/meetings/007-2023-08-01.md
Owners: @akash-network/sig-chain

Update 005-2023-05-23.md
  sig-documentation/meetings/005-2023-05-23.md
Owners: @akash-network/sig-documentation

Update 007-2023-07-19.md
  sig-clients/meetings/007-2023-07-19.md
Owners: @akash-network/sig-clients

Update 006-2023-07-12.md
  sig-analytics/meetings/006-2023-07-12.md
Owners: @akash-network/sig-analytics

Update 007-2023-08-02.md
  sig-economics/meetings/007-2023-08-02.md
Owners: @akash-network/sig-economics

wg-akash-website: Create 009-2023-08-10.md
  wg-akash-website/meetings/009-2023-08-10.md
Owners: @akash-network/community-global

Added links to provider attribute schema
  wg-provider-attributes/README.md
Owners: @akash-network/community-global

sig-analytics: Create 007-2023-08-10.md
  sig-analytics/meetings/007-2023-08-10.md
Owners: @akash-network/sig-analytics

Update 006-2023-07-12.md
  sig-analytics/meetings/006-2023-07-12.md
Owners: @akash-network/sig-analytics

Create 007-2023-07-19.md
  sig-clients/meetings/007-2023-07-19.md
Owners: @akash-network/sig-clients

Update 007-2023-07-19.md
  sig-clients/meetings/007-2023-07-19.md
Owners: @akash-network/sig-clients

Update README.md
  sig-clients/README.md
Owners: @akash-network/sig-clients

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support
