Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support

Update Sigs ReadMe table (#412)
  sig-analytics/README.md
  sig-chain/README.md
  sig-clients/README.md
  sig-community/README.md
  sig-design/README.md
  sig-documentation/README.md
  sig-economics/README.md
  sig-providers/README.md
  sig-support/README.md
Owners: @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-clients, @akash-network/sig-community, @akash-network/community-global, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-providers, @akash-network/sig-support

Update 018-2023-09-27.md
  sig-support/meetings/018-2023-09-27.md
Owners: @akash-network/sig-support

Create meeting notes for wg-zealy #3
  wg-zealy/meetings/003-2023-11-27.md
Owners: @akash-network/community-global

Create 011-2023-12-06.md
  sig-economics/meetings/011-2023-12-06.md
Owners: @akash-network/sig-economics

sig-economics - Update README.md
  sig-economics/README.md
Owners: @akash-network/sig-economics

Create meeting notes for Sig-support #18 (#416)
  sig-support/meetings/018-2023-09-27.md
Owners: @akash-network/sig-support

sig-economics create meeting 11 notes & update README (#419)
  sig-economics/README.md
  sig-economics/meetings/011-2023-12-06.md
Owners: @akash-network/sig-economics

sig-clients Update README.md
  sig-clients/README.md
Owners: @akash-network/sig-clients

sig-analytics Create 010-2023-12-14.md
  sig-analytics/meetings/010-2023-12-14.md
Owners: @akash-network/sig-analytics

Create meetng notes for wg-Zealy #4
  wg-zealy/meetings/004-2023-12-04.md
Owners: @akash-network/community-global

Update 004-2023-12-04.md
  wg-zealy/meetings/004-2023-12-04.md
Owners: @akash-network/community-global

Create 005-2023-12-04.md
  wg-zealy/meetings/005-2023-12-04.md
Owners: @akash-network/community-global

Create meeting notes for Sig-Design #12
  sig-design/meetings/012-2023-12-13.md
Owners: @akash-network/community-global

sig-clients Create 011-2023-12-18.md
  sig-clients/meetings/011-2023-12-18.md
Owners: @akash-network/sig-clients

Additional notes for sig-Design #11
  sig-design/meetings/011-2023-11-08.md
Owners: @akash-network/community-global

Create meeting notes for Sig-Documentation 12
  sig-documentation/meetings/012-2023-12-19.md
Owners: @akash-network/sig-documentation

Rename 019-2023-11-27.md to 019-2023-11-30.md
  wg-akash-website/meetings/019-2023-11-30.md
Owners: @akash-network/community-global

Update 002-2023-11-20.md
  wg-zealy/meetings/002-2023-11-20.md
Owners: @akash-network/community-global

Create meeting notes for Wg-website #20
  wg-akash-website/meetings/020-2023-12-07.md
Owners: @akash-network/community-global

Additional and detailed notes for sig-Design #11 (#428)
  sig-design/meetings/011-2023-11-08.md
Owners: @akash-network/community-global

Rename 019-2023-11-27.md to 019-2023-11-30.md (#431)
  wg-akash-website/meetings/019-2023-11-30.md
Owners: @akash-network/community-global

sig- docs Update 012-2023-12-19.md
  sig-documentation/meetings/012-2023-12-19.md
Owners: @akash-network/sig-documentation

Update 011-2023-12-18.md
  sig-clients/meetings/011-2023-12-18.md
Owners: @akash-network/sig-clients

Create meeting notes for Sig-Providers #11
  sig-providers/meetings/011-2023-11-22.md
Owners: @akash-network/sig-providers

Create meeting notes for Sig-Providers #12
  sig-providers/meetings/012-2023-12-13.md
Owners: @akash-network/sig-providers

Update 010-2023-12-14.md
  sig-analytics/meetings/010-2023-12-14.md
Owners: @akash-network/sig-analytics

Create meeting notes for Sig-support #24
  sig-support/meetings/24-2023-12-20.md
Owners: @akash-network/sig-support

Create meeting notes for Zealy #6
  wg-zealy/meetings/006-2023-12-18.md
Owners: @akash-network/community-global

Update 005-2023-12-04.md
  wg-zealy/meetings/005-2023-12-04.md
Owners: @akash-network/community-global

Update 004-2023-12-04.md
  wg-zealy/meetings/004-2023-12-04.md
Owners: @akash-network/community-global

Update 003-2023-11-27.md
  wg-zealy/meetings/003-2023-11-27.md
Owners: @akash-network/community-global

Update 002-2023-11-20.md
  wg-zealy/meetings/002-2023-11-20.md
Owners: @akash-network/community-global

Update 24-2023-12-20.md
  sig-support/meetings/24-2023-12-20.md
Owners: @akash-network/sig-support

Update 012-2023-12-13.md
  sig-providers/meetings/012-2023-12-13.md
Owners: @akash-network/sig-providers

sig-support Update 24-2023-12-20.md
  sig-support/meetings/24-2023-12-20.md
Owners: @akash-network/sig-support

Create meeting notes for Sig-support #24 (#438)
  sig-support/meetings/24-2023-12-20.md
Owners: @akash-network/sig-support

sig-docs Update 012-2023-12-19.md
  sig-documentation/meetings/012-2023-12-19.md
Owners: @akash-network/sig-documentation

Create meeting notes for Sig-Documentation 12 (#429)
  sig-documentation/meetings/012-2023-12-19.md
Owners: @akash-network/sig-documentation

sig-design Update 012-2023-12-13.md
  sig-design/meetings/012-2023-12-13.md
Owners: @akash-network/community-global

Create meeting notes for Sig-Design #12 (#425)
  sig-design/meetings/012-2023-12-13.md
Owners: @akash-network/community-global
