Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

sig-providers Update 012-2023-12-13.md
  sig-providers/meetings/012-2023-12-13.md
Owners: @akash-network/sig-providers

Create meeting notes for Sig-Providers #12 (#437)
  sig-providers/meetings/012-2023-12-13.md
Owners: @akash-network/sig-providers

sig-chain Create 012-2024-01-09.md
  sig-chain/meetings/012-2024-01-09.md
Owners: @akash-network/sig-chain

Update 011-2023-11-22.md
  sig-providers/meetings/011-2023-11-22.md
Owners: @akash-network/sig-providers

Update 011-2023-11-22.md
  sig-providers/meetings/011-2023-11-22.md
Owners: @akash-network/sig-providers

Create meeting notes for Sig-Providers #11 (#436)
  sig-providers/meetings/011-2023-11-22.md
Owners: @akash-network/sig-providers

wg-zealy Update 006-2023-12-18.md
  wg-zealy/meetings/006-2023-12-18.md
Owners: @akash-network/community-global

Create meeting notes for Zealy #6 (#439)
  wg-zealy/meetings/006-2023-12-18.md
Owners: @akash-network/community-global

wg-zealy Update 005-2023-12-04.md
  wg-zealy/meetings/005-2023-12-04.md
Owners: @akash-network/community-global

wg-zealy Update 003-2023-11-27.md
  wg-zealy/meetings/003-2023-11-27.md
Owners: @akash-network/community-global

wg-events-2024 Update 001-2023-10-25.md
  wg-events/meetings-2024/001-2023-10-25.md
Owners: @akash-network/community-global

wg-zealy Update 003-2023-11-27.md
  wg-zealy/meetings/003-2023-11-27.md
Owners: @akash-network/community-global

Create meeting notes for wg-zealy #3 (#421)
  wg-zealy/meetings/003-2023-11-27.md
Owners: @akash-network/community-global

wg-zealy Update 004-2023-12-04.md
  wg-zealy/meetings/004-2023-12-04.md
Owners: @akash-network/community-global

Create meetng notes for wg-Zealy #4 (#422)
  wg-zealy/meetings/004-2023-12-04.md
Owners: @akash-network/community-global

wg-zealy Update 005-2023-12-04.md
  wg-zealy/meetings/005-2023-12-04.md
Owners: @akash-network/community-global

Create meeting notes for wg-Zealy #5 (#423)
  wg-zealy/meetings/005-2023-12-04.md
Owners: @akash-network/community-global

wg-zealy Update 002-2023-11-20.md
  wg-zealy/meetings/002-2023-11-20.md
Owners: @akash-network/community-global

Create meeting notes for wg-Zealy #2 (#413)
  wg-zealy/meetings/002-2023-11-20.md
Owners: @akash-network/community-global

wg-events-2024 Update 001-2023-10-25.md
  wg-events/meetings-2024/001-2023-10-25.md
Owners: @akash-network/community-global

Create meeting notes for wg-events #1 (#414)
  wg-events/meetings-2023/wg-events-001-2023-02-17.md
  wg-events/meetings-2023/wg-events-002-2023-04-14.md
  wg-events/meetings-2024/001-2023-10-25.md
Owners: @akash-network/community-global

Update 020-2023-12-07.md
  wg-akash-website/meetings/020-2023-12-07.md
Owners: @akash-network/community-global

Create meeting notes for Wg-website #20 (#432)
  wg-akash-website/meetings/020-2023-12-07.md
Owners: @akash-network/community-global

sig-chain Update 012-2024-01-09.md
  sig-chain/meetings/012-2024-01-09.md
Owners: @akash-network/sig-chain

sig-clients Update 011-2023-12-18.md
  sig-clients/meetings/011-2023-12-18.md
Owners: @akash-network/sig-clients

Rename 005-2023-12-04.md to 005-2023-12-11.md
  wg-zealy/meetings/005-2023-12-11.md
Owners: @akash-network/community-global

Rename 005-2023-12-04.md to 005-2023-12-11.md (#441)
  wg-zealy/meetings/005-2023-12-11.md
Owners: @akash-network/community-global

wg-zealy Update README.md
  wg-zealy/README.md
Owners: @akash-network/community-global

wg-zealy Update README.md (#442)
  wg-zealy/README.md
Owners: @akash-network/community-global

Update ReadMe tables
  sig-community/README.md
  sig-design/README.md
  sig-documentation/README.md
  sig-providers/README.md
  sig-support/README.md
  sig-support/meetings/024-2023-12-20.md
  wg-akash-website/README.md
  wg-events/README.md
  wg-zealy/README.md
Owners: @akash-network/sig-community, @akash-network/community-global, @akash-network/sig-documentation, @akash-network/sig-providers, @akash-network/sig-support

Update ReadMe tables (#443)
  sig-community/README.md
  sig-design/README.md
  sig-documentation/README.md
  sig-providers/README.md
  sig-support/README.md
  sig-support/meetings/024-2023-12-20.md
  wg-akash-website/README.md
  wg-events/README.md
  wg-zealy/README.md
Owners: @akash-network/sig-community, @akash-network/community-global, @akash-network/sig-documentation, @akash-network/sig-providers, @akash-network/sig-support

Update 012-2024-01-09.md
  sig-chain/meetings/012-2024-01-09.md
Owners: @akash-network/sig-chain

sig-chain Create 012-2024-01-09.md (#440)
  sig-chain/meetings/012-2024-01-09.md
Owners: @akash-network/sig-chain

sig-support Update README.md
  sig-support/README.md
Owners: @akash-network/sig-support

sig-suppot Create 025-2024-01-10.md
  sig-support/meetings/025-2024-01-10.md
Owners: @akash-network/sig-support

sig-support Update 025-2024-01-10.md
  sig-support/meetings/025-2024-01-10.md
Owners: @akash-network/sig-support

Update 011-2023-12-07.md
  committee-steering/meetings/011-2023-12-07.md
Owners: @akash-network/community-global

steering committee Create 011-2023-12-07.md (#410)
  committee-steering/meetings/011-2023-12-07.md
Owners: @akash-network/community-global

steering committee Update README.md
  committee-steering/README.md
Owners: @akash-network/community-global

sig-analytics Update 010-2023-12-14.md
  sig-analytics/meetings/010-2023-12-14.md
Owners: @akash-network/sig-analytics

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support
