Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support

Create 007-2023-08-11.md
  sig-analytics/meetings/007-2023-08-11.md
Owners: @akash-network/sig-analytics

Update README.md
  sig-analytics/README.md
Owners: @akash-network/sig-analytics

sig-analytics Create 006-2023-07-13.md (#271)
  sig-analytics/meetings/006-2023-07-12.md
Owners: @akash-network/sig-analytics

sig-clients Create 007-2023-07-19.md (#275)
  sig-clients/meetings/007-2023-07-19.md
Owners: @akash-network/sig-clients

sig-chain Create 007-2023-08-01.md (#287)
  sig-chain/meetings/007-2023-08-01.md
Owners: @akash-network/sig-chain

sig-economics Create 007-2023-08-02.md (#289)
  sig-economics/meetings/007-2023-08-02.md
Owners: @akash-network/sig-economics

Update README.md (#266)
  sig-design/README.md
Owners: @akash-network/community-global

wg-provider-attribute update (#291)
  wg-provider-attributes/README.md
Owners: @akash-network/community-global

Update 014-2023-08-02.md
  sig-support/meetings/014-2023-08-02.md
Owners: @akash-network/sig-support

sig-clients Update README.md
  sig-clients/README.md
Owners: @akash-network/sig-clients

Update 007-2023-07-25.md
  sig-documentation/meetings/007-2023-07-25.md
Owners: @akash-network/sig-documentation

Update 005-2023-05-23.md
  sig-documentation/meetings/005-2023-05-23.md
Owners: @akash-network/sig-documentation

sig-support Create 015-2023-08-16.md
  sig-support/meetings/015-2023-08-16.md
Owners: @akash-network/sig-support

Update 014-2023-08-02.md
  sig-support/meetings/014-2023-08-02.md
Owners: @akash-network/sig-support

Update 015-2023-08-16.md
  sig-support/meetings/015-2023-08-16.md
Owners: @akash-network/sig-support

Update 015-2023-08-16.md
  sig-support/meetings/015-2023-08-16.md
Owners: @akash-network/sig-support

Update 007-2023-07-27.md
  committee-steering/meetings/007-2023-07-27.md
Owners: @akash-network/community-global

sig-documentation Create 007-2023-07-25.md (#278)
  sig-documentation/meetings/007-2023-07-25.md
Owners: @akash-network/sig-documentation

sig-documentation Create 005-2023-05-23.md (#279)
  sig-documentation/meetings/005-2023-05-23.md
Owners: @akash-network/sig-documentation

committee-steering: Create 007-2023-07-27.md (#284)
  committee-steering/meetings/007-2023-07-27.md
Owners: @akash-network/community-global

sig-supportCreate 014-2023-08-02.md (#288)
  sig-support/meetings/014-2023-08-02.md
Owners: @akash-network/sig-support

initial commit
  sig-clients/client-libraries/akashjs-cloudmos-console.md
Owners: @akash-network/sig-clients

sig-economicsUpdate README.md
  sig-economics/README.md
Owners: @akash-network/sig-economics

Delete 007-2023-07-19.md
  sig-clients/meetings/007-2023-07-19.md
Owners: @akash-network/sig-clients

Delete README.md
  sig-clients/README.md
Owners: @akash-network/sig-clients

Delete README.md
  sig-analytics/README.md
Owners: @akash-network/sig-analytics

Create readme.md
  sig-clients/readme.md
Owners: @akash-network/sig-clients

Create 007-2023-08-11.md
  sig-analytics/meetings/007-2023-08-11.md
Owners: @akash-network/sig-analytics

Update README.md
  sig-analytics/README.md
Owners: @akash-network/sig-analytics

Meeting Notes: sig-analytics 2023-08-11 (#295)
  sig-analytics/README.md
  sig-analytics/meetings/007-2023-08-11.md
Owners: @akash-network/sig-analytics

sig-docs: Update README.md
  sig-documentation/README.md
Owners: @akash-network/sig-documentation

sig-provider: Update README.md
  sig-providers/README.md
Owners: @akash-network/sig-providers

wg-akash-website: Update README.md
  wg-akash-website/README.md
Owners: @akash-network/community-global

Update 015-2023-08-16.md
  sig-support/meetings/015-2023-08-16.md
Owners: @akash-network/sig-support

Update README.md
  committee-steering/README.md
Owners: @akash-network/community-global

Documenting common feature areas for cloudmos and console (#294)
  sig-clients/client-libraries/akashjs-cloudmos-console.md
Owners: @akash-network/sig-clients

sig-support Create 015-2023-08-16.md (#293)
  sig-support/meetings/015-2023-08-16.md
Owners: @akash-network/sig-support

sig-design Update README.md
  sig-design/README.md
Owners: @akash-network/community-global

sig-support Update README.md
  sig-support/README.md
Owners: @akash-network/sig-support

Rename 004-2023-05-16.md to 005-2023-05-16.md
  wg-akash-website/meetings/005-2023-05-16.md
Owners: @akash-network/community-global
