Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support

Create meeting notes for Wg-youtube #8
  wg-Akash-youtube/meetings/008-2024-10-01.md
Owners: @akash-network/community-global

Create meeting notes for wg-website #34
  wg-akash-website/meetings/034-2024-08-22.md
Owners: @akash-network/community-global

Create meeting notes wg-website #35
  wg-akash-website/meetings/035-2024-09-05.md
Owners: @akash-network/community-global

Create meeting notes wg-website #36
  wg-akash-website/meetings/036-2024-09-19.md
Owners: @akash-network/community-global

Create meeting notes for sig-Design #10
  sig-design/meetings/022-2024-10-09.md
Owners: @akash-network/community-global

Create meeting notes for steering-com #20
  committee-steering/meetings/020-2024-09-26.md
Owners: @akash-network/community-global

Create meeting notes for sig-support #37
  sig-support/meetings/037-2024-09-18.md
Owners: @akash-network/sig-support

Create meeting notes for sig-support #38
  sig-support/meetings/038-2024-10-16.md
Owners: @akash-network/sig-support

Create meeting notes sig-community #20
  sig-community/meetings/020-2024-09-10.md
Owners: @akash-network/sig-community

Update 020-2024-09-10.md
  sig-community/meetings/020-2024-09-10.md
Owners: @akash-network/sig-community

Create meeting notes for Sig-Economics #20
  sig-economics/meetings/020-2024-10-09.md
Owners: @akash-network/sig-economics

steering committee Update 020-2024-09-26.md
  committee-steering/meetings/020-2024-09-26.md
Owners: @akash-network/community-global

Create meeting notes for sig-analytics #15
  sig-analytics/meetings/015-2024-10-17.md
Owners: @akash-network/sig-analytics

Create meeting notes for sig-community #10
  sig-community/meetings/010-2023-12-12.md
Owners: @akash-network/sig-community

Update 021-2024-09-25.md
  sig-providers/meetings/021-2024-09-25.md
Owners: @akash-network/sig-providers

Update 020-2024-09-26.md
  committee-steering/meetings/020-2024-09-26.md
Owners: @akash-network/community-global

Create meeting notes for steering-com #20 (#716)
  committee-steering/meetings/020-2024-09-26.md
Owners: @akash-network/community-global

Update 021-2024-09-25.md
  sig-providers/meetings/021-2024-09-25.md
Owners: @akash-network/sig-providers

Create meeting notes for sig-providers #21 (#697)
  sig-providers/meetings/021-2024-09-25.md
Owners: @akash-network/sig-providers

sig-economics Update 020-2024-10-09.md
  sig-economics/meetings/020-2024-10-09.md
Owners: @akash-network/sig-economics

sig-economics Update 020-2024-10-09.md
  sig-economics/meetings/020-2024-10-09.md
Owners: @akash-network/sig-economics

Create meeting notes for Sig-Economics #20 (#720)
  sig-economics/meetings/020-2024-10-09.md
Owners: @akash-network/sig-economics

sig-design Update 022-2024-10-09.md
  sig-design/meetings/022-2024-10-09.md
Owners: @akash-network/community-global

sig-support Update 037-2024-09-18.md
  sig-support/meetings/037-2024-09-18.md
Owners: @akash-network/sig-support

Update 038-2024-10-16.md
  sig-support/meetings/038-2024-10-16.md
Owners: @akash-network/sig-support

sig-support Update 037-2024-09-18.md
  sig-support/meetings/037-2024-09-18.md
Owners: @akash-network/sig-support

Create meeting notes for sig-support #37 (#717)
  sig-support/meetings/037-2024-09-18.md
Owners: @akash-network/sig-support

sig-support Update 038-2024-10-16.md
  sig-support/meetings/038-2024-10-16.md
Owners: @akash-network/sig-support

Create meeting notes for sig-support #38 (#718)
  sig-support/meetings/038-2024-10-16.md
Owners: @akash-network/sig-support

sig-design Update 022-2024-10-09.md
  sig-design/meetings/022-2024-10-09.md
Owners: @akash-network/community-global

Create meeting notes for sig-Design #10 (#715)
  sig-design/meetings/022-2024-10-09.md
Owners: @akash-network/community-global

Update 008-2024-10-01.md
  wg-Akash-youtube/meetings/008-2024-10-01.md
Owners: @akash-network/community-global

Update 010-2023-12-12.md
  sig-community/meetings/010-2023-12-12.md
Owners: @akash-network/sig-community

Create meeting notes for sig-community #10 (#722)
  sig-community/meetings/010-2023-12-12.md
Owners: @akash-network/sig-community

Update 006-2024-09-03.md
  wg-Akash-youtube/meetings/006-2024-09-03.md
Owners: @akash-network/community-global

Create meeting notes for wg-youtube #6 (#708)
  wg-Akash-youtube/meetings/006-2024-09-03.md
Owners: @akash-network/community-global

Update 015-2024-10-17.md
  sig-analytics/meetings/015-2024-10-17.md
Owners: @akash-network/sig-analytics

Create meeting notes for sig-analytics #15 (#721)
  sig-analytics/meetings/015-2024-10-17.md
Owners: @akash-network/sig-analytics

Update 008-2024-10-01.md
  wg-Akash-youtube/meetings/008-2024-10-01.md
Owners: @akash-network/community-global

Create meeting notes for Wg-youtube #8 (#710)
  wg-Akash-youtube/meetings/008-2024-10-01.md
Owners: @akash-network/community-global
