Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support

Update 017-2024-06-18.md
  sig-economics/meetings/017-2024-06-18.md
Owners: @akash-network/sig-economics

Create meeting notes for sig-economics #17 (#616)
  sig-economics/meetings/017-2024-06-18.md
Owners: @akash-network/sig-economics

sig-economics Update README.md
  sig-economics/README.md
Owners: @akash-network/sig-economics

community-pool-spend-reporting Create README.md
  community-pool-spend-reporting/README.md
Owners: @akash-network/community-global

Update README.md
  community-pool-spend-reporting/README.md
Owners: @akash-network/community-global

community-pool-spend-reporting Update README.md
  community-pool-spend-reporting/README.md
Owners: @akash-network/community-global

community-pool-spend-reporting Update README.md (#619)
  community-pool-spend-reporting/README.md
Owners: @akash-network/community-global

Create meeting notes for sig-support #34
  sig-support/meetings/034-2024-06-26.md
Owners: @akash-network/sig-support

Update 002-2024-06-13.md
  wg-provider-audit/meetings/002-2024-06-13.md
Owners: @akash-network/community-global

Create meeting notes for wg-provider-audits #2 (#618)
  wg-provider-audit/meetings/002-2024-06-13.md
Owners: @akash-network/community-global

Update 017-2024-06-11.md
  sig-chain/meetings/017-2024-06-11.md
Owners: @akash-network/sig-chain

Create meeting notes for Sig-chain #17 (#611)
  sig-chain/meetings/017-2024-06-11.md
Owners: @akash-network/sig-chain

Update 017-2024-05-22.md
  sig-providers/meetings/017-2024-05-22.md
Owners: @akash-network/sig-providers

Update 016-2024-05-21.md
  sig-chain/meetings/016-2024-05-21.md
Owners: @akash-network/sig-chain

Create meeting notes for sig-chain #16 (#610)
  sig-chain/meetings/016-2024-05-21.md
Owners: @akash-network/sig-chain

Update 017-2024-06-12.md
  sig-design/meetings/017-2024-06-12.md
Owners: @akash-network/community-global

Create meeting notes for Sig-design #17 (#604)
  sig-design/meetings/017-2024-06-12.md
Owners: @akash-network/community-global

Update 017-2024-05-22.md
  sig-providers/meetings/017-2024-05-22.md
Owners: @akash-network/sig-providers

Create meeting notes for Sig-providers #17 (#615)
  sig-providers/meetings/017-2024-05-22.md
Owners: @akash-network/sig-providers

Update 016-2024-06-11.md
  sig-community/meetings/016-2024-06-11.md
Owners: @akash-network/sig-community

Create meeting notes for sig-community #16 (#603)
  sig-community/meetings/016-2024-06-11.md
Owners: @akash-network/sig-community

Update 034-2024-06-26.md
  sig-support/meetings/034-2024-06-26.md
Owners: @akash-network/sig-support

Create meeting notes for sig-support #34 (#622)
  sig-support/meetings/034-2024-06-26.md
Owners: @akash-network/sig-support

Create meeting m=notes for sig client #15
  sig-clients/meetings/015-2024-04-24.md
Owners: @akash-network/sig-clients

Update 015-2024-04-24.md
  sig-clients/meetings/015-2024-04-24.md
Owners: @akash-network/sig-clients

Create meeting notes for sig client #15 (#627)
  sig-clients/meetings/015-2024-04-24.md
Owners: @akash-network/sig-clients

Update 031-2024-06-13.md
  wg-akash-website/meetings/031-2024-06-13.md
Owners: @akash-network/community-global

Create meeting notes for wg-website #31 (#607)
  wg-akash-website/meetings/031-2024-06-13.md
Owners: @akash-network/community-global

Update 030-2024-05-16.md
  wg-akash-website/meetings/030-2024-05-16.md
Owners: @akash-network/community-global

Create meeting notes for wg-website #30 (#596)
  wg-akash-website/meetings/030-2024-05-16.md
Owners: @akash-network/community-global

Update 012-2024-04-29.md
  wg-zealy/meetings/012-2024-04-29.md
Owners: @akash-network/community-global

Create meeting notes for wg-zealy #12 (#593)
  wg-zealy/meetings/012-2024-04-29.md
Owners: @akash-network/community-global

Update 011-2024-04-15.md
  wg-zealy/meetings/011-2024-04-15.md
Owners: @akash-network/community-global

Create meeting notes for Wg-Zealy #11 (#565)
  wg-zealy/meetings/011-2024-04-15.md
Owners: @akash-network/community-global

Create Zealy WG Call 2024-03-04 (#509)
  wg-zealy/meetings/2024-03-04
Owners: @akash-network/community-global

July-readme
  sig-chain/README.md
  sig-clients/README.md
  sig-community/README.md
  sig-design/README.md
  sig-design/meetings/017-2024-05-08.md
  sig-design/meetings/018-2024-06-12.md
  sig-providers/README.md
  sig-support/README.md
  wg-akash-website/README.md
  wg-provider-audit/README.md
  wg-provider-audit/meetings/001-2024-02-21.md
  wg-zealy/README.md
Owners: @akash-network/sig-chain, @akash-network/sig-clients, @akash-network/sig-community, @akash-network/community-global, @akash-network/sig-providers, @akash-network/sig-support

Create meeting notes for sig-client #16
  sig-clients/meetings/016-2024-06-25.md
Owners: @akash-network/sig-clients

Create meeting notes for Sig-economics #18
  sig-economics/meetings/018-2024-07-03.md
Owners: @akash-network/sig-economics

Create meeting notes for Sig-Community #17
  sig-community/meetings/017-2024-07-09.md
Owners: @akash-network/sig-community

Create meeting notes Sig-Community #17
  sig-community/meetings/017-2024-07-09.md
Owners: @akash-network/sig-community
