Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

chore: add devops team to issue template
  .github/ISSUE_TEMPLATE/-provider-audit--template.md
Owners: @akash-network/community-global

chore: add devops team to issue template (#847)
  .github/ISSUE_TEMPLATE/-provider-audit--template.md
Owners: @akash-network/community-global

chore: fix yaml formating for issue tmpl
  .github/ISSUE_TEMPLATE/-provider-audit--template.md
Owners: @akash-network/community-global

chore: fix yaml formating for issue tmpl (#848)
  .github/ISSUE_TEMPLATE/-provider-audit--template.md
Owners: @akash-network/community-global

Update 025-2025-03-12.md
  sig-chain/meetings/025-2025-03-12.md
Owners: @akash-network/sig-chain

Create meeting notes for sig-chain #25 (#842)
  sig-chain/meetings/025-2025-03-12.md
Owners: @akash-network/sig-chain

Update 025-2025-3-11.md
  sig-community/meetings/025-2025-3-11.md
Owners: @akash-network/sig-community

Create meeting notes for sig-community #25 (#843)
  sig-community/meetings/025-2025-3-11.md
Owners: @akash-network/sig-community

Update 002-2025-1-29.md
  002-2025-1-29.md
Owners: @akash-network/community-global

Create meeting notes wg-events #2 (#803)
  002-2025-1-29.md
Owners: @akash-network/community-global

Create meeting notes for sig support #41
  sig-support/meetings/041-2025-02-19.md
Owners: @akash-network/sig-support

Create meeting notes for sig-support #42
  sig-support/meetings/042-2025-03-19.md
Owners: @akash-network/sig-support

Create meeting notes for sig docs #16
  sig-documentation/meetings/016-2025-02-25.md
Owners: @akash-network/sig-documentation

Create meeting notes for sig design #26
  sig-design/meetings/026-2025-03-12.md
Owners: @akash-network/community-global

Update 016-2025-02-25.md
  sig-documentation/meetings/016-2025-02-25.md
Owners: @akash-network/sig-documentation

Create meeting notes for sig docs #16 (#856)
  sig-documentation/meetings/016-2025-02-25.md
Owners: @akash-network/sig-documentation

Update 041-2025-02-19.md
  sig-support/meetings/041-2025-02-19.md
Owners: @akash-network/sig-support

Update 042-2025-03-19.md
  sig-support/meetings/042-2025-03-19.md
Owners: @akash-network/sig-support

Create meeting notes for sig-support #42 (#853)
  sig-support/meetings/042-2025-03-19.md
Owners: @akash-network/sig-support

Create meeting notes for sig support #41 (#852)
  sig-support/meetings/041-2025-02-19.md
Owners: @akash-network/sig-support

Update 026-2025-03-12.md
  sig-design/meetings/026-2025-03-12.md
Owners: @akash-network/community-global

Create meeting notes for sig design #26 (#857)
  sig-design/meetings/026-2025-03-12.md
Owners: @akash-network/community-global

Update readme table
  sig-chain/README.md
  sig-community/README.md
  sig-design/README.md
  sig-documentation/README.md
  sig-providers/README.md
  sig-support/README.md
Owners: @akash-network/sig-chain, @akash-network/sig-community, @akash-network/community-global, @akash-network/sig-documentation, @akash-network/sig-providers, @akash-network/sig-support

Create meeting notes for sig-economics #25
  sig-economics/meetings/025-2025-03-19.md
Owners: @akash-network/sig-economics

Update readme table (#861)
  sig-chain/README.md
  sig-community/README.md
  sig-design/README.md
  sig-documentation/README.md
  sig-providers/README.md
  sig-support/README.md
Owners: @akash-network/sig-chain, @akash-network/sig-community, @akash-network/community-global, @akash-network/sig-documentation, @akash-network/sig-providers, @akash-network/sig-support

Update sig-clients README.md
  sig-clients/README.md
Owners: @akash-network/sig-clients

Update sig-support README.md
  sig-support/README.md
Owners: @akash-network/sig-support

feat: updates to sync community repo with website repo
  .github/workflows/akash-network-website-update.yml
  sig-analytics/README.md
  sig-chain/README.md
  sig-clients/README.md
  sig-community/README.md
  sig-deployments/README.md
  sig-design/README.md
  sig-documentation/README.md
  sig-economics/README.md
  sig-education/README.md
  sig-providers/README.md
  sig-support/README.md
  wg-Akash-youtube/README.md
  wg-akash-hackathon/README.md
  wg-akash-website/README.md
  wg-client-libraries/README.md
  wg-content-moderation/README.md
  wg-economics-2.0/README.md
  wg-events/README.md
  wg-gpu/README.md
  wg-provider-attributes/README.md
  wg-provider-audit/README.md
  wg-testnet-sandbox/README.md
  wg-zealy/README.md
Owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-clients, @akash-network/sig-community, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-providers, @akash-network/sig-support

Create meeting notes for Sig-Providers #27
  sig-providers/meetings/027-2025-03-26.md
Owners: @akash-network/sig-providers

Update 027-2025-03-26.md
  sig-providers/meetings/027-2025-03-26.md
Owners: @akash-network/sig-providers

Create meeting notes for Sig-Providers #27 (#874)
  sig-providers/meetings/027-2025-03-26.md
Owners: @akash-network/sig-providers

Update sig-providers README.md
  sig-providers/README.md
Owners: @akash-network/sig-providers

Update steering committee README.md
  committee-steering/README.md
Owners: @akash-network/community-global

Update steering committee README.md
  committee-steering/README.md
Owners: @akash-network/community-global

feat: updates to sync community repo with website repo
  .github/workflows/akash-network-website-update.yml
  sig-analytics/README.md
  sig-chain/README.md
  sig-clients/README.md
  sig-community/README.md
  sig-deployments/README.md
  sig-design/README.md
  sig-documentation/README.md
  sig-economics/README.md
  sig-education/README.md
  sig-providers/README.md
  sig-support/README.md
  wg-Akash-youtube/README.md
  wg-akash-hackathon/README.md
  wg-akash-website/README.md
  wg-client-libraries/README.md
  wg-content-moderation/README.md
  wg-economics-2.0/README.md
  wg-events/README.md
  wg-gpu/README.md
  wg-provider-attributes/README.md
  wg-provider-audit/README.md
  wg-testnet-sandbox/README.md
  wg-zealy/README.md
Owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-clients, @akash-network/sig-community, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-providers, @akash-network/sig-support

Create meeting notes for sig-support #43
  sig-support/meetings/043-2025-04-16.md
Owners: @akash-network/sig-support

Create meeting notes for sig-client #20
  sig-clients/meetings/020-2025-04-15.md
Owners: @akash-network/sig-clients

feat: updates to sync community repo with website repo
  .github/workflows/akash-network-website-update.yml
  sig-analytics/README.md
  sig-chain/README.md
  sig-clients/README.md
  sig-community/README.md
  sig-deployments/README.md
  sig-design/README.md
  sig-documentation/README.md
  sig-economics/README.md
  sig-education/README.md
  sig-providers/README.md
  sig-support/README.md
  wg-Akash-youtube/README.md
  wg-akash-hackathon/README.md
  wg-akash-website/README.md
  wg-client-libraries/README.md
  wg-content-moderation/README.md
  wg-economics-2.0/README.md
  wg-events/README.md
  wg-gpu/README.md
  wg-provider-attributes/README.md
  wg-provider-audit/README.md
  wg-testnet-sandbox/README.md
  wg-zealy/README.md
Owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-clients, @akash-network/sig-community, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-providers, @akash-network/sig-support

Create meeting notes for steering committee #26
  committee-steering/meetings/026-2025-03-27.md
Owners: @akash-network/community-global

Update 026-2025-03-27.md
  committee-steering/meetings/026-2025-03-27.md
Owners: @akash-network/community-global

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support
