Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

Create meeting notes for sig -providers #18
  sig-providers/meetings/018-2024-06-26.md
Owners: @akash-network/sig-providers

update readme tables (#628)
  sig-chain/README.md
  sig-clients/README.md
  sig-community/README.md
  sig-design/README.md
  sig-design/meetings/017-2024-05-08.md
  sig-design/meetings/018-2024-06-12.md
  sig-providers/README.md
  sig-support/README.md
  wg-akash-website/README.md
  wg-provider-audit/README.md
  wg-provider-audit/meetings/001-2024-02-21.md
  wg-zealy/README.md
Owners: @akash-network/sig-chain, @akash-network/sig-clients, @akash-network/sig-community, @akash-network/community-global, @akash-network/sig-providers, @akash-network/sig-support

Update 016-2024-06-25.md
  sig-clients/meetings/016-2024-06-25.md
Owners: @akash-network/sig-clients

Update 017-2024-07-09.md
  sig-community/meetings/017-2024-07-09.md
Owners: @akash-network/sig-community

Update 018-2024-06-26.md
  sig-providers/meetings/018-2024-06-26.md
Owners: @akash-network/sig-providers

Update 018-2024-07-03.md
  sig-economics/meetings/018-2024-07-03.md
Owners: @akash-network/sig-economics

Update 017-2024-07-09.md
  sig-community/meetings/017-2024-07-09.md
Owners: @akash-network/sig-community

Create meeting notes for Sig-Community #17 (#631)
  sig-community/meetings/017-2024-07-09.md
Owners: @akash-network/sig-community

Create meeting notes for sig-chain #18
  sig-chain/meetings/018-2024-07-17.md
Owners: @akash-network/sig-chain

Create meeting notes for Sig-Design #19
  sig-design/meetings/019-2024-07-17.md
Owners: @akash-network/community-global

Update 018-2024-07-03.md
  sig-economics/meetings/018-2024-07-03.md
Owners: @akash-network/sig-economics

Create meeting notes for Sig-economics #18 (#630)
  sig-economics/meetings/018-2024-07-03.md
Owners: @akash-network/sig-economics

Create meeting notes for sig -providers #18 (#635)
  sig-providers/meetings/018-2024-06-26.md
Owners: @akash-network/sig-providers

Update steering committee README.md
  committee-steering/README.md
Owners: @akash-network/community-global

steering committee Create 017-2024-06-27.md
  committee-steering/meetings/017-2024-06-27.md
Owners: @akash-network/community-global

Update 017-2024-06-27.md
  committee-steering/meetings/017-2024-06-27.md
Owners: @akash-network/community-global

steering committee Create 017-2024-06-27.md (#643)
  committee-steering/meetings/017-2024-06-27.md
Owners: @akash-network/community-global

Update 019-2024-07-17.md
  sig-design/meetings/019-2024-07-17.md
Owners: @akash-network/community-global

Create meeting notes for Sig-Design #19 (#638)
  sig-design/meetings/019-2024-07-17.md
Owners: @akash-network/community-global

Update 016-2024-06-25.md
  sig-clients/meetings/016-2024-06-25.md
Owners: @akash-network/sig-clients

Create meeting notes for sig-client #16 (#629)
  sig-clients/meetings/016-2024-06-25.md
Owners: @akash-network/sig-clients

Update 018-2024-07-17.md
  sig-chain/meetings/018-2024-07-17.md
Owners: @akash-network/sig-chain

Create meeting notes for sig-chain #18 (#637)
  sig-chain/meetings/018-2024-07-17.md
Owners: @akash-network/sig-chain

steering committee Update README.md
  committee-steering/README.md
Owners: @akash-network/community-global

Create meeting notes for sig providers #19
  sig-providers/meetings/019-2024-07-24.md
Owners: @akash-network/sig-providers

Create meeting notes sig-support #35
  sig-support/meetings/035-2024-07-24.md
Owners: @akash-network/sig-support

Create meeting notes for Committee-Steering #18
  committee-steering/meetings/018-2024-07-25.md
Owners: @akash-network/community-global

july2024 readme
  sig-chain/README.md
  sig-clients/README.md
  sig-community/README.md
  sig-design/README.md
  sig-economics/README.md
  sig-providers/README.md
  wg-Akash-youtube/README.md
Owners: @akash-network/sig-chain, @akash-network/sig-clients, @akash-network/sig-community, @akash-network/community-global, @akash-network/sig-economics, @akash-network/sig-providers

Create meeting notes for wg-website 32
  wg-akash-website/meetings/032-2024-07-25.md
Owners: @akash-network/community-global

Create ReadMe.md
  wg-akash-youtube/ReadMe.md
Owners: @akash-network/community-global

Update 018-2024-07-25.md
  committee-steering/meetings/018-2024-07-25.md
Owners: @akash-network/community-global

Update 035-2024-07-24.md
  sig-support/meetings/035-2024-07-24.md
Owners: @akash-network/sig-support

Update 019-2024-07-24.md
  sig-providers/meetings/019-2024-07-24.md
Owners: @akash-network/sig-providers

Update 035-2024-07-24.md
  sig-support/meetings/035-2024-07-24.md
Owners: @akash-network/sig-support

Update 018-2024-07-25.md
  committee-steering/meetings/018-2024-07-25.md
Owners: @akash-network/community-global

Update 019-2024-07-24.md
  sig-providers/meetings/019-2024-07-24.md
Owners: @akash-network/sig-providers

Update 032-2024-07-25.md
  wg-akash-website/meetings/032-2024-07-25.md
Owners: @akash-network/community-global

Create meeting notes for Committee-Steering #18 (#649)
  committee-steering/meetings/018-2024-07-25.md
Owners: @akash-network/community-global

Update Readme table (#655)
  sig-chain/README.md
  sig-clients/README.md
  sig-community/README.md
  sig-design/README.md
  sig-economics/README.md
  sig-providers/README.md
  wg-Akash-youtube/README.md
Owners: @akash-network/sig-chain, @akash-network/sig-clients, @akash-network/sig-community, @akash-network/community-global, @akash-network/sig-economics, @akash-network/sig-providers

Create meeting notes for sig-chain #19
  sig-chain/meetings/019-2024-08-13.md
Owners: @akash-network/sig-chain

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support
