Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

rename wg-akash-youtube files
  wg-Akash-youtube/meetings/001-2024-07-23.md
  wg-Akash-youtube/meetings/002-2024-07-30.md
  wg-Akash-youtube/meetings/003-2024-08-06.md
Owners: @akash-network/community-global

rename wg-akash-youtube meeting files to add ".md" (#677)
  wg-Akash-youtube/meetings/001-2024-07-23.md
  wg-Akash-youtube/meetings/002-2024-07-30.md
  wg-Akash-youtube/meetings/003-2024-08-06.md
Owners: @akash-network/community-global

Create meeting notes for wg-Zealy #15
  wg-zealy/meetings/015-2024-08-26.md
Owners: @akash-network/community-global

Create meeting notes for wg-zealy #16
  wg-zealy/meetings/016-2024-09-09.md
Owners: @akash-network/community-global

Create meeting notes for wg-website 32 (#657)
  wg-akash-website/meetings/032-2024-07-25.md
Owners: @akash-network/community-global

wg-akash-website Update 033-2024-08-08.md
  wg-akash-website/meetings/033-2024-08-08.md
Owners: @akash-network/community-global

Create meeting notes for wg-website #33 (#662)
  wg-akash-website/meetings/033-2024-08-08.md
Owners: @akash-network/community-global

wg-zealy Update 013-2024-08-12.md
  wg-zealy/meetings/013-2024-08-12.md
Owners: @akash-network/community-global

Create meeting notes for wg-zealy #13 (#661)
  wg-zealy/meetings/013-2024-08-12.md
Owners: @akash-network/community-global

Update 018-2024-08-07.md
  sig-economics/meetings/018-2024-08-07.md
Owners: @akash-network/sig-economics

Create meeting notes Sig-economics #18 (#674)
  sig-economics/meetings/018-2024-08-07.md
Owners: @akash-network/sig-economics

Update 015-2024-08-26.md
  wg-zealy/meetings/015-2024-08-26.md
Owners: @akash-network/community-global

Update 015-2024-08-26.md
  wg-zealy/meetings/015-2024-08-26.md
Owners: @akash-network/community-global

Create meeting notes for wg-Zealy #15 (#678)
  wg-zealy/meetings/015-2024-08-26.md
Owners: @akash-network/community-global

Update 014-2024-08-19.md
  wg-zealy/meetings/014-2024-08-19.md
Owners: @akash-network/community-global

Create meeting notes wg-zealy #14 (#672)
  wg-zealy/meetings/014-2024-08-19.md
Owners: @akash-network/community-global

steering committee Update README.md
  committee-steering/README.md
Owners: @akash-network/community-global

Create meeting notes for Sig-Design #21
  sig-design/meetings/021-2024-09-11.md
Owners: @akash-network/community-global

Create meetig notes for sig-community #19
  sig-community/meetings/019-2024-09-10.md
Owners: @akash-network/sig-community

sig-design Update 021-2024-09-11.md
  sig-design/meetings/021-2024-09-11.md
Owners: @akash-network/community-global

Create meeting notes for Sig-Design #21 (#682)
  sig-design/meetings/021-2024-09-11.md
Owners: @akash-network/community-global

sig-community Update 019-2024-09-10.md
  sig-community/meetings/019-2024-09-10.md
Owners: @akash-network/sig-community

Create meeting notes for sig-community #19 (#683)
  sig-community/meetings/019-2024-09-10.md
Owners: @akash-network/sig-community

Create meeting notes for steering committee #19
  committee-steering/meetings/019-2024-08-29.md
Owners: @akash-network/community-global

Update 019-2024-08-29.md
  committee-steering/meetings/019-2024-08-29.md
Owners: @akash-network/community-global

steering committee Update 019-2024-08-29.md
  committee-steering/meetings/019-2024-08-29.md
Owners: @akash-network/community-global

Create meeting notes for steering committee #19 (#684)
  committee-steering/meetings/019-2024-08-29.md
Owners: @akash-network/community-global

sig-providers Update README.md
  sig-providers/README.md
Owners: @akash-network/sig-providers

update readme table
  committee-steering/README.md
  sig-analytics/README.md
  sig-community/README.md
  sig-design/README.md
  sig-economics/README.md
  sig-support/README.md
  wg-Akash-youtube/README.md
  wg-akash-website/README.md
  wg-zealy/README.md
Owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-community, @akash-network/sig-economics, @akash-network/sig-support

update readme table (#685)
  committee-steering/README.md
  sig-analytics/README.md
  sig-community/README.md
  sig-design/README.md
  sig-economics/README.md
  sig-support/README.md
  wg-Akash-youtube/README.md
  wg-akash-website/README.md
  wg-zealy/README.md
Owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-community, @akash-network/sig-economics, @akash-network/sig-support

correct link in the template
  .github/ISSUE_TEMPLATE/-provider-audit--template.md
Owners: @akash-network/community-global

correct link in the template (#689)
  .github/ISSUE_TEMPLATE/-provider-audit--template.md
Owners: @akash-network/community-global

Create meeting notes for wg-zealy #17
  wg-zealy/meetings/017-2024-09-30.md
Owners: @akash-network/community-global

Update sig-community README.md
  sig-community/README.md
Owners: @akash-network/sig-community

Create meeting notes for wg-zealy #18
  wg-zealy/meetings/018-2024-10-07.md
Owners: @akash-network/community-global

Create meeting notes for sig-providers #21
  sig-providers/meetings/021-2024-09-25.md
Owners: @akash-network/sig-providers

sig-analytics Update README.md
  sig-analytics/README.md
Owners: @akash-network/sig-analytics

Create meeting notes for wg-youtube #4
  wg-Akash-youtube/meetings/004-2024-08-16.md
Owners: @akash-network/community-global

Create meeting notes for wg-youtube #5
  wg-Akash-youtube/meetings/005-2024-08-20.md
Owners: @akash-network/community-global

Create meeting notes for wg-youtube #6
  wg-Akash-youtube/meetings/006-2024-09-03.md
Owners: @akash-network/community-global

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support
