Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support

sig-providers Update README.md
  sig-providers/README.md
Owners: @akash-network/sig-providers

sig-support Update README.md
  sig-support/README.md
Owners: @akash-network/sig-support

sig-support Update README.md
  sig-support/README.md
Owners: @akash-network/sig-support

sig-economics Update 008-2023-09-06.md
  sig-economics/meetings/008-2023-09-06.md
Owners: @akash-network/sig-economics

sig-chain Update README.md
  sig-chain/README.md
Owners: @akash-network/sig-chain

sig-economics - Add meeting 8 notes and update README (#311)
  sig-economics/README.md
  sig-economics/meetings/008-2023-09-06.md
Owners: @akash-network/sig-economics

sig-providers Create 009-2023-09-27.md
  sig-providers/meetings/009-2023-09-27.md
Owners: @akash-network/sig-providers

sig-docs Create 008-2023-09-26.md
  sig-documentation/meetings/008-2023-09-26.md
Owners: @akash-network/sig-documentation

Steering Committee: Create 009-2023-09-28.md
  committee-steering/meetings/009-2023-09-28.md
Owners: @akash-network/community-global

Update 009-2023-09-28.md
  committee-steering/meetings/009-2023-09-28.md
Owners: @akash-network/community-global

Update 009-2023-09-28.md
  committee-steering/meetings/009-2023-09-28.md
Owners: @akash-network/community-global

Update 009-2023-09-27.md
  sig-providers/meetings/009-2023-09-27.md
Owners: @akash-network/sig-providers

Create meeting notes for Sig-community #4
  sig-community/meetings/004-2023-05-9.md
Owners: @akash-network/sig-community

Steering Committee: Create 009-2023-09-28.md (#315)
  committee-steering/meetings/009-2023-09-28.md
Owners: @akash-network/community-global

sig-providers Create 009-2023-09-27.md (#313)
  sig-providers/meetings/009-2023-09-27.md
Owners: @akash-network/sig-providers

Create meeting notes for sig-community #5
  sig-community/meetings/005-2023-06-13.md
Owners: @akash-network/sig-community

sig-providers Update README.md
  sig-providers/README.md
Owners: @akash-network/sig-providers

sig-chain Update README.md
  sig-chain/README.md
Owners: @akash-network/sig-chain

Create meeting notes for sig-community #7
  sig-community/meetings/007-2023-08-08.md
Owners: @akash-network/sig-community

Create notes for wg-website meeting #7
  wg-akash-website/meetings/007-2023-06-27.md
Owners: @akash-network/community-global

Create meeting notes for wg-Akash-website #8
  wg-akash-website/meetings/008-2023-08-17.md
Owners: @akash-network/community-global

Create meeting notes for wg-website #9
  wg-akash-website/meetings/009-2023-08-24.md
Owners: @akash-network/community-global

sig-chain Create 009-2023-10-10.md
  sig-chain/meetings/009-2023-10-10.md
Owners: @akash-network/sig-chain

sig-support Create 019-2023-10-11.md
  sig-support/meetings/019-2023-10-11.md
Owners: @akash-network/sig-support

sig-community Update 007-2023-08-08.md
  sig-community/meetings/007-2023-08-08.md
Owners: @akash-network/sig-community

sig-design Create 010-2023-10-11.md
  sig-design/meetings/010-2023-10-11.md
Owners: @akash-network/community-global

Update and rename 008-2023-08-17.md to 009-2023-08-17.md
  wg-akash-website/meetings/009-2023-08-17.md
Owners: @akash-network/community-global

Create meeting notes for wg-Akash-website #8
  wg-akash-website/meetings/008-2023-08-10.md
Owners: @akash-network/community-global

Update and rename 009-2023-08-24.md to 010-2023-08-24.md
  wg-akash-website/meetings/010-2023-08-24.md
Owners: @akash-network/community-global

sig-analytics Create 009-2023-10-12.md
  sig-analytics/meetings/009-2023-10-12.md
Owners: @akash-network/sig-analytics

Update 006-2023-07-11.md
  sig-community/meetings/006-2023-07-11.md
Owners: @akash-network/sig-community

Rename 01-2023-01-31.md to 001-2023-01-31.md
  sig-community/meetings/001-2023-01-31.md
Owners: @akash-network/sig-community

Update 005-2023-06-13.md
  sig-community/meetings/005-2023-06-13.md
Owners: @akash-network/sig-community

Update 007-2023-08-08.md
  sig-community/meetings/007-2023-08-08.md
Owners: @akash-network/sig-community

Update README.md table for sig-community
  sig-community/README.md
Owners: @akash-network/sig-community

Rename 01-2023-01-31.md to 001-2023-01-31.md (#333)
  sig-community/meetings/001-2023-01-31.md
Owners: @akash-network/sig-community

Create meeting notes for sig-analytics meeting #9
  sig-analytics/meetings/009-2023-10-12.md
Owners: @akash-network/sig-analytics

Update 009-2023-10-12.md
  sig-analytics/meetings/009-2023-10-12.md
Owners: @akash-network/sig-analytics

Update 009-2023-10-10.md
  sig-chain/meetings/009-2023-10-10.md
Owners: @akash-network/sig-chain

Update 009-2023-10-12.md
  sig-analytics/meetings/009-2023-10-12.md
Owners: @akash-network/sig-analytics
