Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support

meeting notes sig-support #48
  sig-support/meetings/048-2025-09-24.md
Owners: @akash-network/sig-support

update readme table (#1061)
  backup/Dockerfile
  backup/devcontainer.json
  sig-chain/README.md
  sig-community/README.md
  sig-design/README.md
  sig-economics/README.md
Owners: @akash-network/community-global, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-economics

Update sig-economics README.md
  sig-economics/README.md
Owners: @akash-network/sig-economics

meeting notes sig-chain #30
  sig-chain/meetings/030-2025-10-21.md
Owners: @akash-network/sig-chain

meeting notes sig-community #32
  sig-community/meetings/032-2025-10-14.md
Owners: @akash-network/sig-community

meeting notes sig-economics #32
  sig-economics/meetings/032-2025-10-22.md
Owners: @akash-network/sig-economics

sig-support #49
  sig-support/meetings/049-2025-10-22.md
Owners: @akash-network/sig-support

sig providers meeting notes #34
  sig-providers/meetings/034-2025-10-22.md
Owners: @akash-network/sig-providers

Update 049-2025-10-22.md
  sig-support/meetings/049-2025-10-22.md
Owners: @akash-network/sig-support

sig-support meeting #49 (#1080)
  sig-support/meetings/049-2025-10-22.md
Owners: @akash-network/sig-support

Update 030-2025-10-21.md
  sig-chain/meetings/030-2025-10-21.md
Owners: @akash-network/sig-chain

meeting notes sig-chain #30 (#1077)
  sig-chain/meetings/030-2025-10-21.md
Owners: @akash-network/sig-chain

Update 048-2025-09-24.md
  sig-support/meetings/048-2025-09-24.md
Owners: @akash-network/sig-support

meeting notes wg-meeting-october
  wg-events/meeting-2025/009-2025-10-28.md
Owners: @akash-network/community-global

meeting notes sig-support #48 (#1070)
  sig-support/meetings/048-2025-09-24.md
Owners: @akash-network/sig-support

chore: fix a large number of spelling issues
  committee-steering/meetings/013-2024-03-07.md
  committee-steering/meetings/016-2024-06-06.md
  sig-analytics/meetings/011-2024-02-15.md
  sig-chain/meetings/001-2023-02-08.md
  sig-chain/meetings/005-2023-06-06.md
  sig-chain/meetings/007-2023-08-01.md
  sig-clients/meetings/008-2023-08-16.md
  sig-deployments/meetings/001-2023-02-01.md
  sig-support/meetings/013-2023-07-19.md
  sig-support/meetings/014-2023-08-02.md
  sig-support/meetings/015-2023-08-16.md
  sig-support/meetings/016-2023-08-30.md
  sig-support/meetings/017-2023-09-13.md
  sig-support/meetings/019-2023-10-11.md
  sig-support/meetings/023-2023-12-06.md
  wg-akash-website/meetings/002-2023-03-07.md
  wg-zealy/meetings/009-2024-02-12.md
Owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-support

meeting notes steering committee #33
  committee-steering/meetings/033-2025-10-30.md
Owners: @akash-network/community-global

meeting notes sig-clients #23
  sig-clients/meetings/023-2025-11-05.md
Owners: @akash-network/sig-clients

chore: fix a large number of spelling issues (#1083)
  committee-steering/meetings/013-2024-03-07.md
  committee-steering/meetings/016-2024-06-06.md
  sig-analytics/meetings/011-2024-02-15.md
  sig-chain/meetings/001-2023-02-08.md
  sig-chain/meetings/005-2023-06-06.md
  sig-chain/meetings/007-2023-08-01.md
  sig-clients/meetings/008-2023-08-16.md
  sig-deployments/meetings/001-2023-02-01.md
  sig-support/meetings/013-2023-07-19.md
  sig-support/meetings/014-2023-08-02.md
  sig-support/meetings/015-2023-08-16.md
  sig-support/meetings/016-2023-08-30.md
  sig-support/meetings/017-2023-09-13.md
  sig-support/meetings/019-2023-10-11.md
  sig-support/meetings/023-2023-12-06.md
  wg-akash-website/meetings/002-2023-03-07.md
  wg-zealy/meetings/009-2024-02-12.md
Owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-support

Update 032-2025-10-22.md
  sig-economics/meetings/032-2025-10-22.md
Owners: @akash-network/sig-economics

meeting notes sig-economics #32 (#1079)
  sig-economics/meetings/032-2025-10-22.md
Owners: @akash-network/sig-economics

Update 033-2025-10-30.md
  committee-steering/meetings/033-2025-10-30.md
Owners: @akash-network/community-global

meeting notes steering committee #33 (#1093)
  committee-steering/meetings/033-2025-10-30.md
Owners: @akash-network/community-global

Update sig-economics README.md
  sig-economics/README.md
Owners: @akash-network/sig-economics

Update 034-2025-10-22.md
  sig-providers/meetings/034-2025-10-22.md
Owners: @akash-network/sig-providers

sig providers meeting notes #34 (#1081)
  sig-providers/meetings/034-2025-10-22.md
Owners: @akash-network/sig-providers

Update 033-2025-09-24.md
  sig-providers/meetings/033-2025-09-24.md
Owners: @akash-network/sig-providers

meeting notes sig-providers #33 (#1069)
  sig-providers/meetings/033-2025-09-24.md
Owners: @akash-network/sig-providers

Update 032-2025-10-14.md
  sig-community/meetings/032-2025-10-14.md
Owners: @akash-network/sig-community

Update 023-2025-11-05.md
  sig-clients/meetings/023-2025-11-05.md
Owners: @akash-network/sig-clients

meeting notes sig-clients #23 (#1094)
  sig-clients/meetings/023-2025-11-05.md
Owners: @akash-network/sig-clients

meeting notes sig-community #32 (#1078)
  sig-community/meetings/032-2025-10-14.md
Owners: @akash-network/sig-community

Update 004-2025-04-16.md
  wg-events/meeting-2025/004-2025-04-16.md
Owners: @akash-network/community-global

meeting notes WG-events #4 (#984)
  wg-events/meeting-2025/004-2025-04-16.md
Owners: @akash-network/community-global

Update 009-2025-10-28.md
  wg-events/meeting-2025/009-2025-10-28.md
Owners: @akash-network/community-global

meeting notes wg-event-october (#1082)
  wg-events/meeting-2025/009-2025-10-28.md
Owners: @akash-network/community-global

meeting notes sig-community #33
  sig-community/meetings/033-2025-11-12.md
Owners: @akash-network/sig-community

update readme table
  sig-chain/README.md
  sig-clients/README.md
  sig-community/README.md
  sig-providers/README.md
  sig-support/README.md
  wg-events/README.md
Owners: @akash-network/sig-chain, @akash-network/sig-clients, @akash-network/sig-community, @akash-network/sig-providers, @akash-network/sig-support, @akash-network/community-global

wg-website-November 6th meeting
  wg-akash-website/meetings/2025-11-06.md
Owners: @akash-network/community-global

wg website February 20th-2025
  wg-akash-website/2025-02-20.md
Owners: @akash-network/community-global
