Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support

Create 005-2023-06-07.md
  sig-economics/meetings/005-2023-06-07.md
Owners: @akash-network/sig-economics

sig-economics: update README.md
  sig-economics/README.md
Owners: @akash-network/sig-economics

Create steering committee monthly meeting 005-2023-05-25.md (#235)
  committee-steering/meetings/005-2023-05-25.md
Owners: @akash-network/community-global

Update committee-steering README.md
  committee-steering/README.md
Owners: @akash-network/community-global

committee-steering Update 005-2023-05-25.md
  committee-steering/meetings/005-2023-05-25.md
Owners: @akash-network/community-global

committee-steering Update 005-2023-05-25.md
  committee-steering/meetings/005-2023-05-25.md
Owners: @akash-network/community-global

Update GPU-AI-Incentivized-Testnet.md
  wg-gpu/GPU-AI-Incentivized-Testnet.md
Owners: @akash-network/community-global

Create 010-2023-06-07.md
  sig-support/meetings/010-2023-06-07.md
Owners: @akash-network/sig-support

Create 011-2023-06-21.md
  sig-support/meetings/011-2023-06-21.md
Owners: @akash-network/sig-support

sig-support: Update 011-2023-06-21.md
  sig-support/meetings/011-2023-06-21.md
Owners: @akash-network/sig-support

sig-clients: Create 006-2023-06-21.md
  sig-clients/meetings/006-2023-06-21.md
Owners: @akash-network/sig-clients

Update GPU-AI-Incentivized-Testnet.md
  wg-gpu/GPU-AI-Incentivized-Testnet.md
Owners: @akash-network/community-global

Update GPU-AI-Incentivized-Testnet.md (#246)
  wg-gpu/GPU-AI-Incentivized-Testnet.md
Owners: @akash-network/community-global

Update GPU-AI-Incentivized-Testnet.md
  wg-gpu/GPU-AI-Incentivized-Testnet.md
Owners: @akash-network/community-global

Update GPU-AI-Incentivized-Testnet.md (#252)
  wg-gpu/GPU-AI-Incentivized-Testnet.md
Owners: @akash-network/community-global

Update 006-2023-06-21.md
  sig-clients/meetings/006-2023-06-21.md
Owners: @akash-network/sig-clients

sig-support/Update 011-2023-06-21.md
  sig-support/meetings/011-2023-06-21.md
Owners: @akash-network/sig-support

Update GPU Community Insider Testnet Providers.md
  wg-gpu/GPU Community Insider Testnet Providers.md
Owners: @akash-network/community-global

Create 006-2023-06-14.md
  sig-design/meetings/006-2023-06-14.md
Owners: @akash-network/community-global

Create 005-2023-06-13.md
  wg-akash-website/meetings/005-2023-06-13.md
Owners: @akash-network/community-global

Update GPU-AI-Incentivized-Testnet.md
  wg-gpu/GPU-AI-Incentivized-Testnet.md
Owners: @akash-network/community-global

Update GPU Community Insider Testnet Providers.md (#253)
  wg-gpu/GPU Community Insider Testnet Providers.md
Owners: @akash-network/community-global

sig-documentation-Create 006-2023-06-27.md
  sig-documentation/meetings/006-2023-06-27.md
Owners: @akash-network/sig-documentation

Create 005-2023-06-13.md (#255)
  wg-akash-website/meetings/005-2023-06-13.md
Owners: @akash-network/community-global

Update 006-2023-06-27.md
  sig-documentation/meetings/006-2023-06-27.md
Owners: @akash-network/sig-documentation

wg-gpu Update GPU-AI-Incentivized-Testnet.md (#256)
  wg-gpu/GPU-AI-Incentivized-Testnet.md
Owners: @akash-network/community-global

committee-steering Update 005-2023-05-25.md (#244)
  committee-steering/meetings/005-2023-05-25.md
Owners: @akash-network/community-global

sig-providers/ Create 006-2023-06-28.md
  sig-providers/meetings/006-2023-06-28.md
Owners: @akash-network/sig-providers

sig-providers/ Update 004-2023-04-26.md
  sig-providers/meetings/004-2023-04-26.md
Owners: @akash-network/sig-providers

sig-providers Update README.md
  sig-providers/README.md
Owners: @akash-network/sig-providers

sig-docs Update 006-2023-06-27.md
  sig-documentation/meetings/006-2023-06-27.md
Owners: @akash-network/sig-documentation

Update 006-2023-06-14.md
  sig-design/meetings/006-2023-06-14.md
Owners: @akash-network/community-global

Update 006-2023-06-28.md
  sig-providers/meetings/006-2023-06-28.md
Owners: @akash-network/sig-providers

Update 011-2023-06-21.md
  sig-support/meetings/011-2023-06-21.md
Owners: @akash-network/sig-support

Update 006-2023-06-21.md
  sig-clients/meetings/006-2023-06-21.md
Owners: @akash-network/sig-clients

Update 006-2023-06-14.md
  sig-design/meetings/006-2023-06-14.md
Owners: @akash-network/community-global

Update README.md
  sig-analytics/README.md
Owners: @akash-network/sig-analytics

Update 005-2023-06-08.md
  sig-analytics/meetings/005-2023-06-08.md
Owners: @akash-network/sig-analytics

Update README.md
  sig-analytics/README.md
Owners: @akash-network/sig-analytics

Update 005-2023-06-08.md
  sig-analytics/meetings/005-2023-06-08.md
Owners: @akash-network/sig-analytics
