Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

Update 010-2023-06-07.md
  sig-support/meetings/010-2023-06-07.md
Owners: @akash-network/sig-support

Update 006-2023-06-28.md
  sig-providers/meetings/006-2023-06-28.md
Owners: @akash-network/sig-providers

committee-steering/ Create 006-2023-06-29.md
  committee-steering/meetings/006-2023-06-29.md
Owners: @akash-network/community-global

sig-providers/ Create 006-2023-06-28.md (#258)
  sig-providers/meetings/006-2023-06-28.md
Owners: @akash-network/sig-providers

sig-documentation-Create 006-2023-06-27.md (#257)
  sig-documentation/meetings/006-2023-06-27.md
Owners: @akash-network/sig-documentation

sig-support Create 010-2023-06-07.md (#249)
  sig-support/meetings/010-2023-06-07.md
Owners: @akash-network/sig-support

Update GPU-AI-Incentivized-Testnet.md
  wg-gpu/GPU-AI-Incentivized-Testnet.md
Owners: @akash-network/community-global

Update GPU-AI-Incentivized-Testnet.md
  wg-gpu/GPU-AI-Incentivized-Testnet.md
Owners: @akash-network/community-global

Update 006-2023-06-29.md
  committee-steering/meetings/006-2023-06-29.md
Owners: @akash-network/community-global

Create 006-2023-06-14.md (#254)
  sig-design/meetings/006-2023-06-14.md
Owners: @akash-network/community-global

Update GPU-AI-Incentivized-Testnet.md (#260)
  wg-gpu/GPU-AI-Incentivized-Testnet.md
Owners: @akash-network/community-global

sig-support Create 011-2023-06-21.md (#250)
  sig-support/meetings/011-2023-06-21.md
Owners: @akash-network/sig-support

sig-analytics Meeting Notes (2023-06-08) (#241)
  sig-analytics/README.md
  sig-analytics/meetings/005-2023-06-08.md
Owners: @akash-network/sig-analytics

Update 006-2023-06-29.md
  committee-steering/meetings/006-2023-06-29.md
Owners: @akash-network/community-global

Update 006-2023-06-29.md
  committee-steering/meetings/006-2023-06-29.md
Owners: @akash-network/community-global

Update GPU-AI-Incentivized-Testnet.md
  wg-gpu/GPU-AI-Incentivized-Testnet.md
Owners: @akash-network/community-global

sig-support: Create 012-2023-07-05.md
  sig-support/meetings/012-2023-07-05.md
Owners: @akash-network/sig-support

Update 012-2023-07-05.md
  sig-support/meetings/012-2023-07-05.md
Owners: @akash-network/sig-support

Update README.md
  sig-support/README.md
Owners: @akash-network/sig-support

Update README.md
  sig-support/README.md
Owners: @akash-network/sig-support

hero image for readme.md
  akash-network-community-git-community.png
Owners: @akash-network/community-global

Update README.md
  README.md
Owners: @akash-network/community-global

Added hero image to README.md (#264)
  README.md
  akash-network-community-git-community.png
Owners: @akash-network/community-global

sig-economics: meeting 5 notes and README (#243)
  sig-economics/README.md
  sig-economics/meetings/005-2023-06-07.md
Owners: @akash-network/sig-economics

sig-chain Update README.md
  sig-chain/README.md
Owners: @akash-network/sig-chain

Update 006-2023-06-21.md
  sig-clients/meetings/006-2023-06-21.md
Owners: @akash-network/sig-clients

Update README.md
  sig-design/README.md
Owners: @akash-network/community-global

sig-chain Create 005-2023-06-06.md
  sig-chain/meetings/005-2023-06-06.md
Owners: @akash-network/sig-chain

sig-chain Create 006-07-12.md
  sig-chain/meetings/006-07-12.md
Owners: @akash-network/sig-chain

Update 006-07-12.md
  sig-chain/meetings/006-07-12.md
Owners: @akash-network/sig-chain

Update and rename 006-07-12.md to 006-07-11.md
  sig-chain/meetings/006-07-11.md
  sig-chain/meetings/006-07-12.md
Owners: @akash-network/sig-chain

sig-community Create 006-2023-07-11.md
  sig-community/meetings/006-2023-07-11.md
Owners: @akash-network/sig-community

sig-community Update 006-2023-07-11.md
  sig-community/meetings/006-2023-07-11.md
Owners: @akash-network/sig-community

sig-design: Update 005-2023-05-10.md
  sig-design/meetings/005-2023-05-10.md
Owners: @akash-network/community-global

Update README.md
  sig-design/README.md
Owners: @akash-network/community-global

sig-design Create 007-2023-07-12.md
  sig-design/meetings/007-2023-07-12.md
Owners: @akash-network/community-global

Update 007-2023-07-12.md
  sig-design/meetings/007-2023-07-12.md
Owners: @akash-network/community-global

Update 006-2023-06-29.md
  committee-steering/meetings/006-2023-06-29.md
Owners: @akash-network/community-global

sig-support Update 012-2023-07-05.md
  sig-support/meetings/012-2023-07-05.md
Owners: @akash-network/sig-support

Update 005-2023-06-06.md
  sig-chain/meetings/005-2023-06-06.md
Owners: @akash-network/sig-chain

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support
