Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support

Create meeting notes for wg-website #15 (#387)
  wg-akash-website/meetings/015-2023-11-02.md
Owners: @akash-network/community-global

Update 017-2023-11-16.md
  wg-akash-website/meetings/017-2023-11-16.md
Owners: @akash-network/community-global

Create meeting notes for Wg-website #17 (#391)
  wg-akash-website/meetings/017-2023-11-16.md
Owners: @akash-network/community-global

Update 018-2023-11-27.md
  wg-akash-website/meetings/018-2023-11-27.md
Owners: @akash-network/community-global

Update 023-2023-12-06.md
  sig-support/meetings/023-2023-12-06.md
Owners: @akash-network/sig-support

Update 018-2023-11-27.md
  wg-akash-website/meetings/018-2023-11-27.md
Owners: @akash-network/community-global

Create meeting notes for wg-website #18 (#401)
  wg-akash-website/meetings/018-2023-11-27.md
Owners: @akash-network/community-global

Update 023-2023-12-06.md
  sig-support/meetings/023-2023-12-06.md
Owners: @akash-network/sig-support

Update and rename README.md to README.md
  wg-zealy/README.md
Owners: @akash-network/community-global

Update README.md
  wg-events/README.md
Owners: @akash-network/community-global

Update README.md
  wg-events/README.md
Owners: @akash-network/community-global

Rename 001-2023-02-17.md to 001-2023-02-17.md
  wg-zealy/meetings/001-2023-02-17.md
Owners: @akash-network/community-global

sig-design Update 011-2023-11-08.md
  sig-design/meetings/011-2023-11-08.md
Owners: @akash-network/community-global

sig-support Create 023-2023-12-06.md (#407)
  sig-support/meetings/023-2023-12-06.md
Owners: @akash-network/sig-support

Create 011-2023-11-08.md (#393)
  sig-design/meetings/011-2023-11-08.md
Owners: @akash-network/community-global

sig-chain Update README.md
  sig-chain/README.md
Owners: @akash-network/sig-chain

sig-design Update README.md
  sig-design/README.md
Owners: @akash-network/community-global

sig-support Update README.md
  sig-support/README.md
Owners: @akash-network/sig-support

Update wg-website README table
  wg-akash-website/README.md
Owners: @akash-network/community-global

Create meeting notes for wg-website #19
  wg-akash-website/meetings/019-2023-11-27.md
Owners: @akash-network/community-global

sig-providers Update README.md
  sig-providers/README.md
Owners: @akash-network/sig-providers

sig-docs Update README.md
  sig-documentation/README.md
Owners: @akash-network/sig-documentation

Update wg-website README table (#408)
  wg-akash-website/README.md
Owners: @akash-network/community-global

sig-chain Create 011-2023-12-05.md (#405)
  sig-chain/meetings/011-2023-12-05.md
Owners: @akash-network/sig-chain

sig-chain Rename 011-2023-11-08.md to 010-2023-11-08.md
  sig-chain/meetings/010-2023-11-08.md
Owners: @akash-network/sig-chain

sig-chain Update README.md
  sig-chain/README.md
Owners: @akash-network/sig-chain

Steering Committee Update README.md
  committee-steering/README.md
Owners: @akash-network/community-global

steering committee Create 011-2023-12-07.md
  committee-steering/meetings/011-2023-12-07.md
Owners: @akash-network/community-global

wg-akash-website Update 019-2023-11-27.md
  wg-akash-website/meetings/019-2023-11-27.md
Owners: @akash-network/community-global

Create meeting notes for wg-website #19 (#409)
  wg-akash-website/meetings/019-2023-11-27.md
Owners: @akash-network/community-global

project list Update README.md
  projects-list/README.md
Owners: @akash-network/community-global

update readme tables
  sig-analytics/README.md
  sig-clients/README.md
Owners: @akash-network/sig-analytics, @akash-network/sig-clients

updating readme table
  sig-analytics/README.md
  sig-clients/README.md
  sig-documentation/README.md
Owners: @akash-network/sig-analytics, @akash-network/sig-clients, @akash-network/sig-documentation

Update readme tables
  sig-chain/README.md
  sig-community/README.md
  sig-design/README.md
  sig-economics/README.md
  sig-providers/README.md
  sig-support/README.md
Owners: @akash-network/sig-chain, @akash-network/sig-community, @akash-network/community-global, @akash-network/sig-economics, @akash-network/sig-providers, @akash-network/sig-support

Create meeting notes for wg-zealy #2
  wg-zealy/meetings/002-2023-11-20.md
Owners: @akash-network/community-global

create meeting notes for wg-events #2
  wg-events/meetings-2023/wg-events-001-2023-02-17.md
  wg-events/meetings-2023/wg-events-002-2023-04-14.md
  wg-events/meetings-2024/001-2023-10-25.md
Owners: @akash-network/community-global

steering-committee Update 011-2023-12-07.md
  committee-steering/meetings/011-2023-12-07.md
Owners: @akash-network/community-global

Update 011-2023-12-07.md
  committee-steering/meetings/011-2023-12-07.md
Owners: @akash-network/community-global

Create meeting notes for Sig-support #18
  sig-support/meetings/018-2023-09-27.md
Owners: @akash-network/sig-support

Update 018-2023-09-27.md
  sig-support/meetings/018-2023-09-27.md
Owners: @akash-network/sig-support
