Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support

Rename 024-2025-1-30.md to 024-2025-01-30.md
  committee-steering/meetings/024-2025-01-30.md
Owners: @akash-network/community-global

Create meeting notes for steering committee #24 (#802)
  committee-steering/meetings/024-2025-01-30.md
Owners: @akash-network/community-global

Update 024-2025-02-05.md
  sig-economics/meetings/024-2025-02-05.md
Owners: @akash-network/sig-economics

Create meeting notes Sig_Economics #24 (#814)
  sig-economics/meetings/024-2025-02-05.md
Owners: @akash-network/sig-economics

Update 025-2025-02-12.md
  sig-design/meetings/025-2025-02-12.md
Owners: @akash-network/community-global

Create meeting notes for Sig-Design #25 (#815)
  sig-design/meetings/025-2025-02-12.md
Owners: @akash-network/community-global

Update 024-2025-02-11.md
  sig-community/meetings/024-2025-02-11.md
Owners: @akash-network/sig-community

Create notes for sig-community meeting #24 (#813)
  sig-community/meetings/024-2025-02-11.md
Owners: @akash-network/sig-community

Update 013-2024-03-12.md
  sig-community/meetings/013-2024-03-12.md
Owners: @akash-network/sig-community

Create notes for sig-community #13 (#806)
  sig-community/meetings/013-2024-03-12.md
Owners: @akash-network/sig-community

Update 015-2024-05-14.md
  sig-community/meetings/015-2024-05-14.md
Owners: @akash-network/sig-community

Create notes for Sig-community #15 (#807)
  sig-community/meetings/015-2024-05-14.md
Owners: @akash-network/sig-community

Create meeting notes sig-chain #24
  sig-chain/meetings/024-2025-02-11.md
Owners: @akash-network/sig-chain

Create meeting notes for sig clients #19
  sig-clients/meetings/019-2025-02-18.md
Owners: @akash-network/sig-clients

update readme table
  sig-analytics/README.md
  sig-chain/README.md
  sig-clients/README.md
  sig-community/README.md
  sig-design/README.md
  sig-economics/README.md
  sig-providers/README.md
  wg-events/README.md
Owners: @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-clients, @akash-network/sig-community, @akash-network/community-global, @akash-network/sig-economics, @akash-network/sig-providers

Update 019-2025-02-18.md
  sig-clients/meetings/019-2025-02-18.md
Owners: @akash-network/sig-clients

Create meeting notes for sig clients #19 (#819)
  sig-clients/meetings/019-2025-02-18.md
Owners: @akash-network/sig-clients

update readme table (#820)
  sig-analytics/README.md
  sig-chain/README.md
  sig-clients/README.md
  sig-community/README.md
  sig-design/README.md
  sig-economics/README.md
  sig-providers/README.md
  wg-events/README.md
Owners: @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-clients, @akash-network/sig-community, @akash-network/community-global, @akash-network/sig-economics, @akash-network/sig-providers

Update 024-2025-02-11.md
  sig-chain/meetings/024-2025-02-11.md
Owners: @akash-network/sig-chain

Create meeting notes sig-chain #24 (#818)
  sig-chain/meetings/024-2025-02-11.md
Owners: @akash-network/sig-chain

update readme table
  sig-chain/README.md
  sig-clients/README.md
Owners: @akash-network/sig-chain, @akash-network/sig-clients

Update 010-2023-10-25.md
  sig-providers/meetings/010-2023-10-25.md
Owners: @akash-network/sig-providers

Update 003-2023-03-22.md
  sig-providers/meetings/003-2023-03-22.md
Owners: @akash-network/sig-providers

Update wg-README-template.md
  wg-README-template.md
Owners: @akash-network/community-global

Update 012-2024-01-09.md
  sig-chain/meetings/012-2024-01-09.md
Owners: @akash-network/sig-chain

steering committee Update README.md
  committee-steering/README.md
Owners: @akash-network/community-global

steering committee Update README.md
  committee-steering/README.md
Owners: @akash-network/community-global

update readme table (#821)
  sig-chain/README.md
  sig-clients/README.md
Owners: @akash-network/sig-chain, @akash-network/sig-clients

fix: typos in documentation files (#823)
  sig-chain/meetings/012-2024-01-09.md
  sig-providers/meetings/003-2023-03-22.md
  sig-providers/meetings/010-2023-10-25.md
  wg-README-template.md
Owners: @akash-network/sig-chain, @akash-network/sig-providers, @akash-network/community-global

Create meeting notes for steering committee #25
  committee-steering/meetings/025-2025-03-06.md
Owners: @akash-network/community-global

Create meeting notes, sig providers #26
  sig-providers/meetings/026-2025-02-26.md
Owners: @akash-network/sig-providers

Update sig-economics README.md
  sig-economics/README.md
Owners: @akash-network/sig-economics

Update 025-2025-03-06.md
  committee-steering/meetings/025-2025-03-06.md
Owners: @akash-network/community-global

Create meeting notes for steering committee #25 (#832)
  committee-steering/meetings/025-2025-03-06.md
Owners: @akash-network/community-global

Update 026-2025-02-26.md
  sig-providers/meetings/026-2025-02-26.md
Owners: @akash-network/sig-providers

Create meeting notes, sig providers #26 (#833)
  sig-providers/meetings/026-2025-02-26.md
Owners: @akash-network/sig-providers

Create meeting notes for sig-chain #25
  sig-chain/meetings/025-2025-03-12.md
Owners: @akash-network/sig-chain

Create meeting notes for sig-community #25
  sig-community/meetings/025-2025-3-11.md
Owners: @akash-network/sig-community

update readme table
  committee-steering/README.md
  sig-providers/README.md
Owners: @akash-network/community-global, @akash-network/sig-providers

update readme table (#844)
  committee-steering/README.md
  sig-providers/README.md
Owners: @akash-network/community-global, @akash-network/sig-providers
