Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support

sig-chain Create 013-2024-02-13.md (#485)
  sig-chain/meetings/013-2024-02-13.md
Owners: @akash-network/sig-chain

sig-support Create 028-2024-03-06.md
  sig-support/meetings/028-2024-03-06.md
Owners: @akash-network/sig-support

sig-support Update 027-2024-02-21.md
  sig-support/meetings/027-2024-02-21.md
Owners: @akash-network/sig-support

Update 028-2024-03-06.md
  sig-support/meetings/028-2024-03-06.md
Owners: @akash-network/sig-support

sig-clients Create 013-2024-02-22.md
  sig-clients/meetings/013-2024-02-22.md
Owners: @akash-network/sig-clients

Update 027-2024-02-21.md
  sig-support/meetings/027-2024-02-21.md
Owners: @akash-network/sig-support

steering committee - Update 013-2024-03-07.md
  committee-steering/meetings/013-2024-03-07.md
Owners: @akash-network/community-global

sig-support Update 028-2024-03-06.md
  sig-support/meetings/028-2024-03-06.md
Owners: @akash-network/sig-support

sig-support Create 027-2024-02-21.md (#492)
  sig-support/meetings/027-2024-02-21.md
  sig-support/meetings/028-2024-03-06.md
Owners: @akash-network/sig-support

sig-support Update 028-2024-03-06.md
  sig-support/meetings/028-2024-03-06.md
Owners: @akash-network/sig-support

sig-support Update README.md
  sig-support/README.md
Owners: @akash-network/sig-support

sig-support Create 029-2024-03-20.md
  sig-support/meetings/029-2024-03-20.md
Owners: @akash-network/sig-support

Update 029-2024-03-20.md
  sig-support/meetings/029-2024-03-20.md
Owners: @akash-network/sig-support

wg-provider-audits Update and rename README.md to README.md
  wg-provider-audit/README.md
  wg-provider-monitoring/README.md
Owners: @akash-network/community-global

steering committee Update 013-2024-03-07.md
  committee-steering/meetings/013-2024-03-07.md
Owners: @akash-network/community-global

steering committee Create 013-2024-03-07.md (#503)
  committee-steering/meetings/013-2024-03-07.md
Owners: @akash-network/community-global

steering committee Update README.md
  committee-steering/README.md
Owners: @akash-network/community-global

steering committee Update 013-2024-03-07.md
  committee-steering/meetings/013-2024-03-07.md
Owners: @akash-network/community-global

Create meeting notes for sig-clients #13
  sig-clients/meetings/013-2024-02-22.md
Owners: @akash-network/sig-clients

Update 013-2024-02-22.md
  sig-clients/meetings/013-2024-02-22.md
Owners: @akash-network/sig-clients

Create meeting notes for sig-clients #13 (#517)
  sig-clients/meetings/013-2024-02-22.md
Owners: @akash-network/sig-clients

sig-clients Update README.md
  sig-clients/README.md
Owners: @akash-network/sig-clients

sig-clients Update 013-2024-02-22.md
  sig-clients/meetings/013-2024-02-22.md
Owners: @akash-network/sig-clients

Create meeting notes for sig providers #14
  sig-providers/meetings/014-2024-02-28.md
Owners: @akash-network/sig-providers

Update 014-2024-02-28.md
  sig-providers/meetings/014-2024-02-28.md
Owners: @akash-network/sig-providers

Create meeting notes for sig providers #14 (#521)
  sig-providers/meetings/014-2024-02-28.md
Owners: @akash-network/sig-providers

sig-providers Update 013-2024-01-24.md
  sig-providers/meetings/013-2024-01-24.md
Owners: @akash-network/sig-providers

sig-providers Update README.md
  sig-providers/README.md
Owners: @akash-network/sig-providers

Create praetor-akash-provider-console-strategy.md
  product-strategy/praetor-akash-provider-console-strategy.md
Owners: @akash-network/community-global

Draft Praetor & Akash Provider Product Strategy (#524)
  product-strategy/praetor-akash-provider-console-strategy.md
Owners: @akash-network/community-global

Create meeting notes for sig-community #12
  sig-community/meetings/012-2024-02-13.md
Owners: @akash-network/sig-community

Update 012-2024-02-13.md
  sig-community/meetings/012-2024-02-13.md
Owners: @akash-network/sig-community

Update 029-2024-03-20.md
  sig-support/meetings/029-2024-03-20.md
Owners: @akash-network/sig-support

Create meeting notes for sig-design #14
  sig-design/meetings/014-2024-02-21.md
Owners: @akash-network/community-global

Create meeting notes for wg-zealy #9
  wg-zealy/meetings/009-2024-02-12.md
Owners: @akash-network/community-global

update provider audit template
  .github/ISSUE_TEMPLATE/-provider-audit--template.md
Owners: @akash-network/community-global

update provider audit template (#539)
  .github/ISSUE_TEMPLATE/-provider-audit--template.md
Owners: @akash-network/community-global

sig-chain Update README.md
  sig-chain/README.md
Owners: @akash-network/sig-chain

Create meeting notes for wg-zealy #10
  wg-zealy/meetings/010-2024-03-18.md
Owners: @akash-network/community-global

Create meeting notes for wg-provider-audit #1
  wg-provider-audit/001-2024-02-21.md
Owners: @akash-network/community-global
