Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support

sig-economics Update README.md
  sig-economics/README.md
Owners: @akash-network/sig-economics

Create meeting notes for wg-website #37
  wg-akash-website/meetings/037-2024-10-24.md
Owners: @akash-network/community-global

Create meeting notes for wg-website #38
  wg-akash-website/meetings/038-2024-11-28.md
Owners: @akash-network/community-global

Create meeting notes for sig-providers #23
  sig-providers/meetings/023-2024-11-27.md
Owners: @akash-network/sig-providers

steering committee Update README.md
  committee-steering/README.md
Owners: @akash-network/community-global

create meeting notes for wg-events 2025 #1
  wg-events/meeting-2025/wg-events-001-2024-11-20.md
Owners: @akash-network/community-global

Update wg-events-001-2024-11-20.md
  wg-events/meeting-2025/wg-events-001-2024-11-20.md
Owners: @akash-network/community-global

create meeting notes for wg-events 2025 #1 (#750)
  wg-events/meeting-2025/wg-events-001-2024-11-20.md
Owners: @akash-network/community-global

sig-providers Update 023-2024-11-27.md
  sig-providers/meetings/023-2024-11-27.md
Owners: @akash-network/sig-providers

Update readme table
  sig-chain/README.md
  sig-clients/README.md
  sig-community/README.md
  sig-design/README.md
  sig-providers/README.md
  wg-Akash-youtube/README.md
  wg-events/README.md
Owners: @akash-network/sig-chain, @akash-network/sig-clients, @akash-network/sig-community, @akash-network/community-global, @akash-network/sig-providers

sig-clients Update README.md
  sig-clients/README.md
Owners: @akash-network/sig-clients

sig-providers Update 023-2024-11-27.md
  sig-providers/meetings/023-2024-11-27.md
Owners: @akash-network/sig-providers

Create meeting notes for sig-providers #23 (#747)
  sig-providers/meetings/023-2024-11-27.md
Owners: @akash-network/sig-providers

Update 038-2024-11-28.md
  wg-akash-website/meetings/038-2024-11-28.md
Owners: @akash-network/community-global

Update 037-2024-10-24.md
  wg-akash-website/meetings/037-2024-10-24.md
Owners: @akash-network/community-global

Update 005-2024-08-20.md
  wg-Akash-youtube/meetings/005-2024-08-20.md
Owners: @akash-network/community-global

Update 004-2024-08-16.md
  wg-Akash-youtube/meetings/004-2024-08-16.md
Owners: @akash-network/community-global

Update 037-2024-10-24.md
  wg-akash-website/meetings/037-2024-10-24.md
Owners: @akash-network/community-global

Create meeting notes for wg-website #37 (#745)
  wg-akash-website/meetings/037-2024-10-24.md
Owners: @akash-network/community-global

Update 005-2024-08-20.md
  wg-Akash-youtube/meetings/005-2024-08-20.md
Owners: @akash-network/community-global

Create meeting notes for wg-youtube #5 (#707)
  wg-Akash-youtube/meetings/005-2024-08-20.md
Owners: @akash-network/community-global

Update 004-2024-08-16.md
  wg-Akash-youtube/meetings/004-2024-08-16.md
Owners: @akash-network/community-global

Create meeting notes for wg-youtube #4 (#706)
  wg-Akash-youtube/meetings/004-2024-08-16.md
Owners: @akash-network/community-global

Update 038-2024-11-28.md
  wg-akash-website/meetings/038-2024-11-28.md
Owners: @akash-network/community-global

Create meeting notes for wg-website #38 (#746)
  wg-akash-website/meetings/038-2024-11-28.md
Owners: @akash-network/community-global

Update 007-2024-09-17.md
  wg-Akash-youtube/meetings/007-2024-09-17.md
Owners: @akash-network/community-global

Create meeting notes for Wg-Youtube #7 (#740)
  wg-Akash-youtube/meetings/007-2024-09-17.md
Owners: @akash-network/community-global

Update 016-2024-09-09.md
  wg-zealy/meetings/016-2024-09-09.md
Owners: @akash-network/community-global

Create meeting notes for wg-zealy #16 (#679)
  wg-zealy/meetings/016-2024-09-09.md
Owners: @akash-network/community-global

Update 017-2024-09-30.md
  wg-zealy/meetings/017-2024-09-30.md
Owners: @akash-network/community-global

Update 018-2024-10-07.md
  wg-zealy/meetings/018-2024-10-07.md
Owners: @akash-network/community-global

Create meeting notes for wg-zealy #18 (#698)
  wg-zealy/meetings/018-2024-10-07.md
Owners: @akash-network/community-global

Create meeting notes for wg-zealy #17 (#690)
  wg-zealy/meetings/017-2024-09-30.md
Owners: @akash-network/community-global

Create meeting notes for Sig-Community #22
  sig-community/meetings/022-2024-12-10.md
Owners: @akash-network/sig-community

Create meeting notes for steering Committee #22
  committee-steering/meetings/022-2024-12-05.md
Owners: @akash-network/community-global

Update README.md
  community-pool-spend-reporting/README.md
Owners: @akash-network/community-global

Create meeting notes for Sig-Community #21
  sig-community/meetings/021-2024-11-08.md
Owners: @akash-network/sig-community

Rename 021-2024-11-08.md to 021-2024-11-19.md
  sig-community/meetings/021-2024-11-19.md
Owners: @akash-network/sig-community

chore: fix some typos
  cg-list/README.md
  wg-client-libraries/README.md
Owners: @akash-network/community-global

Create meeting notes for zealy #18
  wg-zealy/meetings/018-2024-09-16.md
Owners: @akash-network/community-global
