Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

Update 012-2024-01-25.md
  committee-steering/meetings/012-2024-01-25.md
Owners: @akash-network/community-global

Create meeting notes for wg-zealy #7
  wg-zealy/meetings/006-2024-01-15.md
Owners: @akash-network/community-global

Create meeting notes for Wg-zealy #8
  wg-zealy/meetings/008-2024-01-22.md
Owners: @akash-network/community-global

Update Readme tables
  sig-chain/README.md
  sig-clients/README.md
  sig-design/README.md
  sig-support/README.md
  wg-akash-website/README.md
  wg-zealy/README.md
Owners: @akash-network/sig-chain, @akash-network/sig-clients, @akash-network/community-global, @akash-network/sig-support

Create meeting notes for Sig-documentation #13
  sig-documentation/meetings/013-2024-01-23.md
Owners: @akash-network/sig-documentation

Create meeting notes for Sig-Providers #13
  sig-providers/meetings/013-2024-01-24.md
Owners: @akash-network/sig-providers

Update 013-2024-01-24.md
  sig-providers/meetings/013-2024-01-24.md
Owners: @akash-network/sig-providers

Update Readme tables (#477)
  sig-chain/README.md
  sig-clients/README.md
  sig-design/README.md
  sig-support/README.md
  wg-akash-website/README.md
  wg-zealy/README.md
Owners: @akash-network/sig-chain, @akash-network/sig-clients, @akash-network/community-global, @akash-network/sig-support

Update 012-2024-01-25.md
  committee-steering/meetings/012-2024-01-25.md
Owners: @akash-network/community-global

steering-committee Create 012-2024-01-25.md (#469)
  committee-steering/meetings/012-2024-01-25.md
Owners: @akash-network/community-global

steering-committee Update README.md
  committee-steering/README.md
Owners: @akash-network/community-global

Update 013-2024-01-24.md
  sig-providers/meetings/013-2024-01-24.md
Owners: @akash-network/sig-providers

sig-chain Create 013-2024-02-13.md
  sig-chain/meetings/013-2024-02-13.md
Owners: @akash-network/sig-chain

Update 013-2024-02-13.md
  sig-chain/meetings/013-2024-02-13.md
Owners: @akash-network/sig-chain

sig-design Update README.md
  sig-design/README.md
Owners: @akash-network/community-global

steering-committee Update README.md
  committee-steering/README.md
Owners: @akash-network/community-global

sig-clients Update README.md
  sig-clients/README.md
Owners: @akash-network/sig-clients

sig-support Create 027-2024-02-21.md
  sig-support/meetings/027-2024-02-21.md
Owners: @akash-network/sig-support

Update 013-2024-01-23.md
  sig-documentation/meetings/013-2024-01-23.md
Owners: @akash-network/sig-documentation

Update 013-2024-01-23.md
  sig-documentation/meetings/013-2024-01-23.md
Owners: @akash-network/sig-documentation

Create meeting notes for Sig-documentation #13 (#481)
  sig-documentation/meetings/013-2024-01-23.md
Owners: @akash-network/sig-documentation

sig-docs Update README.md
  sig-documentation/README.md
Owners: @akash-network/sig-documentation

Update 013-2024-01-24.md
  sig-providers/meetings/013-2024-01-24.md
Owners: @akash-network/sig-providers

Create meeting notes for Sig-Providers #13 (#484)
  sig-providers/meetings/013-2024-01-24.md
Owners: @akash-network/sig-providers

steering committee Create 013-2024-03-07.md
  committee-steering/meetings/013-2024-03-07.md
Owners: @akash-network/community-global

sig-economics - Create 013-2024-02-07.md
  sig-economics/meetings/013-2024-02-07.md
Owners: @akash-network/sig-economics

sig-economics: Create 014-2024-03-06.md
  sig-economics/meetings/014-2024-03-06.md
Owners: @akash-network/sig-economics

sig-economics: Update README.md
  sig-economics/README.md
Owners: @akash-network/sig-economics

sig-economics: create meeting 13&14 and update README. (#506)
  sig-economics/README.md
  sig-economics/meetings/013-2024-02-07.md
  sig-economics/meetings/014-2024-03-06.md
Owners: @akash-network/sig-economics

Update 013-2024-02-13.md
  sig-chain/meetings/013-2024-02-13.md
Owners: @akash-network/sig-chain

sig-design Update README.md
  sig-design/README.md
Owners: @akash-network/community-global

Create Zealy WG Call 2024-03-04
  wg-zealy/meetings/2024-03-04
Owners: @akash-network/community-global

Update 2024-03-04
  wg-zealy/meetings/2024-03-04
Owners: @akash-network/community-global

Update 2024-03-04
  wg-zealy/meetings/2024-03-04
Owners: @akash-network/community-global

Update 006-2024-01-15.md
  wg-zealy/meetings/006-2024-01-15.md
Owners: @akash-network/community-global

Create meeting notes for wg-zealy #7 (#470)
  wg-zealy/meetings/006-2024-01-15.md
Owners: @akash-network/community-global

wg-zealy Update 008-2024-01-22.md
  wg-zealy/meetings/008-2024-01-22.md
Owners: @akash-network/community-global

Create meeting notes for Wg-zealy #8 (#473)
  wg-zealy/meetings/008-2024-01-22.md
Owners: @akash-network/community-global

Update 2024-03-04
  wg-zealy/meetings/2024-03-04
Owners: @akash-network/community-global

sig-chain Update 013-2024-02-13.md
  sig-chain/meetings/013-2024-02-13.md
Owners: @akash-network/sig-chain

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support
