Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

Update 018-2024-10-07.md
  wg-zealy/meetings/018-2024-10-07.md
Owners: @akash-network/community-global

Update 036-2024-09-19.md
  wg-akash-website/meetings/036-2024-09-19.md
Owners: @akash-network/community-global

Create meeting notes wg-website #36 (#714)
  wg-akash-website/meetings/036-2024-09-19.md
Owners: @akash-network/community-global

sig-providers Update README.md
  sig-providers/README.md
Owners: @akash-network/sig-providers

steering committee Update README.md
  committee-steering/README.md
Owners: @akash-network/community-global

Rename 020-2024-09-10.md to 020-2024-10-08.md
  sig-community/meetings/020-2024-10-08.md
Owners: @akash-network/sig-community

sig-clients Update README.md
  sig-clients/README.md
Owners: @akash-network/sig-clients

Create meeting notes for SIg-Chain #20
  sig-chain/meetings/020-2024-10-08.md
Owners: @akash-network/sig-chain

sig-community Update 020-2024-10-08.md
  sig-community/meetings/020-2024-10-08.md
Owners: @akash-network/sig-community

Create meeting notes sig-community #20 (#719)
  sig-community/meetings/020-2024-10-08.md
Owners: @akash-network/sig-community

update readme table
  sig-analytics/README.md
  sig-community/README.md
  sig-design/README.md
  sig-economics/README.md
  sig-support/README.md
  wg-Akash-youtube/README.md
  wg-akash-website/README.md
  wg-zealy/README.md
Owners: @akash-network/sig-analytics, @akash-network/sig-community, @akash-network/community-global, @akash-network/sig-economics, @akash-network/sig-support

update readme table (#732)
  sig-analytics/README.md
  sig-community/README.md
  sig-design/README.md
  sig-economics/README.md
  sig-support/README.md
  wg-Akash-youtube/README.md
  wg-akash-website/README.md
  wg-zealy/README.md
Owners: @akash-network/sig-analytics, @akash-network/sig-community, @akash-network/community-global, @akash-network/sig-economics, @akash-network/sig-support

Create meeting notes for sig-economics #21
  sig-economics/meetings/021-2024-11-06.md
Owners: @akash-network/sig-economics

Create meeting notes for sig-providers #22
  sig-providers/meetings/022-2024-10-30.md
Owners: @akash-network/sig-providers

sig-economics Update 021-2024-11-06.md
  sig-economics/meetings/021-2024-11-06.md
Owners: @akash-network/sig-economics

Create meeting notes for Sig-Design #23
  sig-design/meetings/023-2024-11-13.md
Owners: @akash-network/community-global

Update 022-2024-10-30.md
  sig-providers/meetings/022-2024-10-30.md
Owners: @akash-network/sig-providers

Create meeting notes for sig-client #18
  sig-clients/meetings/018-2024-11-13.md
Owners: @akash-network/sig-clients

Create meeting notes for steering committee #21
  committee-steering/meetings/021-2024-10-31.md
Owners: @akash-network/community-global

Create meeting notes for Wg-Youtube #7
  wg-Akash-youtube/meetings/007-2024-09-17.md
Owners: @akash-network/community-global

Create 009-2024-11-13.md
  wg-Akash-youtube/meetings/009-2024-11-13.md
Owners: @akash-network/community-global

steering committee Update 021-2024-10-31.md
  committee-steering/meetings/021-2024-10-31.md
Owners: @akash-network/community-global

Create meeting notes for steering committee #21 (#739)
  committee-steering/meetings/021-2024-10-31.md
Owners: @akash-network/community-global

sig-clients Update 021-2024-11-06.md
  sig-economics/meetings/021-2024-11-06.md
Owners: @akash-network/sig-economics

Create meeting notes for sig-economics #21 (#733)
  sig-economics/meetings/021-2024-11-06.md
Owners: @akash-network/sig-economics

Update 018-2024-11-13.md
  sig-clients/meetings/018-2024-11-13.md
Owners: @akash-network/sig-clients

Create meeting notes for sig-client #18 (#738)
  sig-clients/meetings/018-2024-11-13.md
Owners: @akash-network/sig-clients

Update 022-2024-10-30.md
  sig-providers/meetings/022-2024-10-30.md
Owners: @akash-network/sig-providers

Create meeting notes for sig-providers #22 (#734)
  sig-providers/meetings/022-2024-10-30.md
Owners: @akash-network/sig-providers

sig-chain Update 020-2024-10-08.md
  sig-chain/meetings/020-2024-10-08.md
Owners: @akash-network/sig-chain

Create meeting notes for Sig-Chain #20 (#726)
  sig-chain/meetings/020-2024-10-08.md
Owners: @akash-network/sig-chain

sig-design Update 023-2024-11-13.md
  sig-design/meetings/023-2024-11-13.md
Owners: @akash-network/community-global

Create meeting notes for Sig-Design #23 (#737)
  sig-design/meetings/023-2024-11-13.md
Owners: @akash-network/community-global

Update 009-2024-11-13.md
  wg-Akash-youtube/meetings/009-2024-11-13.md
Owners: @akash-network/community-global

Create meeting notes for wg-Youtube #9 (#741)
  wg-Akash-youtube/meetings/009-2024-11-13.md
Owners: @akash-network/community-global

Update 035-2024-09-05.md
  wg-akash-website/meetings/035-2024-09-05.md
Owners: @akash-network/community-global

Create meeting notes wg-website #35 (#713)
  wg-akash-website/meetings/035-2024-09-05.md
Owners: @akash-network/community-global

Update 034-2024-08-22.md
  wg-akash-website/meetings/034-2024-08-22.md
Owners: @akash-network/community-global

Create meeting notes for wg-website #34 (#712)
  wg-akash-website/meetings/034-2024-08-22.md
Owners: @akash-network/community-global

sig-economics Update README.md
  sig-economics/README.md
Owners: @akash-network/sig-economics

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support
