Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

Update 001-2023-02-07.md (#81)
  wg-gpu/meetings/001-2023-02-07.md
Owners: @akash-network/community-global

Create 001-2023-02-21.md
  wg-akash-website/meetings/001-2023-02-21.md
Owners: @akash-network/community-global

sig-design meeting 2 pre-meeting creation
  sig-design/meetings/002-02-21-.md
Owners: @akash-network/community-global

sig-providers meeting 2 creation and agenda development
  sig-providers/meetings/002-2023-02-22.md
Owners: @akash-network/sig-providers

sig-providers meeting 2 agenda update
  sig-providers/meetings/002-2023-02-22.md
Owners: @akash-network/sig-providers

wg-akash-website meeting creation 001-2023-02-21.md (#82)
  wg-akash-website/meetings/001-2023-02-21.md
Owners: @akash-network/community-global

sig-design meeting 2 pre-meeting creation (#83)
  sig-design/meetings/002-02-21-.md
Owners: @akash-network/community-global

sig-providers meeting 2 creation and agenda development (#84)
  sig-providers/meetings/002-2023-02-22.md
Owners: @akash-network/sig-providers

steering-committee updated readme with meeting 2 date
  committee-steering/README.md
Owners: @akash-network/community-global

committee-steering meeting 2: create notes file
  committee-steering/meetings/002-2023-02-23.md
Owners: @akash-network/community-global

committee-steering readme update with 2023-02-23 meeting in table
  committee-steering/README.md
Owners: @akash-network/community-global

sig-providers 02-2023-02-22 notes update
  sig-providers/meetings/002-2023-02-22.md
Owners: @akash-network/sig-providers

steering-committee updated readme with meeting 2 date (#86)
  committee-steering/README.md
Owners: @akash-network/community-global

committee-steering meeting 2: create notes file (#87)
  committee-steering/meetings/002-2023-02-23.md
Owners: @akash-network/community-global

sig-design meeting 2 notes updates to transcript and recording
  sig-design/meetings/002-02-21-.md
  sig-design/meetings/002-2023-02-21.md
Owners: @akash-network/community-global

sig-providers 02-2023-02-22 notes update (#89)
  sig-providers/meetings/002-2023-02-22.md
Owners: @akash-network/sig-providers

sig-design meeting 2 notes updates adding transcript and recording (#90)
  sig-design/meetings/002-02-21-.md
  sig-design/meetings/002-2023-02-21.md
Owners: @akash-network/community-global

committee-steering readme update adding 2023-02-23 meeting
  committee-steering/README.md
Owners: @akash-network/community-global

committee-steering 02-2023-02-23 detailed notes version 1
  committee-steering/meetings/002-2023-02-23.md
Owners: @akash-network/community-global

sig-design: readme update for meeting 2 links
  sig-design/README.md
Owners: @akash-network/community-global

sig-design: readme update for meeting 2 links (#93)
  sig-design/README.md
Owners: @akash-network/community-global

Update 002-2023-02-21.md
  sig-design/meetings/002-2023-02-21.md
Owners: @akash-network/community-global

committee-steering: add participants and transcript
  committee-steering/meetings/002-2023-02-23.md
Owners: @akash-network/community-global

chore: sig-provider detailed meeting notes update for 02-2023-02-22.md
  sig-providers/meetings/002-2023-02-22.md
Owners: @akash-network/sig-providers

Update 002-2023-02-21.md (#96)
  sig-design/meetings/002-2023-02-21.md
Owners: @akash-network/community-global

Add service icons PRD
  sig-design/service-icons.prd.md
Owners: @akash-network/community-global

Add service icons PRD
  sig-design/service-icons.prd.md
Owners: @akash-network/community-global

Add service icons PRD
  sig-design/service-icons.prd.md
Owners: @akash-network/community-global

sig-documentation meeting 2 premeeting creation 02-2023-02-28
  sig-documentation/meetings/002-2023-02-28.md
Owners: @akash-network/sig-documentation

wg-content-moderation: added video recording
  wg-content-moderation/meetings/2023-02-08.md
Owners: @akash-network/community-global

wg-content-moderation create premeeting 05-2023-02-28.md
  wg-content-moderation/meetings/05-2023-02-28.md
Owners: @akash-network/community-global

committee-steering 02-2023-02-23.md updates
  committee-steering/meetings/002-2023-02-23.md
Owners: @akash-network/community-global

committee-steering 02-2023-02-23 detailed notes version 1 (#91)
  committee-steering/meetings/002-2023-02-23.md
Owners: @akash-network/community-global

sig-documentation meeting 2 premeeting create: 02-2023-02-28.md (#101)
  sig-documentation/meetings/002-2023-02-28.md
Owners: @akash-network/sig-documentation

wg-content-moderation: added 04-2023-02-08 video recording (#102)
  wg-content-moderation/meetings/2023-02-08.md
Owners: @akash-network/community-global

wg-content-moderation create premeeting 05-2023-02-28.md (#103)
  wg-content-moderation/meetings/05-2023-02-28.md
Owners: @akash-network/community-global

wg-content-moderation: rename 2022-12-02.md to 01-2022-12-02.md
  wg-content-moderation/meetings/01-2022-12-22.md
Owners: @akash-network/community-global

wg-content-moderation: rename 2023-01-11.md to 02-2023-01-11.md
  wg-content-moderation/meetings/02-2023-01-11.md
Owners: @akash-network/community-global

Update 2023-02-08.md
  wg-content-moderation/meetings/2023-02-08.md
Owners: @akash-network/community-global

wg-content-moderation: rename 2023-01-25.md to 03-2023-01-25.md
  wg-content-moderation/meetings/03-2023-01-25.md
Owners: @akash-network/community-global

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support
