Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support

Add new proposals to the community pool report
  community-pool-spend-reporting/README.md
Owners: @akash-network/community-global

Add new proposals to the community pool report (#1164)
  community-pool-spend-reporting/README.md
Owners: @akash-network/community-global

Update 2025-12-04.md
  wg-akash-website/meetings/2025-12-04.md
Owners: @akash-network/community-global

meeting notes wg-websit December 4th, 2025 (#1130)
  wg-akash-website/meetings/2025-12-04.md
Owners: @akash-network/community-global

meeting notes sig-community #35
  sig-community/meetings/035-2026-01-20.md
Owners: @akash-network/sig-community

meeting notes sig-Chain #31
  sig-chain/meetings/031-2026-01-13.md
Owners: @akash-network/sig-chain

Create 035-2026-01-08.md
  committee-steering/meetings/035-2026-01-08.md
Owners: @akash-network/community-global

Update 035-2026-01-08.md
  committee-steering/meetings/035-2026-01-08.md
Owners: @akash-network/community-global

meeting notes steering committee #35 (#1179)
  committee-steering/meetings/035-2026-01-08.md
Owners: @akash-network/community-global

Update meeting recording link for January 13, 2026
  sig-chain/meetings/031-2026-01-13.md
Owners: @akash-network/sig-chain

meeting notes sig-Chain #31 (#1178)
  sig-chain/meetings/031-2026-01-13.md
Owners: @akash-network/sig-chain

Steering Committee Update meeting schedule in README.md
  committee-steering/README.md
Owners: @akash-network/community-global

meeting notes sig-providers #36
  sig-providers/meetings/036-2026-01-28.md
Owners: @akash-network/sig-providers

meeting notes sig-support #52
  sig-support/meetings/052-2026-01-28.md
Owners: @akash-network/sig-support

meeting notes steering-committee #36
  committee-steering/meetings/036-2026-01-29.md
Owners: @akash-network/community-global

update sig-economics readme
  sig-economics/README.md
Owners: @akash-network/sig-economics

Update 036-2026-01-29.md
  committee-steering/meetings/036-2026-01-29.md
Owners: @akash-network/community-global

meeting notes steering-committee #36 (#1190)
  committee-steering/meetings/036-2026-01-29.md
Owners: @akash-network/community-global

Update meeting recording link for January 28, 2026
  sig-support/meetings/052-2026-01-28.md
Owners: @akash-network/sig-support

meeting notes sig-support #52 (#1189)
  sig-support/meetings/052-2026-01-28.md
Owners: @akash-network/sig-support

Add meeting recording link for January 28, 2026
  sig-providers/meetings/036-2026-01-28.md
Owners: @akash-network/sig-providers

meeting notes sig-providers #36 (#1188)
  sig-providers/meetings/036-2026-01-28.md
Owners: @akash-network/sig-providers

Update readme table
  committee-steering/README.md
  sig-chain/README.md
  sig-clients/README.md
  sig-providers/README.md
  sig-support/README.md
Owners: @akash-network/community-global, @akash-network/sig-chain, @akash-network/sig-clients, @akash-network/sig-providers, @akash-network/sig-support

Update ReadMe Table (#1192)
  committee-steering/README.md
  sig-chain/README.md
  sig-clients/README.md
  sig-providers/README.md
  sig-support/README.md
Owners: @akash-network/community-global, @akash-network/sig-chain, @akash-network/sig-clients, @akash-network/sig-providers, @akash-network/sig-support

ci: add assign team based on issue label
  .github/label-actions.yaml
  .github/workflows/assign-on-label.yaml
Owners: @akash-network/community-global

ci: assign team based on issue label (#1193)
  .github/label-actions.yaml
  .github/workflows/assign-on-label.yaml
Owners: @akash-network/community-global

Update Community Pool Spend Reporting
  community-pool-spend-reporting/README.md
Owners: @akash-network/community-global

Fix link for 2025 H2 Community Growth Marketing
  community-pool-spend-reporting/README.md
Owners: @akash-network/community-global

Update Community Pool Spend Reporting (#1202)
  community-pool-spend-reporting/README.md
Owners: @akash-network/community-global

Update meeting schedule in README.md
  sig-analytics/README.md
Owners: @akash-network/sig-analytics

sig community meeeting notes #36
  sig-community/meetings/036-2026-02-10.md
Owners: @akash-network/sig-community

meeting notes sig-economics #34
  sig-economics/meetings/034-2026-02-04.md
Owners: @akash-network/sig-economics

Update meeting recording link in markdown file
  sig-community/meetings/035-2026-01-20.md
Owners: @akash-network/sig-community

meeting notes sig-community #35 (#1177)
  sig-community/meetings/035-2026-01-20.md
Owners: @akash-network/sig-community

meeting notes sig-support #53
  sig-support/meetings/053-2026-02-18.md
Owners: @akash-network/sig-support

meeting notes sig-chain #32
  sig-chain/meetings/032-2026-02-17.md
Owners: @akash-network/sig-chain

Update meeting recording link for November 6, 2025
  wg-akash-website/meetings/2025-11-06.md
Owners: @akash-network/community-global

wg-website-November 6th meeting (#1118)
  wg-akash-website/meetings/2025-11-06.md
Owners: @akash-network/community-global

meeting notes sig-client #25
  sig-clients/meetings/025-2026-02-24.md
Owners: @akash-network/sig-clients

meeting notes sig-providers #37
  sig-providers/meetings/037-2026-02-25.md
Owners: @akash-network/sig-providers
