Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support

sig-chain: ReadMe updates
  sig-chain/README.md
Owners: @akash-network/sig-chain

steering committee: detailed notes updated.
  committee-steering/meetings/003-2023-03-28.md
Owners: @akash-network/community-global

sig-support 005-2023-03-29.md created
  sig-support/meetings/005-2023-03-29.md
Owners: @akash-network/sig-support

sig-support 005-2023-03-29.md
  sig-support/meetings/005-2023-03-29.md
Owners: @akash-network/sig-support

sig-support 005-2023-03-29.md updates
  sig-support/meetings/005-2023-03-29.md
Owners: @akash-network/sig-support

sig-support 005-2023-03-29.md
  sig-support/meetings/005-2023-03-29.md
Owners: @akash-network/sig-support

steering-committee 003-2023-03-28.md updates
  committee-steering/meetings/003-2023-03-28.md
Owners: @akash-network/community-global

steering committee 003-2023-03-28.md
  committee-steering/meetings/003-2023-03-28.md
Owners: @akash-network/community-global

Create stable-payments-and-take-rate.md
  sig-economics/stable-payments-and-take-rate.md
Owners: @akash-network/sig-economics

create WG-Crew3 meeting notes
  wg-crew3/meetings/001-2023-02-17.md
Owners: @akash-network/community-global

Create wg-events
  wg-events
Owners: @akash-network/community-global

create meeting notes for wg-events-2023
  wg-akash-hackathon/meetings/001-2023-02-15.md
  wg-events
Owners: @akash-network/community-global

create meeting notes wg-Akash Hackathon
  wg-akash-hackathon/meetings/001-2023-02-15.md
Owners: @akash-network/community-global

Update 001-2023-02-15.md
  wg-akash-hackathon/meetings/001-2023-02-15.md
Owners: @akash-network/community-global

create WG-Crew3 meeting notes (#151)
  wg-akash-hackathon/meetings/001-2023-02-15.md
  wg-crew3/meetings/001-2023-02-17.md
Owners: @akash-network/community-global

Create sig-community meeting #2 notes.
  sig-community/meetings/01-2023-03-14.md
Owners: @akash-network/sig-community

Create Crew3 Proposal Discussion
  wg-crew3/Crew3 Proposal Discussion
Owners: @akash-network/community-global

sig-community 002-2023-03-14.md
  sig-community/meetings/002-2023-03-14.md
  sig-community/meetings/01-2023-03-14.md
Owners: @akash-network/sig-community

Create sig-community meeting #2 notes. (#153)
  sig-community/meetings/002-2023-03-14.md
Owners: @akash-network/sig-community

sig-chain 003-2023-04-04.md
  sig-chain/meetings/003-2023-04-04.md
Owners: @akash-network/sig-chain

Create stable-payments-and-take-rate.md (#150)
  sig-economics/stable-payments-and-take-rate.md
Owners: @akash-network/sig-economics

sig-chain 003-2023-04-04.md updates
  sig-chain/meetings/003-2023-04-04.md
Owners: @akash-network/sig-chain

steering-committee 003-2023-03-28.md notes (#146)
  committee-steering/meetings/003-2023-03-28.md
Owners: @akash-network/community-global

sig-support 005-2023-03-29.md created (#148)
  sig-support/meetings/005-2023-03-29.md
Owners: @akash-network/sig-support

sig-chain 003-2023-04-04.md updates
  sig-chain/meetings/003-2023-04-04.md
Owners: @akash-network/sig-chain

sig-chain: 003-2023-04-04.md
  sig-chain/meetings/003-2023-04-04.md
Owners: @akash-network/sig-chain

Add wireframes to Console Authorized Spend PRD (#138)
  sig-clients/akash-console/Authz-wire-1.png
  sig-clients/akash-console/Authz-wire-2.png
  sig-clients/akash-console/Authz-wire-3.png
  sig-clients/akash-console/Authz-wire-4.png
  sig-clients/akash-console/Authz-wire5.png
  sig-clients/akash-console/Authz-wire6.png
  sig-clients/akash-console/prd-authorized-spend.md
Owners: @akash-network/sig-clients

Update project list
  projects-list/README.md
Owners: @akash-network/community-global

Update project list (#157)
  projects-list/README.md
Owners: @akash-network/community-global

Update projects-list after SC meeting/ discussion
  projects-list/README.md
Owners: @akash-network/community-global

Add wg-Akash Website meeting #1 notes.
  wg-akash-website/meetings/001-2023-02-21.md
Owners: @akash-network/community-global

sig-economics, create meeting 3 notes
  sig-economics/meetings/003-2023-04-05.md
Owners: @akash-network/sig-economics

sig-economics, create meeting 3 notes (#162)
  sig-economics/meetings/003-2023-04-05.md
Owners: @akash-network/sig-economics

Add wg-Akash Website meeting #1 notes. (#161)
  wg-akash-website/meetings/001-2023-02-21.md
Owners: @akash-network/community-global

Projects-list: Update after March SC meeting (#159)
  projects-list/README.md
Owners: @akash-network/community-global

sig-education
  sig-education/README.md
Owners: @akash-network/sig-education

sig-design: 004-2023-04-12.md
  sig-design/meetings/004-2023-04-12.md
Owners: @akash-network/community-global

sig-support: 006-2023-04-12.md
  sig-support/meetings/006-2023-04-12.md
Owners: @akash-network/sig-support

sig-analytics: 003-2023-04-13.md creation
  sig-analytics/meetings/003-2023-04-13.md
Owners: @akash-network/sig-analytics

sig-analytics: 003-2023-04-13.md notes updated
  sig-analytics/meetings/003-2023-04-13.md
Owners: @akash-network/sig-analytics
