Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

meeting notes-sig-design #33
  sig-design/meetings/033-2026-05-21.md
Owners: @akash-network/community-global

meeting notes sig-chain-May
  sig-chain/meetings/035-2026-05-12.md
Owners: @akash-network/sig-chain

meeting notes sig-chain-April
  sig-chain/meetings/034-2026-03-10.md
Owners: @akash-network/sig-chain

Rename 034-2026-03-10.md to 034-2026-04-21.md
  sig-chain/meetings/034-2026-04-21.md
Owners: @akash-network/sig-chain

chore: update audit
  audit/README.md
Owners: @akash-network/community-global

chore: update audit (#1421)
  audit/README.md
Owners: @akash-network/community-global

Add recording link for May 20, 2026 meeting
  sig-economics/meetings/037-2026-05-20.md
Owners: @akash-network/sig-economics

meeting notes sig-economics #37 (#1413)
  sig-economics/meetings/037-2026-05-20.md
Owners: @akash-network/sig-economics

Add meeting recording link for May 12, 2026
  sig-chain/meetings/035-2026-05-12.md
Owners: @akash-network/sig-chain

meeting notes sig-chain-May (#1415)
  sig-chain/meetings/035-2026-05-12.md
Owners: @akash-network/sig-chain

update readme table
  committee-steering/README.md
  sig-chain/README.md
  sig-community/README.md
  sig-design/README.md
  sig-economics/README.md
  sig-providers/README.md
  sig-support/README.md
Owners: @akash-network/community-global, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-economics, @akash-network/sig-providers, @akash-network/sig-support

Add readme for PIP Revenue Share Reporting
  PIP-revenue-share/readme.md
Owners: @akash-network/community-global

update readme table (#1433)
  committee-steering/README.md
  sig-chain/README.md
  sig-community/README.md
  sig-design/README.md
  sig-economics/README.md
  sig-providers/README.md
  sig-support/README.md
Owners: @akash-network/community-global, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-economics, @akash-network/sig-providers, @akash-network/sig-support

Update meeting schedule in README.md
  committee-steering/README.md
Owners: @akash-network/community-global

meeting notes sig-economics #38
  sig-economics/meetings/038-2026-06-17.md
Owners: @akash-network/sig-economics

meeting notes sig-community-#40
  sig-community/meetings/040-2026-06-09.md
Owners: @akash-network/sig-community

meeting notes sig-support #57
  sig-support/meetings/057-2026-06-24.md
Owners: @akash-network/sig-support

meeting notes sig-support #56
  sig-support/meetings/056-2026-05-20.md
Owners: @akash-network/sig-support

meeting notes-steering committee #40
  committee-steering/meetings/040-2026-06-04.md
Owners: @akash-network/community-global

meeting notes sig-chain #36
  sig-chain/meetings/036-2026-06-17.md
Owners: @akash-network/sig-chain

Update meeting recording link in 033-2026-05-21.md
  sig-design/meetings/033-2026-05-21.md
Owners: @akash-network/community-global

meeting notes-sig-design #33 (#1414)
  sig-design/meetings/033-2026-05-21.md
Owners: @akash-network/community-global

Add meeting recording link for June 17, 2026
  sig-economics/meetings/038-2026-06-17.md
Owners: @akash-network/sig-economics

meeting notes sig-economics #38 (#1452)
  sig-economics/meetings/038-2026-06-17.md
Owners: @akash-network/sig-economics

Update meeting recording link in markdown file
  sig-support/meetings/057-2026-06-24.md
Owners: @akash-network/sig-support

meeting notes sig-support #57 (#1455)
  sig-support/meetings/057-2026-06-24.md
Owners: @akash-network/sig-support

Add meeting recording link for June 17, 2026
  sig-chain/meetings/036-2026-06-17.md
Owners: @akash-network/sig-chain

meeting notes sig-chain #36 (#1467)
  sig-chain/meetings/036-2026-06-17.md
Owners: @akash-network/sig-chain

Add meeting recording link for May 20, 2026
  sig-support/meetings/056-2026-05-20.md
Owners: @akash-network/sig-support

meeting notes sig-support #56 (#1458)
  sig-support/meetings/056-2026-05-20.md
Owners: @akash-network/sig-support

Update meeting recording link for June 9, 2026
  sig-community/meetings/040-2026-06-09.md
Owners: @akash-network/sig-community

meeting notes sig-community-#40 (#1453)
  sig-community/meetings/040-2026-06-09.md
Owners: @akash-network/sig-community

Add meeting recording link for May 12, 2026
  sig-community/meetings/039-2026-05-12.md
Owners: @akash-network/sig-community

meeting notes sig-community #39 (#1412)
  sig-community/meetings/039-2026-05-12.md
Owners: @akash-network/sig-community

meeting notes sig-community #41
  sig-community/meetings/041-2026-07-14.md
Owners: @akash-network/sig-community

Create 039-2026-07-23.md
  sig-economics/meetings/039-2026-07-23.md
Owners: @akash-network/sig-economics

Update meeting recording link in minutes
  committee-steering/meetings/040-2026-06-04.md
Owners: @akash-network/community-global

meeting notes-steering committee #40 (#1459)
  committee-steering/meetings/040-2026-06-04.md
Owners: @akash-network/community-global

meeting notes sig-support #58
  sig-support/meetings/058-2026-07-15.md
Owners: @akash-network/sig-support

Update meeting recording link in April 2026 notes
  sig-chain/meetings/034-2026-04-21.md
Owners: @akash-network/sig-chain

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support
