Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

wg-content-moderation: rename 2023-02-08.md to 04-2023-02-08.md
  wg-content-moderation/meetings/04-2023-02-08.md
Owners: @akash-network/community-global

Update 002-2023-02-22.md
  sig-providers/meetings/002-2023-02-22.md
Owners: @akash-network/sig-providers

Added management api specification (#12)
  wg-content-moderation/management-api.md
Owners: @akash-network/community-global

wg-content-moderation: moderation api (#61)
  wg-content-moderation/moderation-api.md
Owners: @akash-network/community-global

wg-content-moderation: 05-2023-02-28.md live meeting notes v1
  wg-content-moderation/meetings/05-2023-02-28.md
Owners: @akash-network/community-global

chore: sig-provider detailed meeting notes update for 02-2023-02-22.md (#97)
  sig-providers/meetings/002-2023-02-22.md
Owners: @akash-network/sig-providers

wg-akash-website 001-2023-02-21.md meeting updates
  wg-akash-website/meetings/001-2023-02-21.md
Owners: @akash-network/community-global

Update 2023-02-08.md
  wg-content-moderation/meetings/2023-02-08.md
Owners: @akash-network/community-global

sig-documentation 02-2023-02-28.md meeting updates post meeting
  sig-documentation/meetings/002-2023-02-28.md
Owners: @akash-network/sig-documentation

sig-documentation readme meeting 2 update to table
  sig-documentation/README.md
Owners: @akash-network/sig-documentation

wg-content-moderation 05-2023-02-28.md updates
  wg-content-moderation/meetings/05-2023-02-28.md
Owners: @akash-network/community-global

Update README.md
  sig-economics/README.md
Owners: @akash-network/sig-economics

chore: create test 2
  sig-economics/meetings/1-2023-02-01.md
Owners: @akash-network/sig-economics

test3
  sig-economics/test3/README.md
Owners: @akash-network/sig-economics

sig-economics: meeting table updates for meeting 2 time and date
  sig-economics/README.md
Owners: @akash-network/sig-economics

sig-support 003-2023-03-01.md pre-meeting notes created
  sig-support/meetings/003-2023-03-01.md
Owners: @akash-network/sig-support

Create 2-2023-03-01.md
  sig-economics/meetings/2-2023-03-01.md
Owners: @akash-network/sig-economics

sig-support 003-2023-03-01.md notes updates with in meeting notes
  sig-support/meetings/003-2023-03-01.md
Owners: @akash-network/sig-support

sig-support 003-2023-03-01.md meeting updates
  sig-support/meetings/003-2023-03-01.md
Owners: @akash-network/sig-support

sig-support 003-2023-03-01.md notes updates
  sig-support/meetings/003-2023-03-01.md
Owners: @akash-network/sig-support

wg-content-moderation: 05-2023-02-28.md live meeting notes v1 (#104)
  wg-content-moderation/meetings/05-2023-02-28.md
Owners: @akash-network/community-global

sig-economics: meeting table updates for meeting 2 time and date (#110)
  sig-economics/README.md
Owners: @akash-network/sig-economics

sig-support 003-2023-03-01.md pre-meeting notes created (#112)
  sig-support/meetings/003-2023-03-01.md
Owners: @akash-network/sig-support

Create 2-2023-03-01.md (#113)
  sig-economics/meetings/2-2023-03-01.md
Owners: @akash-network/sig-economics

wg-akash-website 001-2023-02-21.md meeting updates (#106)
  wg-akash-website/meetings/001-2023-02-21.md
Owners: @akash-network/community-global

sig-support 003-2023-03-01.md added transcript
  sig-support/meetings/003-2023-03-01.md
Owners: @akash-network/sig-support

sig-support: 003-2023-03-01,md recording link added
  sig-support/meetings/003-2023-03-01.md
Owners: @akash-network/sig-support

sig-support 003-2023-03-01.md added transcript (#114)
  sig-support/meetings/003-2023-03-01.md
Owners: @akash-network/sig-support

wg-content-moderation 005-2023-02-28.md updated notes
  wg-content-moderation/meetings/05-2023-02-28.md
Owners: @akash-network/community-global

Add detail notes to Content Moderation Working Group (wg) - Meeting #4
  wg-content-moderation/meetings/04-2023-02-08.md
Owners: @akash-network/community-global

committee-steering: 002-2023-02-23.md recording link added
  committee-steering/meetings/002-2023-02-23.md
Owners: @akash-network/community-global

committee-steering: 002-2023-02-23.md recording link added (#119)
  committee-steering/meetings/002-2023-02-23.md
Owners: @akash-network/community-global

Add detail notes to Content Moderation Working Group (wg) - Meeting #4 (#117)
  wg-content-moderation/meetings/04-2023-02-08.md
Owners: @akash-network/community-global

sig-clients: 002-2023-02-15.md spelling fix
  sig-clients/meetings/002-2023-02-15.md
Owners: @akash-network/sig-clients

sig-support readme links updates for meeting 3
  sig-support/README.md
Owners: @akash-network/sig-support

Create wg-economics 2.0 & README.md
  wg-economics-2.0/README.md
Owners: @akash-network/community-global

sig-documentation 02-2023-02-28.md meeting updates post meeting (#107)
  sig-documentation/meetings/002-2023-02-28.md
Owners: @akash-network/sig-documentation

sig-documentation readme meeting 2 update to table (#108)
  sig-documentation/README.md
Owners: @akash-network/sig-documentation

sig-support readme links updated in meeting table for meeting 3 (#120)
  sig-support/README.md
Owners: @akash-network/sig-support

sig-economics meeting notes 002
  sig-economics/meetings/002-2023-03-01.md
  sig-economics/meetings/2-2023-03-01.md
Owners: @akash-network/sig-economics

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support
