Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support

Update 018-2024-09-16.md
  wg-zealy/meetings/018-2024-09-16.md
Owners: @akash-network/community-global

Community Pool Spend - Update README.md (#761)
  community-pool-spend-reporting/README.md
Owners: @akash-network/community-global

chore: fix some typos (#763)
  cg-list/README.md
  wg-client-libraries/README.md
Owners: @akash-network/community-global

Update readme table (#754)
  sig-chain/README.md
  sig-community/README.md
  sig-design/README.md
  sig-providers/README.md
  wg-Akash-youtube/README.md
  wg-events/README.md
Owners: @akash-network/sig-chain, @akash-network/sig-community, @akash-network/community-global, @akash-network/sig-providers

Update 022-2024-12-05.md
  committee-steering/meetings/022-2024-12-05.md
Owners: @akash-network/community-global

sig-community Update 022-2024-12-10.md
  sig-community/meetings/022-2024-12-10.md
Owners: @akash-network/sig-community

Create meeting notes for Sig-Community #22 (#758)
  sig-community/meetings/022-2024-12-10.md
Owners: @akash-network/sig-community

Update 022-2024-12-05.md
  committee-steering/meetings/022-2024-12-05.md
Owners: @akash-network/community-global

Create meeting notes for steering Committee #22 (#759)
  committee-steering/meetings/022-2024-12-05.md
Owners: @akash-network/community-global

Update 021-2024-11-19.md
  sig-community/meetings/021-2024-11-19.md
Owners: @akash-network/sig-community

Create meeting notes for Sig-Community #21 (#762)
  sig-community/meetings/021-2024-11-19.md
Owners: @akash-network/sig-community

update readme table
  sig-analytics/README.md
  sig-chain/README.md
  sig-clients/README.md
  sig-community/README.md
  sig-design/README.md
  sig-economics/README.md
  sig-providers/README.md
  sig-support/README.md
Owners: @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-clients, @akash-network/sig-community, @akash-network/community-global, @akash-network/sig-economics, @akash-network/sig-providers, @akash-network/sig-support

update readme table (#771)
  sig-analytics/README.md
  sig-chain/README.md
  sig-clients/README.md
  sig-community/README.md
  sig-design/README.md
  sig-economics/README.md
  sig-providers/README.md
  sig-support/README.md
Owners: @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-clients, @akash-network/sig-community, @akash-network/community-global, @akash-network/sig-economics, @akash-network/sig-providers, @akash-network/sig-support

sig-economics Update README.md
  sig-economics/README.md
Owners: @akash-network/sig-economics

Create meeting notes for Sig-economics #22
  sig-economics/meetings/022-2024-12-04.md
Owners: @akash-network/sig-economics

steering committee Update README.md
  committee-steering/README.md
Owners: @akash-network/community-global

steering committee Update README.md
  committee-steering/README.md
Owners: @akash-network/community-global

Update 022-2024-12-04.md to add transcript
  sig-economics/meetings/022-2024-12-04.md
Owners: @akash-network/sig-economics

sig-providers Update README.md
  sig-providers/README.md
Owners: @akash-network/sig-providers

sig-providers Update README.md
  sig-providers/README.md
Owners: @akash-network/sig-providers

Create meeting notes for Sig-Chain 21#
  sig-chain/meetings/021-2024-11-19.md
Owners: @akash-network/sig-chain

Create meeting notes for sig-chain #22
  sig-chain/meetings/022-2024-12-17.md
Owners: @akash-network/sig-chain

Create meeting notes for Sig-providers #24
  sig-providers/meetings/024-2024-12-18.md
Owners: @akash-network/sig-providers

create meeting notes for Steering Committee #23
  committee-steering/meetings/023-2025-1-09.md
Owners: @akash-network/community-global

Update 023-2025-1-09.md
  committee-steering/meetings/023-2025-1-09.md
Owners: @akash-network/community-global

create meeting notes for Steering Committee #23 (#780)
  committee-steering/meetings/023-2025-1-09.md
Owners: @akash-network/community-global

Create meeting notes for sig-support #40
  sig-support/meetings/040-2024-1-08.md
Owners: @akash-network/sig-support

Create meeting notes for sig-support #39
  sig-support/meetings/039-2024-11-20.md
Owners: @akash-network/sig-support

steering committee Update README.md
  committee-steering/README.md
Owners: @akash-network/community-global

Create meeting for sig_economics #23
  sig-economics/meetings/023-2025-01-08.md
Owners: @akash-network/sig-economics

Rename 040-2024-1-08.md to 040-2025-1-08.md
  sig-support/meetings/040-2025-1-08.md
Owners: @akash-network/sig-support

Create meeting for sig design #24
  sig-design/meetings/024-2025-01-15.md
Owners: @akash-network/community-global

Create meeting notes for sig-community #23
  sig-community/meetings/023-2025-01-14.md
Owners: @akash-network/sig-community

sig-economics Update 023-2025-01-08.md
  sig-economics/meetings/023-2025-01-08.md
Owners: @akash-network/sig-economics

Create meeting for sig_economics #23 (#783)
  sig-economics/meetings/023-2025-01-08.md
Owners: @akash-network/sig-economics

sig-economics Update 022-2024-12-04.md
  sig-economics/meetings/022-2024-12-04.md
Owners: @akash-network/sig-economics

Create meeting notes for Sig-economics #22 (#772)
  sig-economics/meetings/022-2024-12-04.md
Owners: @akash-network/sig-economics

sig-support Update 039-2024-11-20.md
  sig-support/meetings/039-2024-11-20.md
Owners: @akash-network/sig-support

Create meeting notes for sig-support #39 (#782)
  sig-support/meetings/039-2024-11-20.md
Owners: @akash-network/sig-support

sig-support Update 040-2025-1-08.md
  sig-support/meetings/040-2025-1-08.md
Owners: @akash-network/sig-support
