Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

Create meeting notes for sig providers #19 (#646)
  sig-providers/meetings/019-2024-07-24.md
Owners: @akash-network/sig-providers

Create meeting notes sig-support #35 (#647)
  sig-support/meetings/035-2024-07-24.md
Owners: @akash-network/sig-support

Update 019-2024-08-13.md
  sig-chain/meetings/019-2024-08-13.md
Owners: @akash-network/sig-chain

Create meeeting notes for Sig-community #18
  sig-community/meetings/018-2024-08-14.md
Owners: @akash-network/sig-community

Create meeting notes for wg-zealy #13
  wg-zealy/meetings/013-2024-08-12.md
Owners: @akash-network/community-global

Create meeting notes for wg-website #33
  wg-akash-website/meetings/033-2024-08-08.md
Owners: @akash-network/community-global

Update 018-2024-08-14.md
  sig-community/meetings/018-2024-08-14.md
Owners: @akash-network/sig-community

Update 033-2024-08-08.md
  wg-akash-website/meetings/033-2024-08-08.md
Owners: @akash-network/community-global

Update 013-2024-08-12.md
  wg-zealy/meetings/013-2024-08-12.md
Owners: @akash-network/community-global

Create meeeting notes for Sig-community #18 (#660)
  sig-community/meetings/018-2024-08-14.md
Owners: @akash-network/sig-community

Create meeting notes for sig-Analytics #13
  sig-analytics/meetings/013-2024-08-15.md
Owners: @akash-network/sig-analytics

Create meeting notes for Sig-Design #20
  sig-design/meetings/020-2024-08-20.md
Owners: @akash-network/community-global

Create meeting notes for Sig-Client #17
  sig-clients/meetings/017-2024-08-20.md
Owners: @akash-network/sig-clients

Update 019-2024-08-13.md
  sig-chain/meetings/019-2024-08-13.md
Owners: @akash-network/sig-chain

Create meeting notes for sig-chain #19 (#659)
  sig-chain/meetings/019-2024-08-13.md
Owners: @akash-network/sig-chain

Update 013-2024-08-15.md
  sig-analytics/meetings/013-2024-08-15.md
Owners: @akash-network/sig-analytics

Update 017-2024-08-20.md
  sig-clients/meetings/017-2024-08-20.md
Owners: @akash-network/sig-clients

Update 013-2024-08-15.md
  sig-analytics/meetings/013-2024-08-15.md
Owners: @akash-network/sig-analytics

Create meeting notes for sig-Analytics #13 (#663)
  sig-analytics/meetings/013-2024-08-15.md
Owners: @akash-network/sig-analytics

Update 017-2024-08-20.md
  sig-clients/meetings/017-2024-08-20.md
Owners: @akash-network/sig-clients

Create meeting notes for Sig-Client #17 (#668)
  sig-clients/meetings/017-2024-08-20.md
Owners: @akash-network/sig-clients

Update 020-2024-08-20.md
  sig-design/meetings/020-2024-08-20.md
Owners: @akash-network/community-global

update notes with additional info
  sig-chain/meetings/019-2024-08-13.md
Owners: @akash-network/sig-chain

Create meeting notes for sig providers #20
  sig-providers/meetings/020-2024-08-21.md
Owners: @akash-network/sig-providers

update notes with additional info (#669)
  sig-chain/meetings/019-2024-08-13.md
Owners: @akash-network/sig-chain

Create meeting notes for Sig-Support #36
  sig-support/meetings/036-2024-08-21.md
Owners: @akash-network/sig-support

Update 036-2024-08-21.md
  sig-support/meetings/036-2024-08-21.md
Owners: @akash-network/sig-support

Update 020-2024-08-21.md
  sig-providers/meetings/020-2024-08-21.md
Owners: @akash-network/sig-providers

Update 036-2024-08-21.md
  sig-support/meetings/036-2024-08-21.md
Owners: @akash-network/sig-support

Create meeting notes for Sig-Support #36 (#671)
  sig-support/meetings/036-2024-08-21.md
Owners: @akash-network/sig-support

Update 020-2024-08-21.md
  sig-providers/meetings/020-2024-08-21.md
Owners: @akash-network/sig-providers

Create meeting notes for sig providers #20 (#670)
  sig-providers/meetings/020-2024-08-21.md
Owners: @akash-network/sig-providers

Update 020-2024-08-20.md
  sig-design/meetings/020-2024-08-20.md
Owners: @akash-network/community-global

Create meeting notes for Sig-Design #20 (#667)
  sig-design/meetings/020-2024-08-20.md
Owners: @akash-network/community-global

Create meeting notes wg-zealy #14
  wg-zealy/meetings/014-2024-08-19.md
Owners: @akash-network/community-global

Update 014-2024-08-19.md
  wg-zealy/meetings/014-2024-08-19.md
Owners: @akash-network/community-global

steering committee Update README.md
  committee-steering/README.md
Owners: @akash-network/community-global

Create meeting notes Sig-economics #18
  sig-economics/meetings/018-2024-08-07.md
Owners: @akash-network/sig-economics

update readme table and wg akash youtube notes
  sig-analytics/README.md
  sig-analytics/meetings/014-2024-08-15.md
  sig-chain/README.md
  sig-clients/README.md
  sig-community/README.md
  sig-design/README.md
  sig-providers/README.md
  sig-support/README.md
  wg-Akash-youtube/meetings/001-2024-07-23
  wg-Akash-youtube/meetings/002-2024-07-30
  wg-Akash-youtube/meetings/003-2024-08-06
Owners: @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-clients, @akash-network/sig-community, @akash-network/community-global, @akash-network/sig-providers, @akash-network/sig-support

update readme table and wg akash youtube notes (#676)
  sig-analytics/README.md
  sig-analytics/meetings/014-2024-08-15.md
  sig-chain/README.md
  sig-clients/README.md
  sig-community/README.md
  sig-design/README.md
  sig-providers/README.md
  sig-support/README.md
  wg-Akash-youtube/meetings/001-2024-07-23
  wg-Akash-youtube/meetings/002-2024-07-30
  wg-Akash-youtube/meetings/003-2024-08-06
Owners: @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-clients, @akash-network/sig-community, @akash-network/community-global, @akash-network/sig-providers, @akash-network/sig-support

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support
