Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

Create wg-akash-website 003-2023-03-07.md meeting updates
  wg-akash-website/meetings/wg-akash-website 003-2023-03-07.md meeting updates
Owners: @akash-network/community-global

wg-akash-website: 002-2023-03-07.md update notes
  wg-akash-website/meetings/002-2023-03-07.md
Owners: @akash-network/community-global

wg-akash-website: 002-2023-03-07.md notes updated
  wg-akash-website/meetings/002-2023-03-07.md
Owners: @akash-network/community-global

sig-analytics 002-2023-03-09.md updates
  sig-analytics/meetings/002-2023-03-09.md
Owners: @akash-network/sig-analytics

sig-support create 004-2023-03-15.md
  sig-support/meetings/004-2023-03-15.md
Owners: @akash-network/sig-support

sig-support 004-2023-03-15.md
  sig-support/meetings/004-2023-03-15.md
Owners: @akash-network/sig-support

sig-clients 003-2023-03-15.md pre meeting
  sig-clients/meetings/003-2023-03-15.md
Owners: @akash-network/sig-clients

Transcription cleanup, minor note edits
  sig-analytics/meetings/002-2023-03-09.md
Owners: @akash-network/sig-analytics

sig-support: 004-2023-03-15.md
  sig-support/meetings/004-2023-03-15.md
Owners: @akash-network/sig-support

wg-akash-website 002-2023-03-07.md created (#124)
  wg-akash-website/meetings/002-2023-03-07.md
Owners: @akash-network/community-global

sig-analytics 002-2023-03-09.md updates (#134)
  sig-analytics/meetings/002-2023-03-09.md
Owners: @akash-network/sig-analytics

Transcription cleanup, minor note edits (#137)
  sig-analytics/meetings/002-2023-03-09.md
Owners: @akash-network/sig-analytics

sig-clients 003-2023-03-15.md pre meeting (#136)
  sig-clients/meetings/003-2023-03-15.md
Owners: @akash-network/sig-clients

sig-clients: 003-2023-03-15.md in meeting notes
  sig-clients/meetings/003-2023-03-15.md
Owners: @akash-network/sig-clients

sig-support 004-2023-03-15.md updates
  sig-support/meetings/004-2023-03-15.md
Owners: @akash-network/sig-support

sig-support create 004-2023-03-15.md (#135)
  sig-support/meetings/004-2023-03-15.md
Owners: @akash-network/sig-support

Add wireframes to Console Authspend PRD
  sig-clients/akash-console/Authz-wire-1.png
  sig-clients/akash-console/Authz-wire-2.png
  sig-clients/akash-console/Authz-wire-3.png
  sig-clients/akash-console/Authz-wire-4.png
  sig-clients/akash-console/Authz-wire5.png
  sig-clients/akash-console/Authz-wire6.png
  sig-clients/akash-console/prd-authorized-spend.md
Owners: @akash-network/sig-clients

sig-education meeting 2 notes created
  sig-education/meetings/002-2023-03-14.md
Owners: @akash-network/sig-education

sig-education 002-2023-03-14.md updates to transcript
  sig-education/meetings/002-2023-03-14.md
Owners: @akash-network/sig-education

sig-provider 003-2023-03-22.md meeting creation
  sig-providers/meetings/003-2023-03-22.md
Owners: @akash-network/sig-providers

sig-education meeting 2 notes created. (#139)
  sig-education/meetings/002-2023-03-14.md
Owners: @akash-network/sig-education

003-2023-03-22
  wg-akash-website/meetings/wg-akash-website 003-2023-03-22
Owners: @akash-network/community-global

sig-providers 003-2023-03-22.md detailed notes
  sig-providers/meetings/003-2023-03-22.md
Owners: @akash-network/sig-providers

Added Praetor to sig-clients
  sig-clients/praetor/README.md
Owners: @akash-network/sig-clients

changed styling
  sig-clients/praetor/README.md
Owners: @akash-network/sig-clients

sig-provider 003-2023-03-22.md added recording
  sig-providers/meetings/003-2023-03-22.md
Owners: @akash-network/sig-providers

wg-akash-website 003-2023-03-22.md added recording
  wg-akash-website/meetings/wg-akash-website 003-2023-03-22
Owners: @akash-network/community-global

wg-akash-website-meeting-notes-003-2023-03-22 (#141)
  wg-akash-website/meetings/wg-akash-website 003-2023-03-22
Owners: @akash-network/community-global

Sig client library praetor update (#142)
  sig-clients/praetor/README.md
Owners: @akash-network/sig-clients

sig-provider 003-2023-03-22.md meeting creation (#140)
  sig-providers/meetings/003-2023-03-22.md
Owners: @akash-network/sig-providers

committee-steering pre-meeting 003-2023-03-28.md
  committee-steering/meetings/003-2023-03-28.md
Owners: @akash-network/community-global

sig-analytics README updates for meeting 2
  sig-analytics/README.md
Owners: @akash-network/sig-analytics

sig-support ReadME meeting #4 update
  sig-support/README.md
Owners: @akash-network/sig-support

sig-support 004-2023-03-15.md added video recording.
  sig-support/meetings/004-2023-03-15.md
Owners: @akash-network/sig-support

sig-docs meeting 003-2023-03-15.md created
  sig-documentation/meetings/003-2023-03-28.md
Owners: @akash-network/sig-documentation

add notes
  sig-documentation/meetings/003-2023-03-28.md
Owners: @akash-network/sig-documentation

committee-steering pre-meeting 003-2023-03-28.md (#143)
  committee-steering/meetings/003-2023-03-28.md
Owners: @akash-network/community-global

sig-docs meeting 003-2023-03-15.md created (#144)
  sig-documentation/meetings/003-2023-03-28.md
Owners: @akash-network/sig-documentation

steering-committee 003-2023-03-28.md notes
  committee-steering/meetings/003-2023-03-28.md
Owners: @akash-network/community-global

steering-committee: 003-2023-03-28.md meeting updates
  committee-steering/meetings/003-2023-03-28.md
Owners: @akash-network/community-global

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support
