Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support

Create meeting notes for steering committee #27
  committee-steering/meetings/027-2025-04-24.md
Owners: @akash-network/community-global

feat: updates to sync community repo with website repo (#880)
  .github/workflows/akash-network-website-update.yml
  sig-analytics/README.md
  sig-chain/README.md
  sig-clients/README.md
  sig-community/README.md
  sig-deployments/README.md
  sig-design/README.md
  sig-documentation/README.md
  sig-economics/README.md
  sig-education/README.md
  sig-providers/README.md
  sig-support/README.md
  wg-Akash-youtube/README.md
  wg-akash-hackathon/README.md
  wg-akash-website/README.md
  wg-client-libraries/README.md
  wg-content-moderation/README.md
  wg-economics-2.0/README.md
  wg-events/README.md
  wg-gpu/README.md
  wg-provider-attributes/README.md
  wg-provider-audit/README.md
  wg-testnet-sandbox/README.md
  wg-zealy/README.md
Owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-clients, @akash-network/sig-community, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-providers, @akash-network/sig-support

Create meeting notes for sig-providers #28
  sig-providers/meetings/028-2025-04-23.md
Owners: @akash-network/sig-providers

Update 026-2025-03-27.md
  committee-steering/meetings/026-2025-03-27.md
Owners: @akash-network/community-global

Create meeting notes for steering committee #26 (#885)
  committee-steering/meetings/026-2025-03-27.md
Owners: @akash-network/community-global

Update 027-2025-04-24.md
  committee-steering/meetings/027-2025-04-24.md
Owners: @akash-network/community-global

Create meeting notes for steering committee #27 (#886)
  committee-steering/meetings/027-2025-04-24.md
Owners: @akash-network/community-global

Update 025-2025-03-19.md
  sig-economics/meetings/025-2025-03-19.md
Owners: @akash-network/sig-economics

Create meeting notes for sig-economics #25 (#863)
  sig-economics/meetings/025-2025-03-19.md
Owners: @akash-network/sig-economics

Update 020-2025-04-15.md
  sig-clients/meetings/020-2025-04-15.md
Owners: @akash-network/sig-clients

Create meeting notes for sig-client #20 (#877)
  sig-clients/meetings/020-2025-04-15.md
Owners: @akash-network/sig-clients

Update 028-2025-04-23.md
  sig-providers/meetings/028-2025-04-23.md
Owners: @akash-network/sig-providers

Create meeting notes for sig-providers #28 (#888)
  sig-providers/meetings/028-2025-04-23.md
Owners: @akash-network/sig-providers

Update 043-2025-04-16.md
  sig-support/meetings/043-2025-04-16.md
Owners: @akash-network/sig-support

Create meeting notes for sig-support #43 (#876)
  sig-support/meetings/043-2025-04-16.md
Owners: @akash-network/sig-support

Create meeting notes for sig-chain #26
  sig-chain/meetings/026-2025-04-23.md
Owners: @akash-network/sig-chain

Create meeting notes for sig-community #26
  sig-community/meetings/026-2025-04-08.md
Owners: @akash-network/sig-community

Update 026-2025-04-08.md
  sig-community/meetings/026-2025-04-08.md
Owners: @akash-network/sig-community

Create meeting notes for sig economics #26
  sig-economics/meetings/026-2025-04-09.md
Owners: @akash-network/sig-economics

update readme table
  committee-steering/README.md
  sig-clients/README.md
  sig-economics/README.md
  sig-providers/README.md
  sig-support/README.md
Owners: @akash-network/community-global, @akash-network/sig-clients, @akash-network/sig-economics, @akash-network/sig-providers, @akash-network/sig-support

delete: wip.yaml
  .github/workflows/wip.yaml
Owners: @akash-network/community-global

test: GH workflow trigger
  wg-akash-website/README.md
Owners: @akash-network/community-global

Update 026-2025-04-09.md
  sig-economics/meetings/026-2025-04-09.md
Owners: @akash-network/sig-economics

Create meeting notes for sig economics #26 (#891)
  sig-economics/meetings/026-2025-04-09.md
Owners: @akash-network/sig-economics

Update 026-2025-04-23.md
  sig-chain/meetings/026-2025-04-23.md
Owners: @akash-network/sig-chain

Create meeting notes for sig-chain #26 (#889)
  sig-chain/meetings/026-2025-04-23.md
Owners: @akash-network/sig-chain

test: GH workflow trigger (#894)
  .github/workflows/wip.yaml
  wg-akash-website/README.md
Owners: @akash-network/community-global

update readme table (#892)
  committee-steering/README.md
  sig-clients/README.md
  sig-economics/README.md
  sig-providers/README.md
  sig-support/README.md
Owners: @akash-network/community-global, @akash-network/sig-clients, @akash-network/sig-economics, @akash-network/sig-providers, @akash-network/sig-support

update readme table
  sig-economics/README.md
Owners: @akash-network/sig-economics

update readme table
  sig-chain/README.md
Owners: @akash-network/sig-chain

Update 026-2025-04-08.md
  sig-community/meetings/026-2025-04-08.md
Owners: @akash-network/sig-community

Create meeting notes for sig-community #26 (#890)
  sig-community/meetings/026-2025-04-08.md
Owners: @akash-network/sig-community

update readme table (#906)
  sig-chain/README.md
  sig-economics/README.md
Owners: @akash-network/sig-chain, @akash-network/sig-economics

Enhance README for Steering Committee: Added description, meeting schedule, and links to GitHub and Discord. Updated meeting notes table format for clarity.
  committee-steering/README.md
Owners: @akash-network/community-global

Update GitHub Actions workflow to include 'committee-steering' path for triggering events.
  .github/workflows/akash-network-website-update.yml
Owners: @akash-network/community-global

update: GitHub Actions workflow to include 'committee-steering' path for triggering events. (#909)
  .github/workflows/akash-network-website-update.yml
  committee-steering/README.md
Owners: @akash-network/community-global

Update README.md
  community-pool-spend-reporting/README.md
Owners: @akash-network/community-global

Create meeting notes for sig-economics #27
  sig-economics/meetings/027-2025-05-07.md
Owners: @akash-network/sig-economics

Create meeting notes sig-community #27
  sig-community/meetings/027-2025-05-13.md
Owners: @akash-network/sig-community

Create meeting notes for sig-chain #27
  sig-chain/meetings/027-2025-05-15.md
Owners: @akash-network/sig-chain
