Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

Create meeting notes for Wg-website #17
  wg-akash-website/meetings/017-2023-11-16.md
Owners: @akash-network/community-global

Create meeting notes for Wg-zealy #2
  wg-crew3/meetings/002-2023-11-20.md
Owners: @akash-network/community-global

Create 011-2023-11-08.md
  sig-design/meetings/011-2023-11-08.md
Owners: @akash-network/community-global

Additional notes to sig-providers #10 (#384)
  sig-providers/meetings/010-2023-10-25.md
Owners: @akash-network/sig-providers

sig-docs Update README.md
  sig-documentation/README.md
Owners: @akash-network/sig-documentation

sig-docs Update 010-2023-10-24.md
  sig-documentation/meetings/010-2023-10-24.md
Owners: @akash-network/sig-documentation

Create meeting notes for Sig-Documentation #10 (#383)
  sig-documentation/meetings/010-2023-10-24.md
Owners: @akash-network/sig-documentation

sig-documentation Update README.md
  sig-documentation/README.md
Owners: @akash-network/sig-documentation

Update 011-2023-11-08.md
  sig-chain/meetings/011-2023-11-08.md
Owners: @akash-network/sig-chain

sig-chain Create 011-2023-11-08.md (#374)
  sig-chain/meetings/011-2023-11-08.md
Owners: @akash-network/sig-chain

Update 022-2023-11-22.md
  sig-support/meetings/022-2023-11-22.md
Owners: @akash-network/sig-support

sig-support Create 022-2023-11-22.md (#390)
  sig-support/meetings/022-2023-11-22.md
Owners: @akash-network/sig-support

Update 021-2023-11-08.md
  sig-support/meetings/021-2023-11-08.md
Owners: @akash-network/sig-support

sig-support Create 021-2023-11-08.md (#373)
  sig-support/meetings/021-2023-11-08.md
Owners: @akash-network/sig-support

steering comittee Update README.md
  committee-steering/README.md
Owners: @akash-network/community-global

Update 009-2023-11-15.md
  sig-community/meetings/009-2023-11-15.md
Owners: @akash-network/sig-community

Update README.md
  sig-support/README.md
Owners: @akash-network/sig-support

Create meeting notes for wg-website #18
  wg-akash-website/meetings/018-2023-11-27.md
Owners: @akash-network/community-global

Create meeting notes for Sig-Documentation #11
  sig-documentation/meetings/011-2023-11-28.md
Owners: @akash-network/sig-documentation

Update 011-2023-11-28.md
  sig-documentation/meetings/011-2023-11-28.md
Owners: @akash-network/sig-documentation

Update 018-2023-11-27.md
  wg-akash-website/meetings/018-2023-11-27.md
Owners: @akash-network/community-global

sig-chain Create 011-2023-12-05.md
  sig-chain/meetings/011-2023-12-05.md
Owners: @akash-network/sig-chain

sig-chain Update README.md
  sig-chain/README.md
Owners: @akash-network/sig-chain

Update 011-2023-12-05.md
  sig-chain/meetings/011-2023-12-05.md
Owners: @akash-network/sig-chain

Update 011-2023-12-05.md
  sig-chain/meetings/011-2023-12-05.md
Owners: @akash-network/sig-chain

Update 022-2023-11-22.md
  sig-support/meetings/022-2023-11-22.md
Owners: @akash-network/sig-support

sig-support Create 023-2023-12-06.md
  sig-support/meetings/023-2023-12-06.md
Owners: @akash-network/sig-support

sig-support Update 023-2023-12-06.md
  sig-support/meetings/023-2023-12-06.md
Owners: @akash-network/sig-support

Update 011-2023-11-28.md
  sig-documentation/meetings/011-2023-11-28.md
Owners: @akash-network/sig-documentation

Create meeting notes for Sig-Documentation #11 (#403)
  sig-documentation/meetings/011-2023-11-28.md
Owners: @akash-network/sig-documentation

Update 009-2023-11-15.md
  sig-community/meetings/009-2023-11-15.md
Owners: @akash-network/sig-community

Create meeting notes for Sig-Community #9 (#388)
  sig-community/meetings/009-2023-11-15.md
Owners: @akash-network/sig-community

Update 011-2023-12-05.md
  sig-chain/meetings/011-2023-12-05.md
Owners: @akash-network/sig-chain

Update 015-2023-11-02.md
  wg-akash-website/meetings/015-2023-11-02.md
Owners: @akash-network/community-global

Update 017-2023-11-16.md
  wg-akash-website/meetings/017-2023-11-16.md
Owners: @akash-network/community-global

Update 012-2023-10-12.md
  wg-akash-website/meetings/012-2023-10-12.md
Owners: @akash-network/community-global

Update 012-2023-10-12.md
  wg-akash-website/meetings/012-2023-10-12.md
Owners: @akash-network/community-global

Update 009-2023-11-15.md
  sig-community/meetings/009-2023-11-15.md
Owners: @akash-network/sig-community

Create meeting notes for wg-website #12 (#382)
  wg-akash-website/meetings/012-2023-10-12.md
Owners: @akash-network/community-global

Update 015-2023-11-02.md
  wg-akash-website/meetings/015-2023-11-02.md
Owners: @akash-network/community-global

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support
