Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support

Update 029-2025-07-09.md
  sig-economics/meetings/029-2025-07-09.md
Owners: @akash-network/sig-economics

meeting notes sig-economics #29 (#973)
  sig-economics/meetings/029-2025-07-09.md
Owners: @akash-network/sig-economics

Update 028-2025-07-9.md
  sig-design/meetings/028-2025-07-9.md
Owners: @akash-network/community-global

meeting notes sig-design #28 (#979)
  sig-design/meetings/028-2025-07-9.md
Owners: @akash-network/community-global

Update 029-2025-07-8.md
  sig-community/meetings/029-2025-07-8.md
Owners: @akash-network/sig-community

meeting notes sig community #29 (#974)
  sig-community/meetings/029-2025-07-8.md
Owners: @akash-network/sig-community

Update 031-2025-07-23.md
  sig-providers/meetings/031-2025-07-23.md
Owners: @akash-network/sig-providers

meeting notes sig-Providers #31 (#983)
  sig-providers/meetings/031-2025-07-23.md
Owners: @akash-network/sig-providers

Steering committee Update README.md
  committee-steering/README.md
Owners: @akash-network/community-global

Update 046-2025-07-16.md
  sig-support/meetings/046-2025-07-16.md
Owners: @akash-network/sig-support

meeting notes sig-support #46 (#980)
  sig-support/meetings/046-2025-07-16.md
Owners: @akash-network/sig-support

July readme
  sig-chain/README.md
  sig-clients/README.md
  sig-community/README.md
  sig-design/README.md
  sig-economics/README.md
  sig-providers/README.md
  sig-support/README.md
Owners: @akash-network/sig-chain, @akash-network/sig-clients, @akash-network/sig-community, @akash-network/community-global, @akash-network/sig-economics, @akash-network/sig-providers, @akash-network/sig-support

meeting notes steering committee #30
  committee-steering/meetings/030-2025-07-31.md
Owners: @akash-network/community-global

Update 029-2025-07-8.md
  sig-community/meetings/029-2025-07-8.md
Owners: @akash-network/sig-community

update July readme table (#986)
  sig-chain/README.md
  sig-clients/README.md
  sig-community/README.md
  sig-design/README.md
  sig-economics/README.md
  sig-providers/README.md
  sig-support/README.md
Owners: @akash-network/sig-chain, @akash-network/sig-clients, @akash-network/sig-community, @akash-network/community-global, @akash-network/sig-economics, @akash-network/sig-providers, @akash-network/sig-support

Update 029-2025-07-8.md (#991)
  sig-community/meetings/029-2025-07-8.md
Owners: @akash-network/sig-community

Update README.md
  community-pool-spend-reporting/README.md
Owners: @akash-network/community-global

Update README.md (#992)
  community-pool-spend-reporting/README.md
Owners: @akash-network/community-global

Update README.md
  community-pool-spend-reporting/README.md
Owners: @akash-network/community-global

meeting notes Sig-Community #30
  sig-community/meetings/030-2025-08-12.md
Owners: @akash-network/sig-community

Update README.md (#1000)
  community-pool-spend-reporting/README.md
Owners: @akash-network/community-global

meeting notes sig economics #30
  sig-economics/meetings/030-2025-08-06.md
Owners: @akash-network/sig-economics

meeting notes- Sig client #22
  sig-clients/meetings/022-2025-08-19.md
Owners: @akash-network/sig-clients

chore: fix some typos
  sig-economics/akt20-prop/README.md
  wg-gpu/prd.md
Owners: @akash-network/sig-economics, @akash-network/community-global

meeting notes steering committee #30 (#990)
  committee-steering/meetings/030-2025-07-31.md
Owners: @akash-network/community-global

Update steering committee README.md
  committee-steering/README.md
Owners: @akash-network/community-global

Update README.md
  wg-content-moderation/README.md
Owners: @akash-network/community-global

Update README.md
  wg-akash-website/README.md
Owners: @akash-network/community-global

Update README.md
  committee-steering/README.md
Owners: @akash-network/community-global

Update README.md
  sig-support/README.md
Owners: @akash-network/sig-support

Update README.md
  sig-providers/README.md
Owners: @akash-network/sig-providers

Update README.md
  sig-documentation/README.md
Owners: @akash-network/sig-documentation

Update README.md
  sig-design/README.md
Owners: @akash-network/community-global

Update README.md
  sig-community/README.md
Owners: @akash-network/sig-community

Update README.md
  sig-clients/README.md
Owners: @akash-network/sig-clients

Update README.md
  sig-chain/README.md
Owners: @akash-network/sig-chain

Update README.md
  sig-analytics/README.md
Owners: @akash-network/sig-analytics

Update README.md
  community-pool-spend-reporting/README.md
Owners: @akash-network/community-global

Updates to add "Github Hero Images" and new proposal passings to Community Repo (#1020)
  committee-steering/README.md
  community-pool-spend-reporting/README.md
  sig-analytics/README.md
  sig-chain/README.md
  sig-clients/README.md
  sig-community/README.md
  sig-design/README.md
  sig-documentation/README.md
  sig-providers/README.md
  sig-support/README.md
  wg-akash-website/README.md
  wg-content-moderation/README.md
Owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-clients, @akash-network/sig-community, @akash-network/sig-documentation, @akash-network/sig-providers, @akash-network/sig-support

chore: Fix typos
  sig-economics/akt20-prop/README.md
  sig-economics/meetings/003-2023-04-05.md
Owners: @akash-network/sig-economics
