Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support

sig-design: 004-2023-04-12.md (#166)
  sig-design/meetings/004-2023-04-12.md
Owners: @akash-network/community-global

sig-docs: 004-2023-04-25.md (#190)
  sig-documentation/meetings/004-2023-04-25.md
Owners: @akash-network/sig-documentation

Update GPU Community Insider Testnet Providers.md
  wg-gpu/GPU Community Insider Testnet Providers.md
Owners: @akash-network/community-global

update sig-design readme table
  sig-design/README.md
Owners: @akash-network/community-global

update sig-design readme table (#202)
  sig-design/README.md
Owners: @akash-network/community-global

sig-analytics: 003-2023-04-13.md creation (#169)
  sig-analytics/meetings/003-2023-04-13.md
Owners: @akash-network/sig-analytics

sig-chain: 004-2023-05-02.md
  sig-chain/meetings/004-2023-05-02.md
Owners: @akash-network/sig-chain

Update 007-2023-04-26.md
  sig-support/meetings/007-2023-04-26.md
Owners: @akash-network/sig-support

sig-analytics readme updates (#192)
  sig-analytics/README.md
Owners: @akash-network/sig-analytics

wg-gpu: GPU Testnet Providers.md created. (#184)
  wg-gpu/GPU Community Insider Testnet Providers.md
Owners: @akash-network/community-global

Rename wg-akash-website 003-2023-03-22 to wg-akash-website 003-2023-03-22.md
  wg-akash-website/meetings/wg-akash-website 003-2023-03-22.md
Owners: @akash-network/community-global

update readme table
  wg-akash-website/README.md
Owners: @akash-network/community-global

sig-support: 007-2023-04-26.md (#194)
  sig-support/meetings/007-2023-04-26.md
Owners: @akash-network/sig-support

steering committee: 004-2023-05-04.md
  committee-steering/meetings/004-2023-05-04.md
Owners: @akash-network/community-global

update readme table (#204)
  wg-akash-website/README.md
Owners: @akash-network/community-global

steering committee: 004-2023-05-04.md
  committee-steering/meetings/004-2023-05-04.md
Owners: @akash-network/community-global

Rename wg-akash-website 003-2023-03-22 to wg-akash-website 003-2023-0… (#203)
  wg-akash-website/meetings/wg-akash-website 003-2023-03-22.md
Owners: @akash-network/community-global

Update 004-2023-05-02.md
  sig-chain/meetings/004-2023-05-02.md
Owners: @akash-network/sig-chain

Update 004-2023-05-04.md
  committee-steering/meetings/004-2023-05-04.md
Owners: @akash-network/community-global

Update 004-2023-05-04.md
  committee-steering/meetings/004-2023-05-04.md
Owners: @akash-network/community-global

Update 004-2023-05-04.md
  committee-steering/meetings/004-2023-05-04.md
Owners: @akash-network/community-global

steering committee: 004-2023-05-04.md (#205)
  committee-steering/meetings/004-2023-05-04.md
Owners: @akash-network/community-global

Create sig-community meeting#3 notes
  sig-community/meetings/003-2023-04-11.md
Owners: @akash-network/sig-community

Create sig-community meeting#3 notes (#206)
  sig-community/meetings/003-2023-04-11.md
Owners: @akash-network/sig-community

Update GPU Community Insider Testnet Providers.md
  wg-gpu/GPU Community Insider Testnet Providers.md
Owners: @akash-network/community-global

Update GPU Community Insider Testnet Providers.md
  wg-gpu/GPU Community Insider Testnet Providers.md
Owners: @akash-network/community-global

Rename wg-akash-website 003-2023-03-22.md to 003-2023-03-22.md
  wg-akash-website/meetings/003-2023-03-22.md
Owners: @akash-network/community-global

Update README.md
  product-strategy/README.md
Owners: @akash-network/community-global

Update README.md (#208)
  product-strategy/README.md
Owners: @akash-network/community-global

sig-clients readme updates
  sig-clients/README.md
Owners: @akash-network/sig-clients

Update 2023-events README.md
  wg-events/README.md
Owners: @akash-network/community-global

Update wg-hackathon README table
  wg-akash-hackathon/README.md
Owners: @akash-network/community-global

Update wg-Akash-website README.md
  wg-akash-website/README.md
Owners: @akash-network/community-global

Update wg-Crew3 README.md
  wg-crew3/README.md
Owners: @akash-network/community-global

Update 2023-events README.md (#210)
  wg-events/README.md
Owners: @akash-network/community-global

Update wg-Crew3 README.md (#213)
  wg-crew3/README.md
Owners: @akash-network/community-global

Update wg-hackathon README table (#211)
  wg-akash-hackathon/README.md
Owners: @akash-network/community-global

Update wg-Akash-website README.md (#212)
  wg-akash-website/README.md
Owners: @akash-network/community-global

Update README.md
  sig-clients/README.md
Owners: @akash-network/sig-clients

sig-chain: 004-2023-05-02.md created (#201)
  sig-chain/meetings/004-2023-05-02.md
Owners: @akash-network/sig-chain
