Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support

chore: update all links for meeting #4 in meeting table for wg-content-moderation
  wg-content-moderation/README.md
Owners: @akash-network/community-global

chore: update links for meeting #4 including notes, transcript, and recording in wg-content-moderation readme
  wg-content-moderation/README.md
Owners: @akash-network/community-global

add gpu progress (#63)
  wg-gpu/README.md
  wg-gpu/progress.md
Owners: @akash-network/community-global

Add transcript and recording for wg-content-moderation meeting #4 (#65)
  wg-content-moderation/README.md
Owners: @akash-network/community-global

Rewrite section title
  sig-documentation/documentation-structure.md
Owners: @akash-network/sig-documentation

create sig-education repo with readme file
  sig-education/README.md
Owners: @akash-network/sig-education

chore: add meeting notes to sig-documentation (#64)
  sig-documentation/meetings/001-2023-01-24.md
Owners: @akash-network/sig-documentation

prd-1.0
  sig-analytics/onchain-data-model.md
Owners: @akash-network/sig-analytics

prd-1.0
  sig-analytics/prd.md
Owners: @akash-network/sig-analytics

create new sig-education repo with readme file (#66)
  sig-education/README.md
Owners: @akash-network/sig-education

wg-readme: add the meeting table to the template
  wg-README-template.md
Owners: @akash-network/community-global

wg-readme: add the meeting table to the template (#68)
  wg-README-template.md
Owners: @akash-network/community-global

Documentation Structure (#30)
  sig-documentation/documentation-structure.md
Owners: @akash-network/sig-documentation

sig-analytics meeting 1 notes complete
  sig-analytics/meetings/001-2023-02-09.md
Owners: @akash-network/sig-analytics

create sig-education meeting notes for 2023-02-14
  sig-education/meetings/001-2023-02-14.md
Owners: @akash-network/sig-education

wg-client-libraries update to detailed notes and action items
  wg-client-libraries/meetings/001-2023-02-07.md
Owners: @akash-network/community-global

wg-client-libraries updates to detailed notes and action items (#71)
  wg-client-libraries/meetings/001-2023-02-07.md
Owners: @akash-network/community-global

create sig-education meeting notes template for 2023-02-14 (#70)
  sig-education/meetings/001-2023-02-14.md
Owners: @akash-network/sig-education

sig-education meeting 1 updates to detailed notes, transcript, and meeting details.
  sig-education/meetings/001-2023-02-14.md
Owners: @akash-network/sig-education

sig-education meeting 1 updates to detailed notes, transcript, and meeting details (#72)
  sig-education/meetings/001-2023-02-14.md
Owners: @akash-network/sig-education

sig-support meeting 2 2023-02-15 creation of notes.
  sig-support/meetings/002-2023-02-15.md
Owners: @akash-network/sig-support

sig-analytics meeting #1 PR updates from Anil's comments
  sig-analytics/meetings/001-2023-02-09.md
Owners: @akash-network/sig-analytics

sig-clients meeting 2 notes creation
  sig-clients/meetings/002-2023-02-15.md
Owners: @akash-network/sig-clients

sig-clients meeting #2 notes creation 2023-02-15 (#74)
  sig-clients/meetings/002-2023-02-15.md
Owners: @akash-network/sig-clients

sig-support meeting #2 2023-02-15 creation of notes. (#73)
  sig-support/meetings/002-2023-02-15.md
Owners: @akash-network/sig-support

sig-analytics meeting 1 notes created (#69)
  sig-analytics/meetings/001-2023-02-09.md
Owners: @akash-network/sig-analytics

sig-analytics meeting 1 table update with all links
  sig-analytics/README.md
Owners: @akash-network/sig-analytics

sig-clients 2023-02-015 recording link updated
  sig-clients/meetings/002-2023-02-15.md
Owners: @akash-network/sig-clients

sig-clients meeting links updated for meeting 2 in meeting table
  sig-clients/README.md
Owners: @akash-network/sig-clients

sig-support readme updates for meeting 2 on meeting table
  sig-support/README.md
Owners: @akash-network/sig-support

sig-support meeting 2 update to recording link
  sig-support/meetings/002-2023-02-15.md
Owners: @akash-network/sig-support

sig-analytics meeting 1 table update with all links (#75)
  sig-analytics/README.md
Owners: @akash-network/sig-analytics

sig-clients 2023-02-015 recording link updated (#76)
  sig-clients/meetings/002-2023-02-15.md
Owners: @akash-network/sig-clients

sig-clients meeting links updated for meeting 2 in meeting table (#77)
  sig-clients/README.md
Owners: @akash-network/sig-clients

sig-support readme updates for meeting 2 on meeting table (#78)
  sig-support/README.md
Owners: @akash-network/sig-support

sig-support meeting 2 update to recording link (#79)
  sig-support/meetings/002-2023-02-15.md
Owners: @akash-network/sig-support

Added detailed specification for management apis
  wg-content-moderation/management-api.md
Owners: @akash-network/community-global

wg-akash-hackathon repo creation with readme
  wg-akash-hackathon/README.md
Owners: @akash-network/community-global

wg-akash-hackathon repo creation with readme (#80)
  wg-akash-hackathon/README.md
Owners: @akash-network/community-global

Update 001-2023-02-07.md
  wg-gpu/meetings/001-2023-02-07.md
Owners: @akash-network/community-global
