Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support

Create meeting notes for sig-design #27
  sig-design/meetings/027-2025-05-14.md
Owners: @akash-network/community-global

Create meeting notes for wg-meeting #2
  002-2025-01-29.md
Owners: @akash-network/community-global

Create meeting notes for wg-events #3
  003-2025-03-27.md
Owners: @akash-network/community-global

Update 027-2025-05-07.md
  sig-economics/meetings/027-2025-05-07.md
Owners: @akash-network/sig-economics

Create meeting notes for sig-economics #27 (#918)
  sig-economics/meetings/027-2025-05-07.md
Owners: @akash-network/sig-economics

Update 003-2025-03-27.md
  003-2025-03-27.md
Owners: @akash-network/community-global

Create meeting notes for wg-events #3 (#924)
  003-2025-03-27.md
Owners: @akash-network/community-global

Update 027-2025-05-13.md
  sig-community/meetings/027-2025-05-13.md
Owners: @akash-network/sig-community

Create meeting notes sig-community #27 (#919)
  sig-community/meetings/027-2025-05-13.md
Owners: @akash-network/sig-community

Update 027-2025-05-15.md
  sig-chain/meetings/027-2025-05-15.md
Owners: @akash-network/sig-chain

Create meeting notes for sig-chain #27 (#920)
  sig-chain/meetings/027-2025-05-15.md
Owners: @akash-network/sig-chain

Update 027-2025-05-14.md
  sig-design/meetings/027-2025-05-14.md
Owners: @akash-network/community-global

Create meeting notes for sig-design #27 (#922)
  sig-design/meetings/027-2025-05-14.md
Owners: @akash-network/community-global

Update 039-2025-01-23.md
  wg-akash-website/meetings/039-2025-01-23.md
Owners: @akash-network/community-global

Create meeting notes for wg-website #39 (#792)
  wg-akash-website/meetings/039-2025-01-23.md
Owners: @akash-network/community-global

Update 002-2025-01-29.md
  002-2025-01-29.md
Owners: @akash-network/community-global

Create meeting notes for wg-meeting #2 (#923)
  002-2025-01-29.md
Owners: @akash-network/community-global

Update README.md
  sig-providers/README.md
Owners: @akash-network/sig-providers

Create meeting notes for sig-support #44
  sig-support/meetings/044-2025-05-21.md
Owners: @akash-network/sig-support

sig-providers Update README.md
  sig-providers/README.md
Owners: @akash-network/sig-providers

Create 028-2025-05-29.md
  committee-steering/meetings/028-2025-05-29.md
Owners: @akash-network/community-global

Create meeting notes for sig-providers #29
  sig-providers/meetings/029-2025-05-28.md
Owners: @akash-network/sig-providers

Update 028-2025-05-29.md
  committee-steering/meetings/028-2025-05-29.md
Owners: @akash-network/community-global

Update 028-2025-05-29.md
  committee-steering/meetings/028-2025-05-29.md
Owners: @akash-network/community-global

Create meeting notes for steering committe #28 (#928)
  committee-steering/meetings/028-2025-05-29.md
Owners: @akash-network/community-global

Update 029-2025-05-28.md
  sig-providers/meetings/029-2025-05-28.md
Owners: @akash-network/sig-providers

Create meeting notes for sig-providers #29 (#929)
  sig-providers/meetings/029-2025-05-28.md
Owners: @akash-network/sig-providers

update readme table
  002-2025-01-29.md
  committee-steering/README.md
  sig-chain/README.md
  sig-community/README.md
  sig-community/meetings/026-2025-04-08.md
  sig-design/README.md
  sig-economics/README.md
  sig-providers/README.md
  sig-support/README.md
  wg-events/meeting-2025/001-2024-11-20.md
  wg-events/meeting-2025/002-2025-1-29.md
  wg-events/meeting-2025/003-2025-03-27.md
Owners: @akash-network/community-global, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-economics, @akash-network/sig-providers, @akash-network/sig-support

update readme table (#936)
  002-2025-01-29.md
  committee-steering/README.md
  sig-chain/README.md
  sig-community/README.md
  sig-community/meetings/026-2025-04-08.md
  sig-design/README.md
  sig-economics/README.md
  sig-providers/README.md
  sig-support/README.md
  wg-events/meeting-2025/001-2024-11-20.md
  wg-events/meeting-2025/002-2025-1-29.md
  wg-events/meeting-2025/003-2025-03-27.md
Owners: @akash-network/community-global, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-economics, @akash-network/sig-providers, @akash-network/sig-support

Update 044-2025-05-21.md
  sig-support/meetings/044-2025-05-21.md
Owners: @akash-network/sig-support

Create meeting notes for sig-support #44 (#926)
  sig-support/meetings/044-2025-05-21.md
Owners: @akash-network/sig-support

Create meeting notes sig-economics #28
  sig-economics/meetings/028-2025-06-11.md
Owners: @akash-network/sig-economics

meeting notes sig-community #28
  sig-community/meetings/028-2025-06-18.md
Owners: @akash-network/sig-community

meeting notes sig-support #45
  sig-support/meetings/045-2025-05-21.md
Owners: @akash-network/sig-support

wg meeting notes #5
  wg-events/meeting-2025/005-2025-05-28.md
Owners: @akash-network/community-global

Update 045-2025-05-21.md
  sig-support/meetings/045-2025-05-21.md
Owners: @akash-network/sig-support

meeting notes sig-support #45 (#946)
  sig-support/meetings/045-2025-05-21.md
Owners: @akash-network/sig-support

Update 028-2025-06-18.md
  sig-community/meetings/028-2025-06-18.md
Owners: @akash-network/sig-community

meeting notes sig-community #28 (#945)
  sig-community/meetings/028-2025-06-18.md
Owners: @akash-network/sig-community

Update 028-2025-06-11.md
  sig-economics/meetings/028-2025-06-11.md
Owners: @akash-network/sig-economics
