Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

meeting notes SIg-providers #32
  sig-providers/meetings/032-2025-08-27.md
Owners: @akash-network/sig-providers

meeting notes sig-support 47
  sig-support/meetings/047-2025-08-20.md
Owners: @akash-network/sig-support

meeting notes steering committee #31
  committee-steering/meetings/031-2025-09-04.md
Owners: @akash-network/community-global

chore: Fix typos (#1025)
  sig-economics/akt20-prop/README.md
  sig-economics/meetings/003-2023-04-05.md
Owners: @akash-network/sig-economics

chore: fix some typos (#1014)
  wg-gpu/prd.md
Owners: @akash-network/community-global

chore: remove redundant words
  sig-chain/meetings/025-2025-03-12.md
  sig-economics/meetings/021-2024-11-06.md
Owners: @akash-network/sig-chain, @akash-network/sig-economics

chore: remove redundant words (#1031)
  sig-chain/meetings/025-2025-03-12.md
  sig-economics/meetings/021-2024-11-06.md
Owners: @akash-network/sig-chain, @akash-network/sig-economics

Update 031-2025-09-04.md
  committee-steering/meetings/031-2025-09-04.md
Owners: @akash-network/community-global

meeting notes steering committee #31 (#1028)
  committee-steering/meetings/031-2025-09-04.md
Owners: @akash-network/community-global

Update 022-2025-08-19.md
  sig-clients/meetings/022-2025-08-19.md
Owners: @akash-network/sig-clients

meeting notes- Sig client #22 (#1010)
  sig-clients/meetings/022-2025-08-19.md
Owners: @akash-network/sig-clients

Update 032-2025-08-27.md
  sig-providers/meetings/032-2025-08-27.md
Owners: @akash-network/sig-providers

meeting notes SIg-providers #32 (#1026)
  sig-providers/meetings/032-2025-08-27.md
Owners: @akash-network/sig-providers

Update 047-2025-08-20.md
  sig-support/meetings/047-2025-08-20.md
Owners: @akash-network/sig-support

meeting notes sig-support 47 (#1027)
  sig-support/meetings/047-2025-08-20.md
Owners: @akash-network/sig-support

Update 030-2025-08-06.md
  sig-economics/meetings/030-2025-08-06.md
Owners: @akash-network/sig-economics

meeting notes sig economics #30 (#1009)
  sig-economics/meetings/030-2025-08-06.md
Owners: @akash-network/sig-economics

Update 030-2025-08-12.md
  sig-community/meetings/030-2025-08-12.md
Owners: @akash-network/sig-community

meeting notes Sig-Community #30 (#1004)
  sig-community/meetings/030-2025-08-12.md
Owners: @akash-network/sig-community

fix: audit attribute link
  .github/ISSUE_TEMPLATE/-provider-audit--template.md
Owners: @akash-network/community-global

fix: audit attribute link (#1036)
  .github/ISSUE_TEMPLATE/-provider-audit--template.md
Owners: @akash-network/community-global

update readm me table
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  committee-steering/README.md
  sig-clients/README.md
  sig-community/README.md
  sig-design/README.md
  sig-economics/README.md
  sig-providers/README.md
  sig-support/README.md
Owners: @akash-network/community-global, @akash-network/sig-clients, @akash-network/sig-community, @akash-network/sig-economics, @akash-network/sig-providers, @akash-network/sig-support

Update ReadMe table-august (#1038)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  committee-steering/README.md
  sig-clients/README.md
  sig-community/README.md
  sig-design/README.md
  sig-economics/README.md
  sig-providers/README.md
  sig-support/README.md
Owners: @akash-network/community-global, @akash-network/sig-clients, @akash-network/sig-community, @akash-network/sig-economics, @akash-network/sig-providers, @akash-network/sig-support

meeting notes sig-economics 31
  sig-economics/meetings/031-2025-09-03.md
Owners: @akash-network/sig-economics

Meeting notes sig-community #31
  sig-community/meetings/031-2025-09-09.md
Owners: @akash-network/sig-community

meeting notes sig-chain #29
  sig-chain/meetings/029-2025-09-16.md
Owners: @akash-network/sig-chain

meeting notes steering committee #32
  committee-steering/meetings/032-2025-09-25.md
Owners: @akash-network/community-global

meeting notes sig-design #29
  sig-design/meetings/029-2025-09-25.md
Owners: @akash-network/community-global

Update 031-2025-09-03.md
  sig-economics/meetings/031-2025-09-03.md
Owners: @akash-network/sig-economics

meeting notes sig-economics 31 (#1041)
  sig-economics/meetings/031-2025-09-03.md
Owners: @akash-network/sig-economics

Update 032-2025-09-25.md
  committee-steering/meetings/032-2025-09-25.md
Owners: @akash-network/community-global

meeting notes steering committee #32 (#1051)
  committee-steering/meetings/032-2025-09-25.md
Owners: @akash-network/community-global

Update 029-2025-09-16.md
  sig-chain/meetings/029-2025-09-16.md
Owners: @akash-network/sig-chain

meeting notes sig-chain #29 (#1043)
  sig-chain/meetings/029-2025-09-16.md
Owners: @akash-network/sig-chain

Update 031-2025-09-09.md
  sig-community/meetings/031-2025-09-09.md
Owners: @akash-network/sig-community

Meeting notes sig-community #31 (#1042)
  sig-community/meetings/031-2025-09-09.md
Owners: @akash-network/sig-community

Update 029-2025-09-25.md
  sig-design/meetings/029-2025-09-25.md
Owners: @akash-network/community-global

meeting notes sig-design #29 (#1053)
  sig-design/meetings/029-2025-09-25.md
Owners: @akash-network/community-global

update readme table
  backup/Dockerfile
  backup/devcontainer.json
  sig-chain/README.md
  sig-community/README.md
  sig-design/README.md
  sig-economics/README.md
Owners: @akash-network/community-global, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-economics

meeting notes sig-providers #33
  sig-providers/meetings/033-2025-09-24.md
Owners: @akash-network/sig-providers

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support
