Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

Update 008-2023-05-10.md
  sig-support/meetings/008-2023-05-10.md
Owners: @akash-network/sig-support

Update sig-clients README.md
  sig-clients/README.md
Owners: @akash-network/sig-clients

Update sig-clients 005-2023-05-17.md
  sig-clients/meetings/005-2023-05-17.md
Owners: @akash-network/sig-clients

Update sig-providers 004-2023-04-26.md
  sig-providers/meetings/004-2023-04-26.md
Owners: @akash-network/sig-providers

Create sig-provider 005-2023-05-24.md
  sig-providers/meetings/005-2023-05-24.md
Owners: @akash-network/sig-providers

Update sig-providers README.md
  sig-providers/README.md
Owners: @akash-network/sig-providers

Create sig-support biweekly 009-2023-05-24.md
  sig-support/meetings/009-2023-05-24.md
Owners: @akash-network/sig-support

Update sig-support biweekly: 009-2023-05-24.md
  sig-support/meetings/009-2023-05-24.md
Owners: @akash-network/sig-support

Update sig-providers 005-2023-05-24.md
  sig-providers/meetings/005-2023-05-24.md
Owners: @akash-network/sig-providers

Update sig-support 009-2023-05-24.md
  sig-support/meetings/009-2023-05-24.md
Owners: @akash-network/sig-support

Update sig-docs README.md
  sig-documentation/README.md
Owners: @akash-network/sig-documentation

Update sig-docs README.md
  sig-documentation/README.md
Owners: @akash-network/sig-documentation

Create archive README.md
  Archive/README.md
Owners: @akash-network/community-global

Update sig-docs wg-2023-05-10.md
  sig-documentation/meetings/wg-2023-05-10.md
Owners: @akash-network/sig-documentation

Create 004-2023-05-16.md (#224)
  wg-akash-website/meetings/004-2023-05-16.md
Owners: @akash-network/community-global

Create 005-2023-05-10.md (#223)
  sig-design/meetings/005-2023-05-10.md
Owners: @akash-network/community-global

Update steering committee README.md
  committee-steering/README.md
Owners: @akash-network/community-global

Create steering committee monthly meeting 005-2023-05-25.md
  committee-steering/meetings/005-2023-05-25.md
Owners: @akash-network/community-global

Create sig:documentation wg-2023-05-10.md (#216)
  sig-documentation/meetings/wg-2023-05-10.md
Owners: @akash-network/sig-documentation

Create sig-support 008-2023-05-10.md (#217)
  sig-support/meetings/008-2023-05-10.md
Owners: @akash-network/sig-support

Create sig-provider 005-2023-05-24.md (#231)
  sig-providers/meetings/005-2023-05-24.md
Owners: @akash-network/sig-providers

Create archive README.md (#233)
  Archive/README.md
Owners: @akash-network/community-global

Create sig-support biweekly 009-2023-05-24.md (#232)
  sig-support/meetings/009-2023-05-24.md
Owners: @akash-network/sig-support

Update 005-2023-05-25.md
  committee-steering/meetings/005-2023-05-25.md
Owners: @akash-network/community-global

Update 005-2023-05-25.md
  committee-steering/meetings/005-2023-05-25.md
Owners: @akash-network/community-global

Added incentives and new tasks. Addressed Comments
  wg-gpu/GPU-AI-Incentivized-Testnet.md
Owners: @akash-network/community-global

cosmetic fixes
  wg-gpu/GPU-AI-Incentivized-Testnet.md
Owners: @akash-network/community-global

more cosmetic fixes
  wg-gpu/GPU-AI-Incentivized-Testnet.md
Owners: @akash-network/community-global

addressed review comments
  wg-gpu/GPU-AI-Incentivized-Testnet.md
Owners: @akash-network/community-global

address Zach comments
  wg-gpu/GPU-AI-Incentivized-Testnet.md
Owners: @akash-network/community-global

Akash GPU and AI Incentivized Testnet Plan (#229)
  wg-gpu/GPU-AI-Incentivized-Testnet.md
Owners: @akash-network/community-global

chore: update dates to delay by a week
  wg-gpu/GPU-AI-Incentivized-Testnet.md
Owners: @akash-network/community-global

chore: update GPU list to match spreadsheet
  wg-gpu/GPU-AI-Incentivized-Testnet.md
Owners: @akash-network/community-global

Create 005-2023-06-08.md
  sig-analytics/meetings/005-2023-06-08.md
Owners: @akash-network/sig-analytics

Update README.md
  sig-analytics/README.md
Owners: @akash-network/sig-analytics

Update GPU-AI-Incentivized-Testnet.md
  wg-gpu/GPU-AI-Incentivized-Testnet.md
Owners: @akash-network/community-global

leave tensorflow until we test pytorch
  wg-gpu/GPU-AI-Incentivized-Testnet.md
Owners: @akash-network/community-global

add verification notes
  wg-gpu/GPU-AI-Incentivized-Testnet.md
Owners: @akash-network/community-global

Call out data center GPU models
  wg-gpu/GPU-AI-Incentivized-Testnet.md
Owners: @akash-network/community-global

Update GPU-AI-Incentivized-Testnet.md (#242)
  wg-gpu/GPU-AI-Incentivized-Testnet.md
Owners: @akash-network/community-global

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support
