Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support

Update 009-2024-02-12.md
  wg-zealy/meetings/009-2024-02-12.md
Owners: @akash-network/community-global

Update 010-2024-03-18.md
  wg-zealy/meetings/010-2024-03-18.md
Owners: @akash-network/community-global

Update 001-2024-02-21.md
  wg-provider-audit/001-2024-02-21.md
Owners: @akash-network/community-global

Update 014-2024-02-21.md
  sig-design/meetings/014-2024-02-21.md
Owners: @akash-network/community-global

Create meeting notes for sig-community #12 (#527)
  sig-community/meetings/012-2024-02-13.md
Owners: @akash-network/sig-community

Create meeting notes for wg-provider-audit #1 (#546)
  wg-provider-audit/001-2024-02-21.md
Owners: @akash-network/community-global

Create meeting notes for wg-zealy #10 (#542)
  wg-zealy/meetings/010-2024-03-18.md
Owners: @akash-network/community-global

Create meeting notes for wg-zealy #9 (#536)
  wg-zealy/meetings/009-2024-02-12.md
Owners: @akash-network/community-global

Create meeting notes for sig-design #14 (#535)
  sig-design/meetings/014-2024-02-21.md
Owners: @akash-network/community-global

Feb-tables
  sig-community/README.md
  sig-design/README.md
  wg-provider-audit/README.md
  wg-provider-audit/meetings/001-2024-02-21.md
  wg-zealy/README.md
  wg-zealy/meetings/007-2024-01-15.md
  wg-zealy/meetings/008-2024-01-22.md
Owners: @akash-network/sig-community, @akash-network/community-global

Update readme tables for February (#549)
  sig-community/README.md
  sig-design/README.md
  wg-provider-audit/README.md
  wg-provider-audit/meetings/001-2024-02-21.md
  wg-zealy/README.md
  wg-zealy/meetings/007-2024-01-15.md
  wg-zealy/meetings/008-2024-01-22.md
Owners: @akash-network/sig-community, @akash-network/community-global

sig-analytics Create 2024-02-15.md
  sig-analytics/meetings/2024-02-15.md
Owners: @akash-network/sig-analytics

sig-analytics Rename 2024-02-15.md to 011-2024-02-15.md
  sig-analytics/meetings/011-2024-02-15.md
Owners: @akash-network/sig-analytics

sig-analytics Update README.md
  sig-analytics/README.md
Owners: @akash-network/sig-analytics

Create meeting notes for sig-support #29
  sig-support/meetings/029-2024-03-06.md
Owners: @akash-network/sig-support

sig-docs Update README.md
  sig-documentation/README.md
Owners: @akash-network/sig-documentation

sig-clients Update README.md
  sig-clients/README.md
Owners: @akash-network/sig-clients

steering committee Create 014-2024-03-27.md
  committee-steering/meetings/014-2024-03-27.md
Owners: @akash-network/community-global

Create meeting notes for Sig-docs #14
  sig-documentation/meetings/014-2024-02-27.md
Owners: @akash-network/sig-documentation

Update 029-2024-03-06.md
  sig-support/meetings/029-2024-03-06.md
Owners: @akash-network/sig-support

Create meeting notes for sig-support #29 (#557)
  sig-support/meetings/029-2024-03-06.md
Owners: @akash-network/sig-support

Create 015-2024-04-03.md
  sig-economics/meetings/015-2024-04-03.md
Owners: @akash-network/sig-economics

Update 014-2024-02-27.md
  sig-documentation/meetings/014-2024-02-27.md
Owners: @akash-network/sig-documentation

Update 015-2024-04-03.md
  sig-economics/meetings/015-2024-04-03.md
Owners: @akash-network/sig-economics

Create meeting notes for Sig-docs #14 (#560)
  sig-documentation/meetings/014-2024-02-27.md
Owners: @akash-network/sig-documentation

Create meeting notes for Sig-economics #15 (#561)
  sig-economics/meetings/015-2024-04-03.md
Owners: @akash-network/sig-economics

steering committee Create 014-2024-03-27.md (#559)
  committee-steering/meetings/014-2024-03-27.md
Owners: @akash-network/community-global

Create meeting notes for sig docs #15
  sig-documentation/meetings/015-2024-03-26.md
Owners: @akash-network/sig-documentation

Create meeting notes for Wg-Zealy #11
  wg-zealy/meetings/011-2024-04-15.md
Owners: @akash-network/community-global

Create meeting notes for Sig-Design #15
  sig-design/meetings/015-2024-03-13.md
Owners: @akash-network/community-global

wg-provider-audits Update README.md
  wg-provider-audit/README.md
Owners: @akash-network/community-global

sig-economics Update README.md
  sig-economics/README.md
Owners: @akash-network/sig-economics

Update and rename 014-2024-03-27.md to 014-2024-03-28.md
  committee-steering/meetings/014-2024-03-28.md
Owners: @akash-network/community-global

steering committee Update README.md
  committee-steering/README.md
Owners: @akash-network/community-global

Create meeting notes for sig-economics #16
  sig-economics/meetings/016-2024-05-01.md
Owners: @akash-network/sig-economics

Create meeting notes for sig-support #32
  sig-support/meetings/032-2024-05-01.md
Owners: @akash-network/sig-support

Create meeting notes for wg-website #29
  wg-akash-website/meetings/029-2024-04-04.md
Owners: @akash-network/community-global

Update 029-2024-04-04.md
  wg-akash-website/meetings/029-2024-04-04.md
Owners: @akash-network/community-global

Update 032-2024-05-01.md
  sig-support/meetings/032-2024-05-01.md
Owners: @akash-network/sig-support

sig-economics Update 016-2024-05-01.md
  sig-economics/meetings/016-2024-05-01.md
Owners: @akash-network/sig-economics
