Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support

Update Sig-Community README.md table
  sig-community/README.md
Owners: @akash-network/sig-community

Create sig:documentation wg-2023-05-10.md
  sig-documentation/meetings/wg-2023-05-10.md
Owners: @akash-network/sig-documentation

Update Sig-Community README.md table (#215)
  sig-community/README.md
Owners: @akash-network/sig-community

Create sig-support 008-2023-05-10.md
  sig-support/meetings/008-2023-05-10.md
Owners: @akash-network/sig-support

Update 004-2023-04-25.md
  sig-documentation/meetings/004-2023-04-25.md
Owners: @akash-network/sig-documentation

Create 004-2023-05-03.md
  sig-economics/meetings/004-2023-05-03.md
Owners: @akash-network/sig-economics

Update README.md
  sig-economics/README.md
Owners: @akash-network/sig-economics

Create 004-2023-05-11.md
  sig-analytics/meetings/004-2023-05-11.md
Owners: @akash-network/sig-analytics

sig-economics: meeting notes and README updated (#218)
  sig-economics/README.md
  sig-economics/meetings/004-2023-05-03.md
Owners: @akash-network/sig-economics

sig-clients readme updates (#209)
  sig-clients/README.md
Owners: @akash-network/sig-clients

sig-analytics: Update 004-2023-05-11.md
  sig-analytics/meetings/004-2023-05-11.md
Owners: @akash-network/sig-analytics

sig-analytics Meeting Notes (2023-05-11) (#219)
  sig-analytics/meetings/004-2023-05-11.md
Owners: @akash-network/sig-analytics

Update 004-2023-04-19.md
  sig-clients/meetings/004-2023-04-19.md
Owners: @akash-network/sig-clients

sig-clients: Create 005-2023-05-17.md
  sig-clients/meetings/005-2023-05-17.md
Owners: @akash-network/sig-clients

sig-clients/Update 004-2023-04-19.md
  sig-clients/meetings/004-2023-04-19.md
Owners: @akash-network/sig-clients

Create 005-2023-05-10.md
  sig-design/meetings/005-2023-05-10.md
Owners: @akash-network/community-global

Create 004-2023-05-16.md
  wg-akash-website/meetings/004-2023-05-16.md
Owners: @akash-network/community-global

sig-client: may 11 update from praetor team on roadmap
  sig-clients/praetor/README.md
Owners: @akash-network/sig-clients

sig-client: Praetor - added rough timeline for may 17 update
  sig-clients/praetor/README.md
Owners: @akash-network/sig-clients

Sig-client: fix typo
  sig-clients/praetor/README.md
Owners: @akash-network/sig-clients

Update 005-2023-05-17.md
  sig-clients/meetings/005-2023-05-17.md
Owners: @akash-network/sig-clients

Sig client may11 update from Praetor Team (#225)
  sig-clients/praetor/README.md
Owners: @akash-network/sig-clients

sig-clients: Update 005-2023-05-17.md
  sig-clients/meetings/005-2023-05-17.md
Owners: @akash-network/sig-clients

sig-clients Update 005-2023-05-17.md
  sig-clients/meetings/005-2023-05-17.md
Owners: @akash-network/sig-clients

wg-akash-website: Update 004-2023-05-16.md
  wg-akash-website/meetings/004-2023-05-16.md
Owners: @akash-network/community-global

sig-design Update README.md
  sig-design/README.md
Owners: @akash-network/community-global

sig-design Update README.md
  sig-design/README.md
Owners: @akash-network/community-global

Create 005-2023-05-17.md
  sig-clients/meetings/005-2023-05-17.md
Owners: @akash-network/sig-clients

Update README.md
  sig-clients/README.md
Owners: @akash-network/sig-clients

Update README.md
  sig-clients/README.md
Owners: @akash-network/sig-clients

sig-design Update README.md (#226)
  sig-design/README.md
Owners: @akash-network/community-global

sig-design Update 005-2023-05-10.md
  sig-design/meetings/005-2023-05-10.md
Owners: @akash-network/community-global

add: OpenRegistry to sig-clients
  sig-clients/open-registry/README.md
Owners: @akash-network/sig-clients

add: OpenRegistry to sig-clients (#228)
  sig-clients/open-registry/README.md
Owners: @akash-network/sig-clients

initial commit
  wg-gpu/GPU-AI-Incentivized-Testnet.md
Owners: @akash-network/community-global

wg-gpu Update GPU-AI-Incentivized-Testnet.md
  wg-gpu/GPU-AI-Incentivized-Testnet.md
Owners: @akash-network/community-global

Update 005-2023-05-17.md
  sig-clients/meetings/005-2023-05-17.md
Owners: @akash-network/sig-clients

Update README.md
  sig-clients/README.md
Owners: @akash-network/sig-clients

sig-clients Meeting Notes (2023-05-17) (#227)
  sig-clients/README.md
  sig-clients/meetings/005-2023-05-17.md
Owners: @akash-network/sig-clients

Update 008-2023-05-10.md
  sig-support/meetings/008-2023-05-10.md
Owners: @akash-network/sig-support
