Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

Update 007-2023-07-12.md
  sig-design/meetings/007-2023-07-12.md
Owners: @akash-network/community-global

Update 012-2023-07-05.md
  sig-support/meetings/012-2023-07-05.md
Owners: @akash-network/sig-support

Update 006-2023-07-11.md
  sig-community/meetings/006-2023-07-11.md
Owners: @akash-network/sig-community

Update 006-07-11.md
  sig-chain/meetings/006-07-11.md
Owners: @akash-network/sig-chain

Update 012-2023-07-05.md
  sig-support/meetings/012-2023-07-05.md
Owners: @akash-network/sig-support

Update and rename 004-2023-04-19.md to 004-2023-04-18.md
  wg-akash-website/meetings/004-2023-04-18.md
  wg-akash-website/meetings/004-2023-04-19.md
Owners: @akash-network/community-global

Update 007-2023-07-12.md
  sig-design/meetings/007-2023-07-12.md
Owners: @akash-network/community-global

Update 004-2023-04-18.md
  wg-akash-website/meetings/004-2023-04-18.md
Owners: @akash-network/community-global

wg-akash-website 004-2023-04-18.md (#177)
  wg-akash-website/meetings/004-2023-04-18.md
Owners: @akash-network/community-global

sig-support: Create 012-2023-07-05.md (#262)
  sig-support/meetings/012-2023-07-05.md
Owners: @akash-network/sig-support

sig-chain Create 005-2023-06-06.md (#267)
  sig-chain/meetings/005-2023-06-06.md
Owners: @akash-network/sig-chain

sig-chain Create 006-2023-07-11.md (#268)
  sig-chain/meetings/006-07-11.md
Owners: @akash-network/sig-chain

sig-community Create 006-2023-07-11.md (#269)
  sig-community/meetings/006-2023-07-11.md
Owners: @akash-network/sig-community

sig-design Create 007-2023-07-12.md (#270)
  sig-design/meetings/007-2023-07-12.md
Owners: @akash-network/community-global

sig-analytics Create 006-2023-07-12.md
  sig-analytics/meetings/006-2023-07-12.md
Owners: @akash-network/sig-analytics

Update 006-2023-07-12.md
  sig-analytics/meetings/006-2023-07-12.md
Owners: @akash-network/sig-analytics

Update 006-2023-07-12.md
  sig-analytics/meetings/006-2023-07-12.md
Owners: @akash-network/sig-analytics

Create 006-2023-06-21.md
  sig-clients/meetings/006-2023-06-21.md
Owners: @akash-network/sig-clients

Update README.md
  sig-clients/README.md
Owners: @akash-network/sig-clients

sig-clients Meeting 6 Notes (2023-06-21) (#273)
  sig-clients/README.md
  sig-clients/meetings/006-2023-06-21.md
Owners: @akash-network/sig-clients

Update README.md
  sig-support/README.md
Owners: @akash-network/sig-support

sig-support Create 013-2023-07-19.md
  sig-support/meetings/013-2023-07-19.md
Owners: @akash-network/sig-support

Update 013-2023-07-19.md
  sig-support/meetings/013-2023-07-19.md
Owners: @akash-network/sig-support

sig-clients Create 007-2023-07-19.md
  sig-clients/meetings/007-2023-07-19.md
Owners: @akash-network/sig-clients

Update README.md
  sig-economics/README.md
Owners: @akash-network/sig-economics

Create 006-2023-07-05.md
  sig-economics/meetings/006-2023-07-05.md
Owners: @akash-network/sig-economics

Update 013-2023-07-19.md
  sig-support/meetings/013-2023-07-19.md
Owners: @akash-network/sig-support

Update 006-2023-07-05.md
  sig-economics/meetings/006-2023-07-05.md
Owners: @akash-network/sig-economics

sig-documentation Create 007-2023-07-25.md
  sig-documentation/meetings/007-2023-07-25.md
Owners: @akash-network/sig-documentation

sig-docs: Update README.md
  sig-documentation/README.md
Owners: @akash-network/sig-documentation

sig-documentation Create 005-2023-05-23.md
  sig-documentation/meetings/005-2023-05-23.md
Owners: @akash-network/sig-documentation

sig-economics: add meeting 6 notes and update README (#277)
  sig-economics/README.md
  sig-economics/meetings/006-2023-07-05.md
Owners: @akash-network/sig-economics

sig-documentation: Update and rename wg-2023-05-10.md to wg-003-2023-05-10.md
  sig-documentation/meetings/wg-003-2023-05-10.md
  sig-documentation/meetings/wg-2023-05-10.md
Owners: @akash-network/sig-documentation

sig-docs: Update 007-2023-07-25.md
  sig-documentation/meetings/007-2023-07-25.md
Owners: @akash-network/sig-documentation

sig-clients: Update 007-2023-07-19.md
  sig-clients/meetings/007-2023-07-19.md
Owners: @akash-network/sig-clients

sig-providers: Update README.md
  sig-providers/README.md
Owners: @akash-network/sig-providers

sig-providers: Create 007-2023-07-26.md
  sig-providers/meetings/007-2023-07-26.md
Owners: @akash-network/sig-providers

sig-providers: Update 007-2023-07-26.md
  sig-providers/meetings/007-2023-07-26.md
Owners: @akash-network/sig-providers

Update 006-2023-06-29.md
  committee-steering/meetings/006-2023-06-29.md
Owners: @akash-network/community-global

committee-steering Update README.md
  committee-steering/README.md
Owners: @akash-network/community-global

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support
