Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

wg-akash-website: Rename 005-2023-06-13.md to 006-2023-06-13.md
  wg-akash-website/meetings/006-2023-06-13.md
Owners: @akash-network/community-global

wg-akash-website Update README.md
  wg-akash-website/README.md
Owners: @akash-network/community-global

wg-akash-website Update 005-2023-05-16.md
  wg-akash-website/meetings/005-2023-05-16.md
Owners: @akash-network/community-global

wg-akash-website Update README.md
  wg-akash-website/README.md
Owners: @akash-network/community-global

wg-akash-website Update README.md
  wg-akash-website/README.md
Owners: @akash-network/community-global

Create 008-2023-08-30.md
  committee-steering/meetings/008-2023-08-30.md
Owners: @akash-network/community-global

sig-support Create 016-2023-08-30.md
  sig-support/meetings/016-2023-08-30.md
Owners: @akash-network/sig-support

Update 016-2023-08-30.md
  sig-support/meetings/016-2023-08-30.md
Owners: @akash-network/sig-support

Update 016-2023-08-30.md
  sig-support/meetings/016-2023-08-30.md
Owners: @akash-network/sig-support

Create aup.md
  wg-content-moderation/aup.md
Owners: @akash-network/community-global

Create tos.md
  wg-content-moderation/tos.md
Owners: @akash-network/community-global

steering committee: Update 008-2023-08-30.md
  committee-steering/meetings/008-2023-08-30.md
Owners: @akash-network/community-global

sig-chain Update README.md
  sig-chain/README.md
Owners: @akash-network/sig-chain

sig-chain Create 008-2023-09-05.md
  sig-chain/meetings/008-2023-09-05.md
Owners: @akash-network/sig-chain

sig-chain Update 008-2023-09-05.md
  sig-chain/meetings/008-2023-09-05.md
Owners: @akash-network/sig-chain

Update 008-2023-08-30.md
  committee-steering/meetings/008-2023-08-30.md
Owners: @akash-network/community-global

Update 008-2023-08-30.md
  committee-steering/meetings/008-2023-08-30.md
Owners: @akash-network/community-global

sig-chain Update 008-2023-09-05.md
  sig-chain/meetings/008-2023-09-05.md
Owners: @akash-network/sig-chain

sig-support Update 016-2023-08-30.md
  sig-support/meetings/016-2023-08-30.md
Owners: @akash-network/sig-support

steering committee: Create 008-2023-08-30.md (#301)
  committee-steering/meetings/008-2023-08-30.md
Owners: @akash-network/community-global

sig-chain Create 008-2023-09-05.md (#305)
  sig-chain/meetings/008-2023-09-05.md
Owners: @akash-network/sig-chain

sig-support Create 016-2023-08-30.md (#302)
  sig-support/meetings/016-2023-08-30.md
Owners: @akash-network/sig-support

steering committee: Update README.md
  committee-steering/README.md
Owners: @akash-network/community-global

steering committee Update README.md
  committee-steering/README.md
Owners: @akash-network/community-global

steering committee Update 008-2023-08-30.md
  committee-steering/meetings/008-2023-08-30.md
Owners: @akash-network/community-global

sig-clients Update README.md
  sig-clients/README.md
Owners: @akash-network/sig-clients

sig-design Update README.md
  sig-design/README.md
Owners: @akash-network/community-global

sig-analytics Update 007-2023-08-11.md
  sig-analytics/meetings/007-2023-08-11.md
Owners: @akash-network/sig-analytics

sig-analytics Update README.md
  sig-analytics/README.md
Owners: @akash-network/sig-analytics

sig-support Update README.md
  sig-support/README.md
Owners: @akash-network/sig-support

sig-support Update README.md
  sig-support/README.md
Owners: @akash-network/sig-support

sig-support Create 017-2023-09-13.md
  sig-support/meetings/017-2023-09-13.md
Owners: @akash-network/sig-support

sig-economics - Create 008-2023-09-06.md
  sig-economics/meetings/008-2023-09-06.md
Owners: @akash-network/sig-economics

sig-economics Update README.md
  sig-economics/README.md
Owners: @akash-network/sig-economics

sig-support Update 017-2023-09-13.md
  sig-support/meetings/017-2023-09-13.md
Owners: @akash-network/sig-support

sig-docs Create 008-2023-08-22.md
  sig-documentation/meetings/008-2023-08-22.md
Owners: @akash-network/sig-documentation

sig-docs Update 008-2023-08-22.md
  sig-documentation/meetings/008-2023-08-22.md
Owners: @akash-network/sig-documentation

sig-docs Create 008-2023-08-22.md (#312)
  sig-documentation/meetings/008-2023-08-22.md
Owners: @akash-network/sig-documentation

sig-support Create 017-2023-09-13.md (#308)
  sig-support/meetings/017-2023-09-13.md
Owners: @akash-network/sig-support

sig-docs Update README.md
  sig-documentation/README.md
Owners: @akash-network/sig-documentation

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support
