Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support

Create meeting notes for sig-support #40 (#781)
  sig-support/meetings/040-2025-1-08.md
Owners: @akash-network/sig-support

sig-chain Update 021-2024-11-19.md
  sig-chain/meetings/021-2024-11-19.md
Owners: @akash-network/sig-chain

Create meeting notes for Sig-Chain 21# (#777)
  sig-chain/meetings/021-2024-11-19.md
Owners: @akash-network/sig-chain

Update 022-2024-12-17.md
  sig-chain/meetings/022-2024-12-17.md
Owners: @akash-network/sig-chain

Create meeting notes for sig-chain #22 (#778)
  sig-chain/meetings/022-2024-12-17.md
Owners: @akash-network/sig-chain

sig-design Update 024-2025-01-15.md
  sig-design/meetings/024-2025-01-15.md
Owners: @akash-network/community-global

Create meeting for sig design #24 (#784)
  sig-design/meetings/024-2025-01-15.md
Owners: @akash-network/community-global

sig-community Update 023-2025-01-14.md
  sig-community/meetings/023-2025-01-14.md
Owners: @akash-network/sig-community

Create meeting notes for sig-community #23 (#785)
  sig-community/meetings/023-2025-01-14.md
Owners: @akash-network/sig-community

sig-design Update 024-2025-01-15.md
  sig-design/meetings/024-2025-01-15.md
Owners: @akash-network/community-global

update readme table
  sig-chain/README.md
  sig-community/README.md
  sig-design/README.md
  sig-economics/README.md
  sig-support/README.md
  wg-Akash-youtube/README.md
  wg-Akash-youtube/meetings/004-2024-08-16.md
  wg-akash-website/README.md
  wg-zealy/README.md
Owners: @akash-network/sig-chain, @akash-network/sig-community, @akash-network/community-global, @akash-network/sig-economics, @akash-network/sig-support

update readme table
  sig-providers/README.md
Owners: @akash-network/sig-providers

Create meeting notes for Sig-providers #24
  sig-providers/meetings/024-2024-12-18.md
Owners: @akash-network/sig-providers

Create meeting notes for Sig-providers #24 (#790)
  sig-providers/meetings/024-2024-12-18.md
Owners: @akash-network/sig-providers

update readme table (#789)
  sig-chain/README.md
  sig-community/README.md
  sig-design/README.md
  sig-economics/README.md
  sig-providers/README.md
  sig-support/README.md
  wg-Akash-youtube/README.md
  wg-Akash-youtube/meetings/004-2024-08-16.md
  wg-akash-website/README.md
  wg-zealy/README.md
Owners: @akash-network/sig-chain, @akash-network/sig-community, @akash-network/community-global, @akash-network/sig-economics, @akash-network/sig-providers, @akash-network/sig-support

Create meeting notes for Sig-Providers #25
  sig-providers/meetings/025-2025-1-22.md
Owners: @akash-network/sig-providers

Create 039-2025-01-23.md
  wg-akash-website/meetings/039-2025-01-23.md
Owners: @akash-network/community-global

Create notes for Sig-Chain #23
  sig-chain/meetings/023-2025-01-14.md
Owners: @akash-network/sig-chain

Update 023-2025-01-14.md
  sig-chain/meetings/023-2025-01-14.md
Owners: @akash-network/sig-chain

Create notes for Sig-Chain #23 (#793)
  sig-chain/meetings/023-2025-01-14.md
Owners: @akash-network/sig-chain

Update 025-2025-1-22.md
  sig-providers/meetings/025-2025-1-22.md
Owners: @akash-network/sig-providers

Create meeting notes for Sig-Providers #25 (#791)
  sig-providers/meetings/025-2025-1-22.md
Owners: @akash-network/sig-providers

sig-economics Update README.md
  sig-economics/README.md
Owners: @akash-network/sig-economics

community-pool-spend-reporting
  community-pool-spend-reporting/README.md
Owners: @akash-network/community-global

community-pool-spend-reporting - add PIP02 dashboard (#799)
  community-pool-spend-reporting/README.md
Owners: @akash-network/community-global

Create meeting notes for steering committee #24
  committee-steering/meetings/024-2025-1-30.md
Owners: @akash-network/community-global

Create meeting notes wg-events #2
  002-2025-1-29.md
Owners: @akash-network/community-global

sig-chain Update README.md
  sig-chain/README.md
Owners: @akash-network/sig-chain

Create notes for sig-community #13
  sig-community/meetings/013-2024-03-12.md
Owners: @akash-network/sig-community

Create notes for Sig-community #15
  sig-community/meetings/015-2024-05-14.md
Owners: @akash-network/sig-community

Update README.md
  community-pool-spend-reporting/README.md
Owners: @akash-network/community-global

sig-clients Update README.md
  sig-clients/README.md
Owners: @akash-network/sig-clients

Create sig-community meeting #24
  sig-community/meetings/024-2025-02-11.md
Owners: @akash-network/sig-community

Create 024-2025-02-05.md
  sig-economics/meetings/024-2025-02-05.md
Owners: @akash-network/sig-economics

Create meeting notes for Sig-Design #25
  sig-design/meetings/025-2025-02-12.md
Owners: @akash-network/community-global

meeting notes for sig-analytics #16
  sig-analytics/meetings/016-2025-02-20.md
Owners: @akash-network/sig-analytics

Update README.md for community-pool-spend-reporting (#809)
  community-pool-spend-reporting/README.md
Owners: @akash-network/community-global

Update 016-2025-02-20.md
  sig-analytics/meetings/016-2025-02-20.md
Owners: @akash-network/sig-analytics

meeting notes for sig-analytics #16 (#817)
  sig-analytics/meetings/016-2025-02-20.md
Owners: @akash-network/sig-analytics

Update 024-2025-1-30.md
  committee-steering/meetings/024-2025-1-30.md
Owners: @akash-network/community-global
