Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

sig-economics rename meeting 001
  sig-economics/meetings/001-2023-02-01.md
Owners: @akash-network/sig-economics

chore: sig-documentationnotes for 002-2023-02-28.md
  sig-documentation/meetings/002-2023-02-28.md
Owners: @akash-network/sig-documentation

Update onchain-data-model.md
  sig-analytics/onchain-data-model.md
Owners: @akash-network/sig-analytics

fix minor typo
  sig-analytics/onchain-data-model.md
Owners: @akash-network/sig-analytics

[WIP] Analytics PRD + On-Chain data model/ schema (#67)
  sig-analytics/onchain-data-model.md
  sig-analytics/prd.md
Owners: @akash-network/sig-analytics

sig-economics, wg-economics-2.0 (#121)
  sig-economics/meetings/001-2023-02-01.md
  sig-economics/meetings/002-2023-03-01.md
  sig-economics/meetings/2-2023-03-01.md
  wg-economics-2.0/README.md
Owners: @akash-network/sig-economics, @akash-network/community-global

sig-clients meeting 2 002-2023-03-07.md created
  sig-chain/meetings/002-2023-03-07.md
Owners: @akash-network/sig-chain

update sig-clients 002-2023-03-07.md
  sig-chain/meetings/002-2023-03-07.md
Owners: @akash-network/sig-chain

committee-steering meeting 2 links added to meeting table
  committee-steering/README.md
Owners: @akash-network/community-global

wg-akash-website 002-2023-03-07.md created
  wg-akash-website/meetings/002-2023-03-07.md
Owners: @akash-network/community-global

Update README.md
  sig-clients/README.md
Owners: @akash-network/sig-clients

wg-akash-website 002-2023-0307.md notes phase 1
  wg-akash-website/meetings/002-2023-03-07.md
Owners: @akash-network/community-global

Update README.md (#125)
  sig-clients/README.md
Owners: @akash-network/sig-clients

sig-chain: 002-2023-03-07.md notes V1
  sig-chain/meetings/002-2023-03-07.md
Owners: @akash-network/sig-chain

Update 002-2023-02-28.md
  sig-documentation/meetings/002-2023-02-28.md
Owners: @akash-network/sig-documentation

wg-akash-website 002-2023-03-07.md add detail
  wg-akash-website/meetings/002-2023-03-07.md
Owners: @akash-network/community-global

sig-chain 002-2023-03-07.md updates
  sig-chain/meetings/002-2023-03-07.md
Owners: @akash-network/sig-chain

chore: sig-documentationnotes for 002-2023-02-28.md (#122)
  sig-documentation/meetings/002-2023-02-28.md
Owners: @akash-network/sig-documentation

sig-economics: add description & links to README
  sig-economics/README.md
Owners: @akash-network/sig-economics

sig-providers: meeting 2 details added to readme
  sig-providers/README.md
Owners: @akash-network/sig-providers

wg-content-moderation: meeting detail links updated
  wg-content-moderation/README.md
Owners: @akash-network/community-global

sig-chain: 002-2023-03-07.md add recording link
  sig-chain/meetings/002-2023-03-07.md
Owners: @akash-network/sig-chain

wg-akash-website: 002-2023-03-07.md add recording link
  wg-akash-website/meetings/002-2023-03-07.md
Owners: @akash-network/community-global

sig-design 003-2023-03-08.md notes created
  sig-design/meetings/003-2023-03-08.md
Owners: @akash-network/community-global

sig-design 003-2023-03-08.md notes created (#129)
  sig-design/meetings/003-2023-03-08.md
Owners: @akash-network/community-global

wg-content-moderation: meeting detail links updated (#128)
  wg-content-moderation/README.md
Owners: @akash-network/community-global

sig-economics: add description & links to README (#126)
  sig-economics/README.md
Owners: @akash-network/sig-economics

sig-providers: meeting 2 details added to readme (#127)
  sig-providers/README.md
Owners: @akash-network/sig-providers

sig-chain: comment updates to 002-2023-03-07.md
  sig-chain/meetings/002-2023-03-07.md
Owners: @akash-network/sig-chain

wg-content-moderation 005-2023-02-28.md updated notes (#116)
  wg-content-moderation/meetings/05-2023-02-28.md
Owners: @akash-network/community-global

sig-design 003-2023-03-08.md updates
  sig-design/meetings/003-2023-03-08.md
Owners: @akash-network/community-global

sig-analytics: 002-2023-03-09.md notes created
  sig-analytics/meetings/002-2023-03-09.md
Owners: @akash-network/sig-analytics

updated 002-2023-03-09.md
  sig-analytics/meetings/002-2023-03-09.md
Owners: @akash-network/sig-analytics

sig-analytics: 002-2023-03-09.md detailed meeting notes
  sig-analytics/meetings/002-2023-03-09.md
Owners: @akash-network/sig-analytics

sig-analytics: 002-2023-03-09.md updates
  sig-analytics/meetings/002-2023-03-09.md
Owners: @akash-network/sig-analytics

fixed errors and added context to notes/ actions
  sig-analytics/meetings/002-2023-03-09.md
Owners: @akash-network/sig-analytics

add participants
  sig-analytics/meetings/002-2023-03-09.md
Owners: @akash-network/sig-analytics

sig-analytics: 002-2023-03-09.md notes created (#131)
  sig-analytics/meetings/002-2023-03-09.md
Owners: @akash-network/sig-analytics

sig-chain meeting 2 002-2023-03-07.md created (#123)
  sig-chain/meetings/002-2023-03-07.md
Owners: @akash-network/sig-chain

sig-design 003-2023-03-08.md updates (#130)
  sig-design/meetings/003-2023-03-08.md
Owners: @akash-network/community-global

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support
