Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

sig-economics Update README.md
  sig-economics/README.md
Owners: @akash-network/sig-economics

update readme tables
  sig-design/README.md
  sig-documentation/README.md
  sig-support/README.md
  sig-support/meetings/029-2024-03-20.md
  wg-akash-website/README.md
Owners: @akash-network/community-global, @akash-network/sig-documentation, @akash-network/sig-support

sig-support Update README.md
  sig-support/README.md
Owners: @akash-network/sig-support

sig-support Update README.md
  sig-support/README.md
Owners: @akash-network/sig-support

Update 015-2024-05-02.md
  committee-steering/meetings/015-2024-05-02.md
Owners: @akash-network/community-global

steering committee- Create 015-2024-05-02 (#583)
  committee-steering/meetings/015-2024-05-02.md
Owners: @akash-network/community-global

steering committee Update 015-2024-05-02.md
  committee-steering/meetings/015-2024-05-02.md
Owners: @akash-network/community-global

steering committee Update README.md
  committee-steering/README.md
Owners: @akash-network/community-global

sig-support Update README.md
  sig-support/README.md
Owners: @akash-network/sig-support

Create meeting notes for Sig-design #17
  sig-design/meetings/017-2024-05-17.md
Owners: @akash-network/community-global

Create meeting notes for wg-website #30
  wg-akash-website/meetings/030-2024-05-16.md
Owners: @akash-network/community-global

Create meeting notes for sig-clients #14
  sig-clients/meetings/014-2024-03-27.md
Owners: @akash-network/sig-clients

Create meeting notes for sig-community #16
  sig-community/meetings/016-2024-06-11.md
Owners: @akash-network/sig-community

wg-provider-audits Update README.md
  wg-provider-audit/README.md
Owners: @akash-network/community-global

Create meeting notes for Sig-design #17
  sig-design/meetings/017-2024-06-12.md
Owners: @akash-network/community-global

Create meeting notes for wg-website #31
  wg-akash-website/meetings/031-2024-06-13.md
Owners: @akash-network/community-global

Update 014-2024-03-27.md
  sig-clients/meetings/014-2024-03-27.md
Owners: @akash-network/sig-clients

Create meeting notes for sig-clients #14 (#600)
  sig-clients/meetings/014-2024-03-27.md
Owners: @akash-network/sig-clients

sig-clients Update README.md
  sig-clients/README.md
Owners: @akash-network/sig-clients

update readme tables (#594)
  sig-design/README.md
  sig-documentation/README.md
  sig-support/README.md
  sig-support/meetings/029-2024-03-20.md
  wg-akash-website/README.md
Owners: @akash-network/community-global, @akash-network/sig-documentation, @akash-network/sig-support

Create meeting notes for sig-chain #16
  sig-chain/meetings/016-2024-05-21.md
Owners: @akash-network/sig-chain

Create meeting notes for Sig-chain #17
  sig-chain/meetings/017-2024-06-11.md
Owners: @akash-network/sig-chain

sig-clients Update README.md
  sig-clients/README.md
Owners: @akash-network/sig-clients

Update README.md
  sig-clients/README.md
Owners: @akash-network/sig-clients

Create meeting notes for sig providers #16 (#592)
  sig-providers/meetings/016-2024-04-24.md
Owners: @akash-network/sig-providers

Create meeting notes for Sig-providers #15 (#591)
  sig-providers/meetings/015-2024-03-27.md
Owners: @akash-network/sig-providers

sig-providers Update README.md
  sig-providers/README.md
Owners: @akash-network/sig-providers

steering committee Create 016-2024-05-06.md
  committee-steering/meetings/016-2024-05-06.md
Owners: @akash-network/community-global

Update 016-2024-05-06.md
  committee-steering/meetings/016-2024-05-06.md
Owners: @akash-network/community-global

Update 016-2024-05-06.md
  committee-steering/meetings/016-2024-05-06.md
Owners: @akash-network/community-global

Update 016-2024-05-06.md
  committee-steering/meetings/016-2024-05-06.md
Owners: @akash-network/community-global

steering committee Create 016-2024-05-06.md (#613)
  committee-steering/meetings/016-2024-05-06.md
Owners: @akash-network/community-global

Rename 016-2024-05-06.md to 016-2024-06-06.md
  committee-steering/meetings/016-2024-06-06.md
Owners: @akash-network/community-global

Update 015-2024-05-02.md
  committee-steering/meetings/015-2024-05-02.md
Owners: @akash-network/community-global

Update steering committee README.md
  committee-steering/README.md
Owners: @akash-network/community-global

Update steering committee README.md
  committee-steering/README.md
Owners: @akash-network/community-global

Update steering committee README.md
  committee-steering/README.md
Owners: @akash-network/community-global

Create meeting notes for Sig-providers #17
  sig-providers/meetings/017-2024-05-22.md
Owners: @akash-network/sig-providers

Create meeting notes for sig-economics #17
  sig-economics/meetings/017-2024-06-18.md
Owners: @akash-network/sig-economics

Create meeting notes for wg-provider-audits #2
  wg-provider-audit/meetings/002-2024-06-13.md
Owners: @akash-network/community-global

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support
