Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

update readme table (#1117)
  sig-chain/README.md
  sig-clients/README.md
  sig-community/README.md
  sig-providers/README.md
  sig-support/README.md
  wg-events/README.md
Owners: @akash-network/sig-chain, @akash-network/sig-clients, @akash-network/sig-community, @akash-network/sig-providers, @akash-network/sig-support, @akash-network/community-global

meeting notes wg-website-August 14
  wg-akash-website/meetings/2025-08-14.md
Owners: @akash-network/community-global

meeting notes #34 steering committee
  committee-steering/meetings/034-2025-12-04.md
Owners: @akash-network/community-global

meeting notes wg-websit December 4th, 2025
  wg-akash-website/meetings/2025-12-04.md
Owners: @akash-network/community-global

Update sig-clients README.md
  sig-clients/README.md
Owners: @akash-network/sig-clients

meeting notes sig-providers #35
  sig-providers/meetings/035-2025-11-26.md
Owners: @akash-network/sig-providers

meeting notes sig design #30
  sig-design/meetings/030-2025-12-16.md
Owners: @akash-network/community-global

Update 030-2025-12-16.md
  sig-design/meetings/030-2025-12-16.md
Owners: @akash-network/community-global

meeting notes sig-economics #34
  sig-economics/meetings/034-2025-12-10.md
Owners: @akash-network/sig-economics

Update 034-2025-12-04.md
  committee-steering/meetings/034-2025-12-04.md
Owners: @akash-network/community-global

meeting notes #34 steering committee (#1129)
  committee-steering/meetings/034-2025-12-04.md
Owners: @akash-network/community-global

Update 033-2025-11-12.md
  sig-community/meetings/033-2025-11-12.md
Owners: @akash-network/sig-community

meeting notes sig-community #33 (#1110)
  sig-community/meetings/033-2025-11-12.md
Owners: @akash-network/sig-community

meeting notes Sig-community #34
  sig-community/meetings/034-2025-12-09.md
Owners: @akash-network/sig-community

meeting notes sig providers #35
  sig-providers/meetings/035-2025-12-17.md
Owners: @akash-network/sig-providers

Update 034-2025-12-10.md
  sig-economics/meetings/034-2025-12-10.md
Owners: @akash-network/sig-economics

sig-providers Update 035-2025-12-17.md
  sig-providers/meetings/035-2025-12-17.md
Owners: @akash-network/sig-providers

meeting notes sig providers #35 (#1144)
  sig-providers/meetings/035-2025-12-17.md
Owners: @akash-network/sig-providers

Update 035-2025-11-26.md
  sig-providers/meetings/035-2025-11-26.md
Owners: @akash-network/sig-providers

meeting notes sig-providers #35 (#1133)
  sig-providers/meetings/035-2025-11-26.md
Owners: @akash-network/sig-providers

meeting notes sig-economics #34 (#1142)
  sig-economics/meetings/034-2025-12-10.md
Owners: @akash-network/sig-economics

Update sig-design 030-2025-12-16.md
  sig-design/meetings/030-2025-12-16.md
Owners: @akash-network/community-global

meeting notes sig design #30 (#1141)
  sig-design/meetings/030-2025-12-16.md
Owners: @akash-network/community-global

Update 034-2025-12-09.md
  sig-community/meetings/034-2025-12-09.md
Owners: @akash-network/sig-community

meeting notes Sig-community #34 (#1143)
  sig-community/meetings/034-2025-12-09.md
Owners: @akash-network/sig-community

meeting notes Sig-support #50
  sig-support/meetings/050-2025-11-26.md
Owners: @akash-network/sig-support

meeting notes sig-support #51
  sig-support/meetings/051-2025-12-17.md
Owners: @akash-network/sig-support

meeting notes sig-client #24
  sig-clients/meetings/024-2025-12-16.md
Owners: @akash-network/sig-clients

Update 024-2025-12-16.md
  sig-clients/meetings/024-2025-12-16.md
Owners: @akash-network/sig-clients

update readme table
  committee-steering/README.md
  sig-analytics/README.md
  sig-chain/README.md
  sig-clients/README.md
  sig-community/README.md
  sig-design/README.md
  sig-documentation/README.md
  sig-economics/README.md
  sig-economics/meetings/033-2025-12-10.md
  sig-providers/README.md
  sig-support/README.md
Owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-clients, @akash-network/sig-community, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-providers, @akash-network/sig-support

update readme table
  sig-community/README.md
  sig-economics/README.md
Owners: @akash-network/sig-community, @akash-network/sig-economics

Update README.md
  sig-economics/README.md
Owners: @akash-network/sig-economics

update readme table (#1149)
  committee-steering/README.md
  sig-analytics/README.md
  sig-chain/README.md
  sig-clients/README.md
  sig-community/README.md
  sig-design/README.md
  sig-documentation/README.md
  sig-economics/README.md
  sig-economics/meetings/033-2025-12-10.md
  sig-providers/README.md
  sig-support/README.md
Owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-clients, @akash-network/sig-community, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-providers, @akash-network/sig-support

Update 050-2025-11-26.md
  sig-support/meetings/050-2025-11-26.md
Owners: @akash-network/sig-support

meeting notes Sig-support #50 (#1145)
  sig-support/meetings/050-2025-11-26.md
Owners: @akash-network/sig-support

Update 051-2025-12-17.md
  sig-support/meetings/051-2025-12-17.md
Owners: @akash-network/sig-support

meeting notes sig-support #51 (#1146)
  sig-support/meetings/051-2025-12-17.md
Owners: @akash-network/sig-support

Update 024-2025-12-16.md
  sig-clients/meetings/024-2025-12-16.md
Owners: @akash-network/sig-clients

meeting notes sig-client #24 (#1147)
  sig-clients/meetings/024-2025-12-16.md
Owners: @akash-network/sig-clients

Update steering committee README.md
  committee-steering/README.md
Owners: @akash-network/community-global

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support
