Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

sig-analytics Create 010-2023-12-14.md (#420)
  sig-analytics/meetings/010-2023-12-14.md
Owners: @akash-network/sig-analytics

sig-analytics Update README.md
  sig-analytics/README.md
Owners: @akash-network/sig-analytics

sig-support Update 025-2024-01-10.md
  sig-support/meetings/025-2024-01-10.md
Owners: @akash-network/sig-support

Rename tos.md to suggested-tos.md
  wg-content-moderation/suggested-tos.md
Owners: @akash-network/community-global

Rename aup.md to suggested-aup.md
  wg-content-moderation/suggested-aup.md
Owners: @akash-network/community-global

Create 013-2024-01-10.md
  sig-design/meetings/013-2024-01-10.md
Owners: @akash-network/community-global

Create meeting notes for wg-website #22
  wg-akash-website/meetings/022-2024-01-04.md
Owners: @akash-network/community-global

sig-clients Update README.md
  sig-clients/README.md
Owners: @akash-network/sig-clients

Create meeting notes for wg-website #23
  wg-akash-website/meetings/023-2024-01-05.md
Owners: @akash-network/community-global

Create 012-2024-01-10.md
  sig-economics/meetings/012-2024-01-10.md
Owners: @akash-network/sig-economics

sig-economics - Update README.md
  sig-economics/README.md
Owners: @akash-network/sig-economics

sig-clients Create 011-2023-12-18.md (#426)
  sig-clients/meetings/011-2023-12-18.md
Owners: @akash-network/sig-clients

steering-committee Update README.md
  committee-steering/README.md
Owners: @akash-network/community-global

sig-economics: create meeting 12 notes and update README. (#452)
  sig-economics/README.md
  sig-economics/meetings/012-2024-01-10.md
Owners: @akash-network/sig-economics

Additional notes for Sig-client #11
  sig-clients/meetings/011-2023-12-18.md
Owners: @akash-network/sig-clients

sig-support Update README.md
  sig-support/README.md
Owners: @akash-network/sig-support

sig-supportCreate 026-2024-01-24.md
  sig-support/meetings/026-2024-01-24.md
Owners: @akash-network/sig-support

sig-support Update 026-2024-01-24.md
  sig-support/meetings/026-2024-01-24.md
Owners: @akash-network/sig-support

Additional notes for Sig-client #11 (#459)
  sig-clients/meetings/011-2023-12-18.md
Owners: @akash-network/sig-clients

Add provider audit template
  .github/ISSUE_TEMPLATE/-provider-audit--template.md
  .github/ISSUE_TEMPLATE/akash-wg-gpu-testnet-md.md
Owners: @akash-network/community-global

Update README.md
  committee-steering/README.md
Owners: @akash-network/community-global

Update Steering Comittee README.md (#465)
  committee-steering/README.md
Owners: @akash-network/community-global

wg-akash-website Update 023-2024-01-05.md
  wg-akash-website/meetings/023-2024-01-05.md
Owners: @akash-network/community-global

wg-akash-website Update 022-2024-01-04.md
  wg-akash-website/meetings/022-2024-01-04.md
Owners: @akash-network/community-global

Update 022-2024-01-04.md
  wg-akash-website/meetings/022-2024-01-04.md
Owners: @akash-network/community-global

Create meeting notes for wg-website #22 (#446)
  wg-akash-website/meetings/022-2024-01-04.md
Owners: @akash-network/community-global

sig-support Update 025-2024-01-10.md
  sig-support/meetings/025-2024-01-10.md
Owners: @akash-network/sig-support

sig-support Create 025-2024-01-10.md (#444)
  sig-support/meetings/025-2024-01-10.md
Owners: @akash-network/sig-support

Update 026-2024-01-24.md
  sig-support/meetings/026-2024-01-24.md
Owners: @akash-network/sig-support

Update 026-2024-01-24.md
  sig-support/meetings/026-2024-01-24.md
Owners: @akash-network/sig-support

sig-support Create 026-2024-01-24.md (#460)
  sig-support/meetings/026-2024-01-24.md
Owners: @akash-network/sig-support

Update 023-2024-01-05.md
  wg-akash-website/meetings/023-2024-01-05.md
Owners: @akash-network/community-global

Create meeting notes for wg-website #23 (#449)
  wg-akash-website/meetings/023-2024-01-05.md
Owners: @akash-network/community-global

sig-design Update 013-2024-01-10.md
  sig-design/meetings/013-2024-01-10.md
Owners: @akash-network/community-global

Create Meeting notes for sig-Design #13 (#445)
  sig-design/meetings/013-2024-01-10.md
Owners: @akash-network/community-global

create meeting notes for Sig-lients
  sig-clients/meetings/012-2024-01-17.md
Owners: @akash-network/sig-clients

steering-committee Create 012-2024-01-25.md
  committee-steering/meetings/2024-01-25.md
Owners: @akash-network/community-global

Rename 2024-01-25.md to 012-2024-01-25.md
  committee-steering/meetings/012-2024-01-25.md
Owners: @akash-network/community-global

Create meeting notes for Sig-Clients #12 (#468)
  sig-clients/meetings/012-2024-01-17.md
Owners: @akash-network/sig-clients

sig-client Update 012-2024-01-17.md
  sig-clients/meetings/012-2024-01-17.md
Owners: @akash-network/sig-clients

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support
