Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

Create 009-2023-10-04.md
  sig-economics/meetings/009-2023-10-04.md
Owners: @akash-network/sig-economics

Update README.md
  sig-economics/README.md
Owners: @akash-network/sig-economics

sig-analytics Create 009-2023-10-12.md (#330)
  sig-analytics/meetings/009-2023-10-12.md
Owners: @akash-network/sig-analytics

Update 007-2023-06-27.md
  wg-akash-website/meetings/007-2023-06-27.md
Owners: @akash-network/community-global

Update 006-2023-07-11.md (#331)
  sig-community/meetings/006-2023-07-11.md
Owners: @akash-network/sig-community

Update 004-2023-05-9.md
  sig-community/meetings/004-2023-05-9.md
Owners: @akash-network/sig-community

sig-economics: Add meeting 9 and update README (#346)
  sig-economics/README.md
  sig-economics/meetings/009-2023-10-04.md
Owners: @akash-network/sig-economics

sig-analytics Update 009-2023-10-12.md
  sig-analytics/meetings/009-2023-10-12.md
Owners: @akash-network/sig-analytics

sig-design Update 010-2023-10-11.md
  sig-design/meetings/010-2023-10-11.md
Owners: @akash-network/community-global

Update 019-2023-10-11.md
  sig-support/meetings/019-2023-10-11.md
Owners: @akash-network/sig-support

Update 010-2023-08-24.md
  wg-akash-website/meetings/010-2023-08-24.md
Owners: @akash-network/community-global

Create meeting notes for wg-website #10 (#324)
  wg-akash-website/meetings/010-2023-08-24.md
Owners: @akash-network/community-global

wg-akash-website Update 009-2023-08-17.md
  wg-akash-website/meetings/009-2023-08-17.md
Owners: @akash-network/community-global

Update 009-2023-08-17.md
  wg-akash-website/meetings/009-2023-08-17.md
Owners: @akash-network/community-global

Create meeting notes for wg-Akash-website #9 (#320)
  wg-akash-website/meetings/009-2023-08-17.md
Owners: @akash-network/community-global

wg-akash-website Update 007-2023-06-27.md
  wg-akash-website/meetings/007-2023-06-27.md
Owners: @akash-network/community-global

Create notes for wg-website meeting #7 (#319)
  wg-akash-website/meetings/007-2023-06-27.md
Owners: @akash-network/community-global

Update 008-2023-09-26.md
  sig-documentation/meetings/008-2023-09-26.md
Owners: @akash-network/sig-documentation

Update 004-2023-05-9.md
  sig-community/meetings/004-2023-05-9.md
Owners: @akash-network/sig-community

Create meeting notes for Sig-community #4 (#316)
  sig-community/meetings/004-2023-05-9.md
Owners: @akash-network/sig-community

Update 005-2023-06-13.md
  sig-community/meetings/005-2023-06-13.md
Owners: @akash-network/sig-community

Create meeting notes for sig-community #5 (#317)
  sig-community/meetings/005-2023-06-13.md
Owners: @akash-network/sig-community

Create meeting notes for sig analytics #8
  sig-analytics/meetings/008-2023-09-14.md
Owners: @akash-network/sig-analytics

sig-clients Create 009-2023-09-20.md
  sig-clients/meetings/009-2023-09-20.md
Owners: @akash-network/sig-clients

Update 007-2023-08-08.md
  sig-community/meetings/007-2023-08-08.md
Owners: @akash-network/sig-community

sig-clients Create 010-2023-10-18.md
  sig-clients/meetings/010-2023-10-18.md
Owners: @akash-network/sig-clients

Create meeting notes for sig-community #7 (#318)
  sig-community/meetings/007-2023-08-08.md
Owners: @akash-network/sig-community

sig-community Update README.md
  sig-community/README.md
Owners: @akash-network/sig-community

sig-clients Update 009-2023-09-20.md
  sig-clients/meetings/009-2023-09-20.md
Owners: @akash-network/sig-clients

wg-akash-website Update 008-2023-08-10.md
  wg-akash-website/meetings/008-2023-08-10.md
Owners: @akash-network/community-global

Create meeting notes for wg-Akash-website #8 (#329)
  wg-akash-website/meetings/008-2023-08-10.md
Owners: @akash-network/community-global

sig-analytics Update 008-2023-09-14.md
  sig-analytics/meetings/008-2023-09-14.md
Owners: @akash-network/sig-analytics

Create meeting notes for sig analytics #8 (#347)
  sig-analytics/meetings/008-2023-09-14.md
Owners: @akash-network/sig-analytics

sig-design Update 010-2023-10-11.md
  sig-design/meetings/010-2023-10-11.md
Owners: @akash-network/community-global

sig-analytics Update README.md
  sig-analytics/README.md
Owners: @akash-network/sig-analytics

sig-design Create 010-2023-10-11.md (#327)
  sig-design/meetings/010-2023-10-11.md
Owners: @akash-network/community-global

sig-docs Update 008-2023-09-26.md
  sig-documentation/meetings/008-2023-09-26.md
Owners: @akash-network/sig-documentation

Create meeting notes for sig-Clients #8
  sig-clients/meetings/008-2023-08-16.md
Owners: @akash-network/sig-clients

Update 008-2023-08-16.md
  sig-clients/meetings/008-2023-08-16.md
Owners: @akash-network/sig-clients

Update wg-website README table
  wg-akash-website/README.md
Owners: @akash-network/community-global

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support
