Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support

meeting notes sig-support #54
  sig-support/meetings/054-2026-03-18.md
Owners: @akash-network/sig-support

meeting notes wg-website March 12th, 2026
  wg-akash-website/meetings/2026-03-12.md
Owners: @akash-network/community-global

meeting notes sig-providers #38
  sig-providers/meetings/038-2026-03-25.md
Owners: @akash-network/sig-providers

chore: update audit spec
  audit/README.md
Owners: @akash-network/community-global

chore: update audit spec (#1323)
  audit/README.md
Owners: @akash-network/community-global

meeting notes sig-community #37 (#1256)
  sig-community/meetings/037-2026-03-10.md
Owners: @akash-network/sig-community

meeting notes sig-design £#32 (#1257)
  sig-design/meetings/032-2026-03-18.md
Owners: @akash-network/community-global

meeting notes sig-economics #35 (#1259)
  sig-economics/meetings/035-2026-03-11.md
Owners: @akash-network/sig-economics

meeting notes sig-support #54 (#1260)
  sig-support/meetings/054-2026-03-18.md
Owners: @akash-network/sig-support

meeting notes wg-website March 12th, 2026 (#1263)
  wg-akash-website/meetings/2026-03-12.md
Owners: @akash-network/community-global

meeting notes sig-providers #38 (#1283)
  sig-providers/meetings/038-2026-03-25.md
Owners: @akash-network/sig-providers

meeting notes sig-chain #33 (#1258)
  sig-chain/meetings/033-2026-03-10.md
Owners: @akash-network/sig-chain

meeting notes steering committee #38
  committee-steering/meetings/038-2026-03-26.md
Owners: @akash-network/community-global

Meeting notes sig-community #38
  sig-community/meetings/038-2026-04-14.md
Owners: @akash-network/sig-community

meeting notes signed economics #36
  sig-economics/meetings/036-2026-04-28.md
Owners: @akash-network/sig-economics

ci: bump repository-dispatch to v3 and document WORKFLOW_PAT rotation
  .github/workflows/SECRETS.md
  .github/workflows/akash-network-website-update.yml
Owners: @akash-network/community-global

ci: move SECRETS.md out of workflows/ to avoid workflow-scope push restriction
  .github/SECRETS.md
  .github/workflows/akash-network-website-update.yml
Owners: @akash-network/community-global

ci: fix expired WORKFLOW_PAT failure and modernize website dispatcher (#1346)
  .github/SECRETS.md
  .github/workflows/akash-network-website-update.yml
Owners: @akash-network/community-global

meeting notes steering committee #38 (#1337)
  committee-steering/meetings/038-2026-03-26.md
Owners: @akash-network/community-global

meeting notes sig-providers #39
  sig-providers/meetings/039-2026-04-22.md
Owners: @akash-network/sig-providers

meeting notes sig-support #55
  sig-support/meetings/055-2026-04-22.md
Owners: @akash-network/sig-support

Update README with report link for proposal 314
  community-pool-spend-reporting/README.md
Owners: @akash-network/community-global

Add meeting recording link for April 22, 2026
  sig-providers/meetings/039-2026-04-22.md
Owners: @akash-network/sig-providers

meeting notes sig-providers #39 (#1347)
  sig-providers/meetings/039-2026-04-22.md
Owners: @akash-network/sig-providers

Add recording link for April 28, 2026 meeting
  sig-economics/meetings/036-2026-04-28.md
Owners: @akash-network/sig-economics

meeting notes sig economics #36 (#1345)
  sig-economics/meetings/036-2026-04-28.md
Owners: @akash-network/sig-economics

Add meeting recording link for April 14, 2026
  sig-community/meetings/038-2026-04-14.md
Owners: @akash-network/sig-community

Meeting notes sig-community #38 (#1343)
  sig-community/meetings/038-2026-04-14.md
Owners: @akash-network/sig-community

meeting notes steering committee #39
  committee-steering/meetings/039-2026-04-30.md
Owners: @akash-network/community-global

Add meeting recording link for April 22, 2026
  sig-support/meetings/055-2026-04-22.md
Owners: @akash-network/sig-support

meeting notes sig-support #55 (#1348)
  sig-support/meetings/055-2026-04-22.md
Owners: @akash-network/sig-support

meeting notes sig-design #26
  sig-clients/meetings/026-2026-04-21.md
Owners: @akash-network/sig-clients

Add links to reports for proposals 312 and 313
  community-pool-spend-reporting/README.md
Owners: @akash-network/community-global

Update 039-2026-04-30.md
  committee-steering/meetings/039-2026-04-30.md
Owners: @akash-network/community-global

meeting notes steering committee #39 (#1377)
  committee-steering/meetings/039-2026-04-30.md
Owners: @akash-network/community-global

update readme table
  committee-steering/README.md
  sig-chain/README.md
  sig-clients/README.md
  sig-community/README.md
  sig-community/meetings/037-2026-03-10.md
  sig-design/README.md
  sig-economics/README.md
  sig-providers/README.md
  sig-support/README.md
  sig-support/meetings/054-2026-03-18.md
  wg-akash-website/meetings/2025-02-20.md
Owners: @akash-network/community-global, @akash-network/sig-chain, @akash-network/sig-clients, @akash-network/sig-community, @akash-network/sig-economics, @akash-network/sig-providers, @akash-network/sig-support

update readme table (#1401)
  committee-steering/README.md
  sig-chain/README.md
  sig-clients/README.md
  sig-community/README.md
  sig-community/meetings/037-2026-03-10.md
  sig-design/README.md
  sig-economics/README.md
  sig-providers/README.md
  sig-support/README.md
  sig-support/meetings/054-2026-03-18.md
  wg-akash-website/meetings/2025-02-20.md
Owners: @akash-network/community-global, @akash-network/sig-chain, @akash-network/sig-clients, @akash-network/sig-community, @akash-network/sig-economics, @akash-network/sig-providers, @akash-network/sig-support

Revise meeting dates and links in README.md
  committee-steering/README.md
Owners: @akash-network/community-global

meeting notes sig-community #39
  sig-community/meetings/039-2026-05-12.md
Owners: @akash-network/sig-community

meeting notes sig-economics #37
  sig-economics/meetings/037-2026-05-20.md
Owners: @akash-network/sig-economics
