Repository akash-network/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-network/community-global, @akash-network/sig-analytics, @akash-network/sig-chain, @akash-network/sig-community, @akash-network/sig-clients, @akash-network/sig-deployments, @akash-network/sig-documentation, @akash-network/sig-economics, @akash-network/sig-education, @akash-network/sig-network-upgrades, @akash-network/sig-providers, @akash-network/sig-support

Create meeting notes for wg-Akash-website #14 (#361)
  wg-akash-website/meetings/014-2023-10-26.md
Owners: @akash-network/community-global

Update 008-2023-10-10.md
  sig-community/meetings/008-2023-10-10.md
Owners: @akash-network/sig-community

Create meeting notes for sig-community #8 (#359)
  sig-community/meetings/008-2023-10-10.md
Owners: @akash-network/sig-community

Create meeting notes for Sig-documentation #10
  sig-documentation/meetings/010-2023-10-24.md
Owners: @akash-network/sig-documentation

sig-support Create 020-2023-10-25.md (#357)
  sig-support/meetings/020-2023-10-25.md
Owners: @akash-network/sig-support

Update Projects List ahead of SC meeting
  projects-list/README.md
Owners: @akash-network/community-global

Update Projects List ahead of SC meeting (#368)
  projects-list/README.md
Owners: @akash-network/community-global

steering committee Create 010-2023-11-01.md
  committee-steering/meetings/010-2023-11-01.md
Owners: @akash-network/community-global

Update 010-2023-10-24.md
  sig-documentation/meetings/010-2023-10-24.md
Owners: @akash-network/sig-documentation

Update 010-2023-11-01.md
  committee-steering/meetings/010-2023-11-01.md
Owners: @akash-network/community-global

Update 010-2023-11-01.md
  committee-steering/meetings/010-2023-11-01.md
Owners: @akash-network/community-global

Update 020-2023-10-25.md
  sig-support/meetings/020-2023-10-25.md
Owners: @akash-network/sig-support

sig-support Create 021-2023-11-08.md
  sig-support/meetings/021-2023-11-08.md
Owners: @akash-network/sig-support

sig-chain Create 011-2023-11-08.md
  sig-chain/meetings/011-2023-11-08.md
Owners: @akash-network/sig-chain

sig-analytics Update README.md
  sig-analytics/README.md
Owners: @akash-network/sig-analytics

Update sig-design README table
  sig-design/README.md
Owners: @akash-network/community-global

Update 010-2023-11-01.md
  committee-steering/meetings/010-2023-11-01.md
Owners: @akash-network/community-global

Update sig-design README table (#375)
  sig-design/README.md
Owners: @akash-network/community-global

Update 010-2023-10-25.md
  sig-providers/meetings/010-2023-10-25.md
Owners: @akash-network/sig-providers

Create 010-2023-11-01.md
  sig-economics/meetings/010-2023-11-01.md
Owners: @akash-network/sig-economics

Update README.md
  sig-economics/README.md
Owners: @akash-network/sig-economics

steering committee Create 010-2023-11-01.md (#369)
  committee-steering/meetings/010-2023-11-01.md
Owners: @akash-network/community-global

sig-providers Create 010-2023-10-25.md (#358)
  sig-providers/meetings/010-2023-10-25.md
Owners: @akash-network/sig-providers

sig-economics: add meeting 10 notes and update README. (#376)
  sig-economics/README.md
  sig-economics/meetings/010-2023-11-01.md
Owners: @akash-network/sig-economics

Update wg-website README table
  wg-akash-website/README.md
Owners: @akash-network/community-global

Create meeting notes for wg-website #12
  wg-akash-website/meetings/012-2023-10-12.md
Owners: @akash-network/community-global

create meeting notes for wg-events-2024 #1
  wg-events/meetings-2023/wg-events-001-2023-02-17.md
  wg-events/meetings-2023/wg-events-002-2023-04-14.md
  wg-events/meetings-2024/001-2023-10-25.md
Owners: @akash-network/community-global

Cretae meeting notes for wg-website #12
  wg-akash-website/meetings/012-2023-10-12.md
Owners: @akash-network/community-global

Create meeting notes for wg-website #12
  wg-akash-website/meetings/012-2023-10-12.md
Owners: @akash-network/community-global

Create meeting notes for Sig-Documentation #10
  sig-documentation/meetings/010-2023-10-24.md
Owners: @akash-network/sig-documentation

additional notes to sig-providers #10
  sig-providers/meetings/010-2023-10-25.md
Owners: @akash-network/sig-providers

Update wg-website README table
  wg-akash-website/README.md
Owners: @akash-network/community-global

Update wg-website README table (#385)
  wg-akash-website/README.md
Owners: @akash-network/community-global

Update 010-2023-10-25.md
  sig-providers/meetings/010-2023-10-25.md
Owners: @akash-network/sig-providers

Create meeting notes for wg-website #15
  wg-akash-website/meetings/015-2023-11-02.md
Owners: @akash-network/community-global

Create meeting notes for Sig-community #9
  sig-community/meetings/009-2023-11-15.md
Owners: @akash-network/sig-community

Create meeting notes for Sig-Community #9
  sig-community/meetings/009-2023-11-15.md
Owners: @akash-network/sig-community

Update README.md
  wg-akash-website/README.md
Owners: @akash-network/community-global

sig-support Create 022-2023-11-22.md
  sig-support/meetings/022-2023-11-22.md
Owners: @akash-network/sig-support

Update 022-2023-11-22.md
  sig-support/meetings/022-2023-11-22.md
Owners: @akash-network/sig-support

.github/CODEOWNERS:

* @akash-network/community-global

# Order is important; the last matching pattern takes the most
# all teams including community-global reside under codeowners group.
# this way only codeowners needs write access to the repo.
# all nested groups are inheriting access

sig-analytics/ @akash-network/sig-analytics
sig-chain/ @akash-network/sig-chain
sig-community/ @akash-network/sig-community
sig-clients/ @akash-network/sig-clients
sig-deployments/ @akash-network/sig-deployments
sig-documentation/ @akash-network/sig-documentation
sig-economics/ @akash-network/sig-economics
sig-education/ @akash-network/sig-education
sig-network-upgrades/ @akash-network/sig-network-upgrades
sig-providers/ @akash-network/sig-providers
sig-support/ @akash-network/sig-support
